<div class="line_bank_bankground_color">
  <nz-page-header class="site-page-header" style=" width: 100%;padding-top: 24px;">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page1" (click)="changePage(Page.Page1)">
        <a style="color:black">徵信階段</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="getstepName() == 'APPLCreditL2'|| getstepName() == 'APPLCreditL1'"
        [class.active]="nowPage === Page.Page2" (click)="changePage(Page.Page2)">
        <a>授信階段</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page3" (click)="changePage(Page.Page3)">
        <a>產生合約前回查</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item *ngIf="getLevel() == 'Y'" [class.active]="nowPage === Page.Page4"
        (click)="changePage(Page.Page4)">
        <a>風險模型資訊</a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>
  <ng-container appDynamic></ng-container>
  <!-- <div style="margin-top: 20px; margin-left: 5px;">
    <button class="btn" nz-button nzType="primary" [nzSize]="'middle'" [class.active]="nowPage === Page.Page1" style="margin-bottom: 5px; margin-left: 5px;"
      (click)="changePage(Page.Page1)">徵信階段</button>
    <button *ngIf="getstepName() == 'APPLCreditL2'|| getstepName() == 'APPLCreditL1'" class="btn" nz-button nzType="primary" [nzSize]="'middle'" [class.active]="nowPage === Page.Page2" style="margin-bottom: 5px; margin-left: 5px;"
      (click)="changePage(Page.Page2)">授信階段</button>
    <button class="btn" nz-button nzType="primary" [nzSize]="'middle'" [class.active]="nowPage === Page.Page3" style="margin-bottom: 5px; margin-left: 5px;"
      (click)="changePage(Page.Page3)">產生合約前回查</button>
      <button *ngIf="getLevel() == 'Y'" class="btn" nz-button nzType="primary" [nzSize]="'middle'" [class.active]="nowPage === Page.Page4" style="margin-bottom: 5px; margin-left: 5px;"
      (click)="changePage(Page.Page4)">風險模型資訊</button>
  </div> -->
</div>
<!-- <br>
<ng-container appDynamic></ng-container> -->
