<div style="margin-top: 5px; margin-left: 5px; width: 100%;">
    <button class = "btn" routerLinkActive="active" style="margin-bottom: 5px; margin-left: 5px;" mat-stroked-button routerLink="./CHILDSCN10PAGE1"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid(), queryDate: getDate(), routerCase: getRouterCase(), fds: getFds() }">徵信階段</button>
    <button class = "btn" routerLinkActive="active" style="margin-bottom: 5px; margin-left: 5px;" mat-stroked-button routerLink="./CHILDSCN10PAGE2"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid(), queryDate: getDate(), routerCase: getRouterCase(), fds: getFds() }">授信階段</button>
    <button class = "btn" routerLinkActive="active" style="margin-bottom: 5px; margin-left: 5px;" mat-stroked-button routerLink="./CHILDSCN10PAGE3"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid(), queryDate: getDate(), routerCase: getRouterCase(), fds: getFds() }">產生合約前回查</button>
  </div>
  <router-outlet></router-outlet>

