<div class="f01_div" style="padding-left: 20px; padding-top: 20px;">
    <button mat-raised-button color="primary" (click)="reSearch()">重查</button>
    <button mat-raised-button color="primary" (click)="close()">關閉</button>
</div>
<table class="form1">
    <tr class="tbTitle">
        <th>客戶類別</th>
        <th>核心資訊</th>
        <th>CSS</th>
        <th>資料比對</th>
        <th>FDS</th>
        <th>RPM</th>
        <th>JCIC組合查詢SC1</th>
        <th>DSS</th>
    </tr>
    <tr class="tbContext">
        <th>{{ swcID }}</th>
        <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcBank');"></th>
        <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcCSS');"></th>
        <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcCondition');"></th>
        <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcFDS');"></th>
        <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcRPM');"></th>
        <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'SC1');"></th>
        <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcDSS');"></th>
    </tr>
</table>
