<th class="f01_th">綜合授信、房貸業務分類及擔保品資訊</th>
<br>
<mat-table [dataSource]="BAM421Source" matSortDisableClear>
  <ng-container matColumnDef="DATA_YYY">
    <mat-header-cell *matHeaderCellDef>資料年度</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_YYY }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DATA_MM">
    <mat-header-cell *matHeaderCellDef>資料月份</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_MM }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_CODE">
    <mat-header-cell *matHeaderCellDef>行庫代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>行庫名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACCOUNT_CODE">
    <mat-header-cell *matHeaderCellDef>科目別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ACCOUNT_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACCOUNT_CODE2">
    <mat-header-cell *matHeaderCellDef>科目別註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ACCOUNT_CODE2 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PURPOSE_CODE">
    <mat-header-cell *matHeaderCellDef>用途別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PURPOSE_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_AMT1">
    <mat-header-cell *matHeaderCellDef>綜合額度金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_AMT1 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_AMT">
    <mat-header-cell *matHeaderCellDef>分項額度金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LOAN_AMT">
    <mat-header-cell *matHeaderCellDef>未逾期金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.LOAN_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PASS_DUE_AMT">
    <mat-header-cell *matHeaderCellDef>逾期未還金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PASS_DUE_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PAY_CODE_12">
    <mat-header-cell *matHeaderCellDef>12期還款記錄</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PAY_CODE_12 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="IS_KIND">
    <mat-header-cell *matHeaderCellDef>擔保品類別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IS_KIND }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PROJECT_CODE">
    <mat-header-cell *matHeaderCellDef>政府專案貸款分類代碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PROJECT_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CO_LOAN">
    <mat-header-cell *matHeaderCellDef>共同借款註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CO_LOAN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="UN_MARK">
    <mat-header-cell *matHeaderCellDef>聯貸註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.UN_MARK }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="U_YYYMMDD">
    <mat-header-cell *matHeaderCellDef>聯貸日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.U_YYYMMDD }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="U_RATE">
    <mat-header-cell *matHeaderCellDef>參貸比例</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.U_RATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="IB_MARK">
    <mat-header-cell *matHeaderCellDef>資金流向註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IB_MARK }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="IAB_BAN">
    <mat-header-cell *matHeaderCellDef>資金流向非法人組織 統編</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IAB_BAN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="IAB_NAME">
    <mat-header-cell *matHeaderCellDef>資金流向非法人組織 名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IAB_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_MARK">
    <mat-header-cell *matHeaderCellDef>額度特別註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_MARK }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_CODE">
    <mat-header-cell *matHeaderCellDef>本階額度代碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_CODE1">
    <mat-header-cell *matHeaderCellDef>最高階額度代碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_CODE1 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CON_BAN">
    <mat-header-cell *matHeaderCellDef>最高階額度所屬公司統編</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CON_BAN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CON_NAME">
    <mat-header-cell *matHeaderCellDef>最高階額度所屬公司名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CON_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACT_Y_MARK">
    <mat-header-cell *matHeaderCellDef>Ｙ科目之額度註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ACT_Y_MARK }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_AMT_Y">
    <mat-header-cell *matHeaderCellDef>現金卡日報Ｙ科目之可動用額度</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_AMT_Y }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="AC_AMT">
    <mat-header-cell *matHeaderCellDef>授信1千元之原始金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.AC_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ASST_DATA_YYY">
    <mat-header-cell *matHeaderCellDef>債權證券化資料年</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ASST_DATA_YYY }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ASST_DATA_MM">
    <mat-header-cell *matHeaderCellDef>債權證券化資料月</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ASST_DATA_MM }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ASST_IDN_BAN">
    <mat-header-cell *matHeaderCellDef>債權證券化受託機構統一編號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ASST_IDN_BAN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ASST_NAME">
    <mat-header-cell *matHeaderCellDef>債權證券化受託機構名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ASST_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CURRENCY_CODE_3">
    <mat-header-cell *matHeaderCellDef>幣別代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CURRENCY_CODE_3 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CYCLE_FLAG">
    <mat-header-cell *matHeaderCellDef>循環信用註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CYCLE_FLAG }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="OFF_FLAG">
    <mat-header-cell *matHeaderCellDef>額度可否撤銷</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.OFF_FLAG }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LOAN_TYPE">
    <mat-header-cell *matHeaderCellDef>房貸業務分類</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.LOAN_TYPE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LOCATE_NM_1">
    <mat-header-cell *matHeaderCellDef>擔保品所在地一</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.LOCATE_NM_1 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LOCATE_NM_2">
    <mat-header-cell *matHeaderCellDef>擔保品所在地二</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.LOCATE_NM_2 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LOCATE_NM_3">
    <mat-header-cell *matHeaderCellDef>擔保品所在地三</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.LOCATE_NM_3 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FILLER">
    <mat-header-cell *matHeaderCellDef>保留欄位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FILLER }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['DATA_YYY', 'DATA_MM', 'BANK_CODE', 'BANK_NAME', 'ACCOUNT_CODE',
   'ACCOUNT_CODE2', 'PURPOSE_CODE', 'CONTRACT_AMT1', 'CONTRACT_AMT', 'LOAN_AMT', 'PASS_DUE_AMT', 'PAY_CODE_12',
    'IS_KIND', 'PROJECT_CODE', 'CO_LOAN', 'UN_MARK', 'U_YYYMMDD', 'U_RATE', 'IB_MARK', 'IAB_BAN',
     'IAB_NAME', 'CONTRACT_MARK', 'CONTRACT_CODE', 'CONTRACT_CODE1', 'CON_BAN', 'CON_NAME', 'ACT_Y_MARK',
   'CONTRACT_AMT_Y', 'AC_AMT', 'ASST_DATA_YYY', 'ASST_DATA_MM', 'ASST_IDN_BAN', 'ASST_NAME', 'CURRENCY_CODE_3',
    'CYCLE_FLAG', 'OFF_FLAG', 'LOAN_TYPE', 'LOCATE_NM_1', 'LOCATE_NM_2', 'LOCATE_NM_3', 'FILLER']"></mat-header-row>
  <mat-row *matRowDef="let BAM421SourceRow; columns: ['DATA_YYY', 'DATA_MM', 'BANK_CODE', 'BANK_NAME',
   'ACCOUNT_CODE', 'ACCOUNT_CODE2', 'PURPOSE_CODE', 'CONTRACT_AMT1', 'CONTRACT_AMT', 'LOAN_AMT', 'PASS_DUE_AMT',
    'PAY_CODE_12', 'IS_KIND', 'PROJECT_CODE', 'CO_LOAN', 'UN_MARK', 'U_YYYMMDD', 'U_RATE', 'IB_MARK', 'IAB_BAN',
     'IAB_NAME', 'CONTRACT_MARK', 'CONTRACT_CODE', 'CONTRACT_CODE1', 'CON_BAN', 'CON_NAME', 'ACT_Y_MARK',
      'CONTRACT_AMT_Y', 'AC_AMT', 'ASST_DATA_YYY', 'ASST_DATA_MM', 'ASST_IDN_BAN', 'ASST_NAME', 'CURRENCY_CODE_3',
       'CYCLE_FLAG', 'OFF_FLAG', 'LOAN_TYPE', 'LOCATE_NM_1', 'LOCATE_NM_2', 'LOCATE_NM_3', 'FILLER']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
