:host {
  display: block;
  position: fixed;
  top: 150px;
  right: 0;
  max-height: 70vh;
  border-radius:10px;
  /* box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0); */
  overflow: auto;
}
.ant-btn-dangerous{
  border-radius: 5px;
}

.table1 {
	border-style: solid;
	border-width: 1px;
	width: 100%;
}

.tdtitle1 {
	border-style: solid;
	border-width: 1px;
	background-color: #00cc66;
}

.tdtitle2 {
	border-style: solid;
	border-width: 1px;
	background-color: #cc66ff;
}

.tdbody {
	border-style: solid;
	border-width: 1px;
	background-color: #99ff99;
}

form {
	padding-left: 20px;
	padding-right: 20px;
}

.ant-btn-dangerous {
	border-radius: 5px;
}
.txt1 {
	width: 100%;
	height: 60px;
	border-radius: 5px;
}
.txt2 {
	width: 95%;
	height: 100%;
	border-radius: 5px;
	margin: 0 3px;
}
.txt3 {
	width: 95%;
	height: 100%;
	border-radius: 5px;
	margin: 0 3px;
}

.example-box {
	width: 95%;
	height: 95%;
	border: solid 1px #ccc;
	color: rgba(0, 0, 0, 0.87);
	cursor: move;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
	background: #fff;
	border-radius: 4px;
	position: relative;
	z-index: 1;
	transition: box-shadow 200ms cubic-bezier(0, 0, 0.2, 1);
	box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
}

.example-box:active {
	box-shadow: 0 5px 5px -3px rgba(0, 0, 0, 0.2), 0 8px 10px 1px rgba(0, 0, 0, 0.14), 0 3px 14px 2px rgba(0, 0, 0, 0.12);
}
:host::ng-deep.ant-checkbox+span {
padding-left: 5px;
padding-right: 5px;
}
:host::ng-deep.ant-table-pagination.ant-pagination{
	margin:15px 0 0 0;
}
