<!-- 最外層卡片包覆 -->
<div class="line_bank_card_no_padding">
  <!-- 表格 -->
  <nz-table [nzData]="MDtable" nzSize="small" nzTitle="照會項目">
    <thead>
      <tr>
        <th class="table-header" style="width:1%">No</th>
        <th class="table-header" style="width:6%">項目</th>
        <th class="table-header" style="width:2%">提問</th>
        <th class="table-header" style="width:18%">核對資料(雙擊取消)</th>
        <th class="table-header" style="width:20%">回答狀況(雙擊取消)</th>
        <th class="table-header" style="width:20%">其他備註</th>
        <th class="table-header" style="width:15%">確認時間</th>
        <th class="table-header" style="width:15%">確認人員</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="table-data" rowspan="3">03</td>
        <td class="table-data">{{ MDtable[0]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[0]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[0].CHECK_DATA" name="CHECK_DATA1">
            <label nz-radio (dblclick)="dblclick(MDtable[0],'CHECK_DATA')" nzValue="1">身分證號</label>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'CHECK_DATA')" nzValue="2">出生日期</label>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'CHECK_DATA')" nzValue="3">居住地址</label>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'CHECK_DATA')" nzValue="4">公司電話</label>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'CHECK_DATA')" nzValue="5">E-MAIL</label>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'CHECK_DATA')" nzValue="6">手機</label>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'CHECK_DATA')" nzValue="7">其他不限</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[0].REPLY_CONDITION" name="REPLY_CONDITION1" [disabled]="MDtable[0].CHECK_DATA==null || MDtable[0].CHECK_DATA=='' || MDtable[0].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[0],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[0],'REPLY_CONDITION')" nzValue="Z" >其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[0].CHECK_NOTE" (keyup)="checkSpecificKey(0)" name="CHECK_NOTE1" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE1">{{MDtable[0].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[0].CHECK_EMPNO" disabled  name="CHECK_EMPNO1"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">{{ MDtable[1]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[1]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[1].CHECK_DATA" name="CHECK_DATA2">
            <label nz-radio (dblclick)="dblclick(MDtable[1],'CHECK_DATA')" nzValue="1">身分證號</label>
            <label nz-radio (dblclick)="dblclick(MDtable[1],'CHECK_DATA')" nzValue="2">出生日期</label>
            <label nz-radio (dblclick)="dblclick(MDtable[1],'CHECK_DATA')" nzValue="3">居住地址</label>
            <label nz-radio (dblclick)="dblclick(MDtable[1],'CHECK_DATA')" nzValue="4">公司電話</label>
            <label nz-radio (dblclick)="dblclick(MDtable[1],'CHECK_DATA')" nzValue="5">E-MAIL</label>
            <label nz-radio (dblclick)="dblclick(MDtable[1],'CHECK_DATA')" nzValue="6">手機</label>
            <label nz-radio (dblclick)="dblclick(MDtable[1],'CHECK_DATA')" nzValue="7">其他不限</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[1].REPLY_CONDITION" name="REPLY_CONDITION2" [disabled]="MDtable[1].CHECK_DATA==null || MDtable[1].CHECK_DATA=='' || MDtable[1].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[1],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[1],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[1],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[1].CHECK_NOTE" (keyup)="checkSpecificKey(1)" name="CHECK_NOTE2" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE2">{{MDtable[1].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[1].CHECK_EMPNO" disabled name="CHECK_EMPNO2"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">{{ MDtable[2]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[2]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[2].CHECK_DATA" name="CHECK_DATA3">
            <label nz-radio (dblclick)="dblclick(MDtable[2],'CHECK_DATA')" nzValue="1">身分證號</label>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'CHECK_DATA')" nzValue="2">出生日期</label>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'CHECK_DATA')" nzValue="3">居住地址</label>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'CHECK_DATA')" nzValue="4">公司電話</label>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'CHECK_DATA')" nzValue="5">E-MAIL</label>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'CHECK_DATA')" nzValue="6">手機</label>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'CHECK_DATA')" nzValue="7">其他不限</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[2].REPLY_CONDITION" name="REPLY_CONDITION3" [disabled]="MDtable[2].CHECK_DATA==null || MDtable[2].CHECK_DATA=='' || MDtable[2].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[2],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[2],'REPLY_CONDITION')"  nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[2].CHECK_NOTE" (keyup)="checkSpecificKey(2)" name="CHECK_NOTE3" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE3">{{MDtable[2].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[2].CHECK_EMPNO" disabled name="CHECK_EMPNO3"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">04</td>
        <td class="table-data">{{ MDtable[3]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[3]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[3].REPLY_CONDITION" name="REPLY_CONDITION4" >
            <label nz-radio (dblclick)="dblclick(MDtable[3],'REPLY_CONDITION')" nzValue="4">願意提供(備註)</label>
            <label nz-radio (dblclick)="dblclick(MDtable[3],'REPLY_CONDITION')" nzValue="5">不願提供</label>
            <label nz-radio (dblclick)="dblclick(MDtable[3],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[3].CHECK_NOTE" (keyup)="checkSpecificKey(3)" name="CHECK_NOTE4" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE4">{{MDtable[3].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[3].CHECK_EMPNO" disabled name="CHECK_EMPNO4"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data" rowspan="3">05</td>
        <td class="table-data">{{ MDtable[4]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[4]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[4].CHECK_DATA" name="CHECK_DATA5">
            <label nz-radio (dblclick)="dblclick(MDtable[4],'CHECK_DATA')" nzValue="7">信用卡</label>
            <label nz-radio (dblclick)="dblclick(MDtable[4],'CHECK_DATA')" nzValue="8">信貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[4],'CHECK_DATA')" nzValue="9">房貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[4],'CHECK_DATA')" nzValue="10">車貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[4],'CHECK_DATA')" nzValue="11">從債務</label>
            <label nz-radio (dblclick)="dblclick(MDtable[4],'CHECK_DATA')" nzValue="Z">其他不限:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[4].REPLY_CONDITION" name="REPLY_CONDITION5" [disabled]="MDtable[4].CHECK_DATA==null || MDtable[4].CHECK_DATA=='' || MDtable[4].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[4],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[4],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[4],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[4],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[4].CHECK_NOTE" (keyup)="checkSpecificKey(4)" name="CHECK_NOTE5" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE5">{{MDtable[4].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[4].CHECK_EMPNO" disabled name="CHECK_EMPNO5"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">{{ MDtable[5]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[5]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[5].CHECK_DATA" name="CHECK_DATA6">
            <label nz-radio (dblclick)="dblclick(MDtable[5],'CHECK_DATA')" nzValue="7">信用卡</label>
            <label nz-radio (dblclick)="dblclick(MDtable[5],'CHECK_DATA')" nzValue="8">信貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[5],'CHECK_DATA')" nzValue="9">房貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[5],'CHECK_DATA')" nzValue="10">車貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[5],'CHECK_DATA')" nzValue="11">從債務</label>
            <label nz-radio (dblclick)="dblclick(MDtable[5],'CHECK_DATA')" nzValue="Z">其他不限:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[5].REPLY_CONDITION" name="REPLY_CONDITION6" [disabled]="MDtable[5].CHECK_DATA==null || MDtable[5].CHECK_DATA=='' || MDtable[5].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[5],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[5],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[5],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[5],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[5].CHECK_NOTE" (keyup)="checkSpecificKey(5)" name="CHECK_NOTE6" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE6">{{MDtable[5].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[5].CHECK_EMPNO" disabled name="CHECK_EMPNO6"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">{{ MDtable[6]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[6]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[6].CHECK_DATA" name="CHECK_DATA7">
            <label nz-radio (dblclick)="dblclick(MDtable[6],'CHECK_DATA')" nzValue="7">信用卡</label>
            <label nz-radio (dblclick)="dblclick(MDtable[6],'CHECK_DATA')" nzValue="8">信貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[6],'CHECK_DATA')" nzValue="9">房貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[6],'CHECK_DATA')" nzValue="10">車貸</label>
            <label nz-radio (dblclick)="dblclick(MDtable[6],'CHECK_DATA')" nzValue="11">從債務</label>
            <label nz-radio (dblclick)="dblclick(MDtable[6],'CHECK_DATA')" nzValue="Z">其他不限:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[6].REPLY_CONDITION" name="REPLY_CONDITION7" [disabled]="MDtable[6].CHECK_DATA==null || MDtable[6].CHECK_DATA=='' || MDtable[6].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[6],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[6],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[6],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[6],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[6].CHECK_NOTE" (keyup)="checkSpecificKey(6)" name="CHECK_NOTE7" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE7">{{MDtable[6].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[6].CHECK_EMPNO" disabled name="CHECK_EMPNO7"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">06</td>
        <td class="table-data">{{ MDtable[7]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[7]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[7].CHECK_DATA" name="CHECK_DATA8">
            <label nz-radio (dblclick)="dblclick(MDtable[7],'CHECK_DATA')" nzValue="12">高中以下</label>
            <label nz-radio (dblclick)="dblclick(MDtable[7],'CHECK_DATA')" nzValue="13">專科大學</label>
            <label nz-radio (dblclick)="dblclick(MDtable[7],'CHECK_DATA')" nzValue="14">碩士以上</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[7].REPLY_CONDITION" name="REPLY_CONDITION8" [disabled]="MDtable[7].CHECK_DATA==null || MDtable[7].CHECK_DATA=='' || MDtable[7].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[7],'REPLY_CONDITION')" nzValue="6">畢業學校(備註)</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[7].CHECK_NOTE" (keyup)="checkSpecificKey(7)" name="CHECK_NOTE8" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE8">{{MDtable[7].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[7].CHECK_EMPNO" disabled name="CHECK_EMPNO8"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">07</td>
        <td class="table-data">{{ MDtable[8]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[8]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[8].CHECK_DATA" name="CHECK_DATA9">
            <label nz-radio (dblclick)="dblclick(MDtable[8],'CHECK_DATA')" nzValue="15">比對相符</label>
            <label nz-radio (dblclick)="dblclick(MDtable[8],'CHECK_DATA')" nzValue="16">比對不符</label>
            <label nz-radio (dblclick)="dblclick(MDtable[8],'CHECK_DATA')" nzValue="17">無需確認</label>
            <label nz-radio (dblclick)="dblclick(MDtable[8],'CHECK_DATA')" nzValue="Y">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[8].REPLY_CONDITION" name="REPLY_CONDITION9" [disabled]="MDtable[8].CHECK_DATA==null || MDtable[8].CHECK_DATA=='' || MDtable[8].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[8],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[8],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[8],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[8],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[8].CHECK_NOTE" (keyup)="checkSpecificKey(8)" name="CHECK_NOTE9" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE9">{{MDtable[8].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[8].CHECK_EMPNO" disabled name="CHECK_EMPNO9"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">08</td>
        <td class="table-data">{{ MDtable[9]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[9]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[9].CHECK_DATA" name="CHECK_DATA10">
            <label nz-radio (dblclick)="dblclick(MDtable[9],'CHECK_DATA')" nzValue="15">比對相符</label>
            <label nz-radio (dblclick)="dblclick(MDtable[9],'CHECK_DATA')" nzValue="16">比對不符</label>
            <label nz-radio (dblclick)="dblclick(MDtable[9],'CHECK_DATA')" nzValue="17">無需確認</label>
            <label nz-radio (dblclick)="dblclick(MDtable[9],'CHECK_DATA')" nzValue="Y">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[9].REPLY_CONDITION" name="REPLY_CONDITION10" [disabled]="MDtable[9].CHECK_DATA==null || MDtable[9].CHECK_DATA=='' || MDtable[9].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[9],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[9],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[9],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[9],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[9].CHECK_NOTE" (keyup)="checkSpecificKey(9)" name="CHECK_NOTE10" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE10">{{MDtable[9].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[9].CHECK_EMPNO" disabled name="CHECK_EMPNO10"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">09</td>
        <td class="table-data">{{ MDtable[10]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[10]?.txt}}</td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[10].CHECK_DATA" name="CHECK_DATA11">
            <label nz-radio (dblclick)="dblclick(MDtable[10],'CHECK_DATA')" nzValue="15">比對相符</label>
            <label nz-radio (dblclick)="dblclick(MDtable[10],'CHECK_DATA')" nzValue="16">比對不符</label>
            <label nz-radio (dblclick)="dblclick(MDtable[10],'CHECK_DATA')" nzValue="17">無需確認</label>
            <label nz-radio (dblclick)="dblclick(MDtable[10],'CHECK_DATA')" nzValue="Y">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[10].REPLY_CONDITION" name="REPLY_CONDITION11" [disabled]="MDtable[10].CHECK_DATA==null || MDtable[10].CHECK_DATA=='' || MDtable[10].CHECK_DATA==undefined">
            <label nz-radio (dblclick)="dblclick(MDtable[10],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[10],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[10],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[10],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[10].CHECK_NOTE" (keyup)="checkSpecificKey(10)" name="CHECK_NOTE11" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE11">{{MDtable[10].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[10].CHECK_EMPNO" disabled name="CHECK_EMPNO11"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">10</td>
        <td class="table-data">{{ MDtable[11]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[11]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[11].REPLY_CONDITION" name="REPLY_CONDITION12">
            <label nz-radio (dblclick)="dblclick(MDtable[11],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[11],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[11],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[11],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[11].CHECK_NOTE" (keyup)="checkSpecificKey(11)" name="CHECK_NOTE12" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE12">{{MDtable[11].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[11].CHECK_EMPNO" disabled name="CHECK_EMPNO12"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">11</td>
        <td class="table-data">{{ MDtable[12]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[12]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[12].REPLY_CONDITION" name="REPLY_CONDITION13">
            <label nz-radio (dblclick)="dblclick(MDtable[12],'REPLY_CONDITION')" nzValue="1">正確</label>
            <label nz-radio (dblclick)="dblclick(MDtable[12],'REPLY_CONDITION')" nzValue="2">不清楚</label>
            <label nz-radio (dblclick)="dblclick(MDtable[12],'REPLY_CONDITION')" nzValue="3">錯誤</label>
            <br>
            <label nz-radio (dblclick)="dblclick(MDtable[12],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[12].CHECK_NOTE" (keyup)="checkSpecificKey(12)" name="CHECK_NOTE13" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE13">{{MDtable[12].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[12].CHECK_EMPNO" disabled name="CHECK_EMPNO13"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">12</td>
        <td class="table-data">{{ MDtable[13]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[13]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">此區提供可複選
          <nz-checkbox-wrapper *ngFor="let data of REPLY_CONDITION14code;">
            <div nz-row>
              <label nz-checkbox nzValue={{data.viewValue}} [(ngModel)]="data.checked"
                name={{data.viewValue}}>{{data.viewValue}}</label>
            </div>
          </nz-checkbox-wrapper>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[13].CHECK_NOTE" (keyup)="checkSpecificKey(13)" name="CHECK_NOTE14" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE14">{{MDtable[13].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[13].CHECK_EMPNO" disabled name="CHECK_EMPNO14"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data" rowspan="2">13</td>
        <td class="table-data">{{ MDtable[14]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[14]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[14].REPLY_CONDITION" name="REPLY_CONDITION15">
            <label nz-radio (dblclick)="dblclick(MDtable[14],'REPLY_CONDITION')" nzValue="7">有(備註)</label>
            <label nz-radio (dblclick)="dblclick(MDtable[14],'REPLY_CONDITION')" nzValue="8">無</label>
            <label nz-radio (dblclick)="dblclick(MDtable[14],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[14].CHECK_NOTE" (keyup)="checkSpecificKey(14)" name="CHECK_NOTE15" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE15">{{MDtable[14].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[14].CHECK_EMPNO" disabled name="CHECK_EMPNO15"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">{{ MDtable[15]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[15]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[15].REPLY_CONDITION" name="REPLY_CONDITION16">
            <label nz-radio (dblclick)="dblclick(MDtable[15],'REPLY_CONDITION')" nzValue="7">有(備註)</label>
            <label nz-radio (dblclick)="dblclick(MDtable[15],'REPLY_CONDITION')" nzValue="8">無</label>
            <label nz-radio (dblclick)="dblclick(MDtable[15],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[15].CHECK_NOTE" (keyup)="checkSpecificKey(15)" name="CHECK_NOTE16" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE16">{{MDtable[15].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[15].CHECK_EMPNO" disabled name="CHECK_EMPNO16"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">14</td>
        <td class="table-data">{{ MDtable[16]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[16]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">此區提供可複選
          <nz-checkbox-wrapper *ngFor="let data of REPLY_CONDITION17code;">
            <div nz-row>
              <label nz-checkbox nzValue={{data.viewValue}} [(ngModel)]="data.checked"
                name={{data.viewValue}}>{{data.viewValue}}</label>
            </div>
          </nz-checkbox-wrapper>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[16].CHECK_NOTE" (keyup)="checkSpecificKey(16)" name="CHECK_NOTE17" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE17">{{MDtable[16].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[16].CHECK_EMPNO" disabled name="CHECK_EMPNO17"></textarea>
        </td>
      </tr>


      <tr>
        <td class="table-data">15</td>
        <td class="table-data">{{ MDtable[17]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[17]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[17].REPLY_CONDITION" name="REPLY_CONDITION18">
            <label nz-radio (dblclick)="dblclick(MDtable[17],'REPLY_CONDITION')" nzValue="7">有(備註)</label>
            <label nz-radio (dblclick)="dblclick(MDtable[17],'REPLY_CONDITION')" nzValue="8">無</label>
            <label nz-radio (dblclick)="dblclick(MDtable[17],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[17].CHECK_NOTE" (keyup)="checkSpecificKey(17)" name="CHECK_NOTE18" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE18">{{MDtable[17].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[17].CHECK_EMPNO" disabled name="CHECK_EMPNO18"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">16</td>
        <td class="table-data">{{ MDtable[18]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[18]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[18].REPLY_CONDITION" name="REPLY_CONDITION19">
            <label nz-radio (dblclick)="dblclick(MDtable[18],'REPLY_CONDITION')" nzValue="7">有(備註)</label>
            <label nz-radio (dblclick)="dblclick(MDtable[18],'REPLY_CONDITION')" nzValue="8">無</label>
            <label nz-radio (dblclick)="dblclick(MDtable[18],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[18].CHECK_NOTE" (keyup)="checkSpecificKey(18)" name="CHECK_NOTE19" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE19">{{MDtable[18].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[18].CHECK_EMPNO" disabled name="CHECK_EMPNO19"></textarea>
        </td>
      </tr>

      <tr>
        <td class="table-data">17</td>
        <td class="table-data">{{ MDtable[19]?.MD_NO.viewValue }}</td>
        <td class="table-data">{{MDtable[19]?.txt}}</td>
        <td class="table-data"></td>
        <td class="table-data">
          <nz-radio-group [(ngModel)]="MDtable[19].REPLY_CONDITION" name="REPLY_CONDITION20">
            <label nz-radio (dblclick)="dblclick(MDtable[19],'REPLY_CONDITION')" nzValue="7">有(備註)</label>
            <label nz-radio (dblclick)="dblclick(MDtable[19],'REPLY_CONDITION')" nzValue="8">無</label>
            <label nz-radio (dblclick)="dblclick(MDtable[19],'REPLY_CONDITION')" nzValue="Z">其他:</label>
          </nz-radio-group>
        </td>
        <td class="table-data">
          <textarea class="txt1" [(ngModel)]="MDtable[19].CHECK_NOTE" (keyup)="checkSpecificKey(19)" name="CHECK_NOTE20" class="txt1" maxlength="100"
            rows="4"></textarea>
        </td>
        <td class="table-data">
          <textarea class="txt2" disabled
            name="CHECK_DATE20">{{MDtable[19].CHECK_DATE| date:"yyyy-MM-dd HH:mm"}}</textarea>
        </td>
        <td class="table-data">
          <textarea class="txt3" [(ngModel)]="MDtable[19].CHECK_EMPNO" disabled name="CHECK_EMPNO20"></textarea>
        </td>
      </tr>
    </tbody>
  </nz-table>
  <br>
  <div mat-dialog-actions style="padding:5px;text-align: center">
    <button nz-button [nzSize]="'middle'" nzType="primary" [mat-dialog-close]="1" style="margin:0px 5px"
      (click)="save()">儲存</button>
    <button nz-button [nzSize]="'middle'" nzDanger (click)="onNoClick()" tabindex="-1"
      style="margin:0px 5px">取消</button>
  </div>
</div>
