<div class="line_bank_bankground_color">
    <br>
    <div class="line_bank_card_no_padding">
        <div nz-row>
            <div nz-col nzSpan="4">
                <div style="padding:10px"><span class="form-title" style="margin:0px">公司統編:</span><input placeholder="請輸入公司統編" style="display: block;" [(ngModel)]="cuCpNo" name="cuCpNo" maxlength="8" oninput="value=value.replace(/[^\d]/g,'')"></div>
            </div>
            <div nz-col nzSpan="4">
                <div style="padding:10px"><span class="form-title" style="margin:0px">公司名稱：</span><input placeholder="請輸入公司名稱" style="display: block;" [(ngModel)]="cuCpName" name="cuCpName"></div>
            </div>
            <div nz-col nzSpan="4">
                <div style="padding:10px"><span class="form-title" style="margin:0px">公司簡稱：</span><input placeholder="請輸入公司簡稱" style="display: block;" [(ngModel)]="cuCpSname" name="cuCpSname"></div>
            </div>
            <div nz-col nzSpan="4">
                <div style="padding:10px"><span class="form-title" style="margin:0px">分類1:</span>
                    <mat-select [(ngModel)]="cuCpType1Value" name="cuCpType1Value">
                        <mat-option *ngFor="let code of cuCpType1Code" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div nz-col nzSpan="4">
                <div style="padding:10px"><span class="form-title" style="margin:0px">分類2:</span>
                    <mat-select [(ngModel)]="cuCpType2Value" name="cuCpType2Value">
                        <mat-option *ngFor="let code of cuCpType2Code" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>

            <div nz-col nzSpan="4">
                <div style="padding:10px"><span class="form-title" style="margin:0px">使用中</span>
                    <mat-select [(ngModel)]="useFlagValue" name="useFlagValue">
                        <mat-option *ngFor="let item of useFlagCode" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
        </div>
        <div style="padding-bottom: 20px; margin-top: 20px; z-index:90;text-align: center">
            <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="getElBigCompanyList(this.pageIndex, this.pageSize)">查詢</button>
            <button nz-button [nzSize]="'middle'" nzDanger style="margin:0px 5px" (click)="Clear()">清除資料</button>
        </div>
    </div>
    <div class="line_bank_card_no_padding">
        <nz-table nzShowSizeChanger [nzData]="cuCpSource" [nzFrontPagination]="false" [nzPageSizeOptions]="true" [nzSimple]="true" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="千大企業名單維護" (nzQueryParams)="onQueryParamsChange($event)">
            <thead>
                <tr>
                    <th class="table-header">序號</th>
                    <th class="table-header" nzWidth="120px">公司統編</th>
                    <th class="table-header" nzWidth="300px">公司名稱</th>
                    <th class="table-header" nzWidth="200px">公司簡稱</th>
                    <th class="table-header">分類1</th>
                    <th class="table-header">分類2</th>
                    <th class="table-header">分類3</th>
                    <th class="table-header">使用中</th>
                    <th class="table-header" nzWidth="300px">備註</th>
                    <th class="table-header">更新日期時間</th>
                    <th class="table-header">編輯</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of cuCpSource;let i = index">
                    <td class="table-data">{{i+1}}</td>
                    <td class="table-data">{{row.cuCpNo}}</td>
                    <td class="table-data">{{row.cuCpName}}</td>
                    <td class="table-data">{{row.cuCpSname}}</td>
                    <td class="table-data">{{row.cuCpType1}}</td>
                    <td class="table-data">{{row.cuCpType2}}</td>
                    <td class="table-data">{{row.cuCpType3}}</td>
                    <td class="table-data">{{row.useFlag}}</td>
                    <td class="table-data">{{row.content}}</td>
                    <td class="table-data">{{row.frstCrtnTmstmp| date:'yyyy-MM-dd hh:mm:ss'}}</td>
                    <td class="table-data" style="text-align: center;">
                        <button nz-button [nzSize]="'small'" nzType="primary" (click)="edit(true,row,row.rowId)">編輯</button>

                    </td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div style="padding-bottom: 20px; margin-top: 20px;text-align: center">
        <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="addNew()">新增</button>
        <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="uploadExcel()">上傳Excel</button>
        <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="exportExcel()">匯出Excel</button>
    </div>
</div>
