<div class="line_bank_bankground_color">
  <br>
  <nz-tabset nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./F01008SCN2']">
        <button nz-button nzType="primary" id="firstBtn"> 審核資料</button>
      </a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./F01008SCN3']">
        <button nz-button nzType="primary">行外資料</button>
      </a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./F01008SCN4']">
        <button nz-button nzType="primary">決策結果</button>
      </a>
    </nz-tab>
  </nz-tabset>
  <router-outlet style="padding-top: 120px;display: block;"></router-outlet>
</div>
