<div  style="position: fixed;z-index:50;top:48px;width:100%;">
  <!-- <nz-page-header class="site-page-header"style=" width: 100%;z-index: 60;">
    <nz-breadcrumb nz-page-header-breadcrumb>
        <nz-breadcrumb-item [class.active]="nowPage === Page.Page1" (click)="changePage(Page.Page1)">
            <a>案件清單</a>
        </nz-breadcrumb-item>
        <nz-breadcrumb-item [class.active]="nowPage === Page.Page2" (click)="changePage(Page.Page2)">
            <nz-badge [nzCount]="total" [nzTitle]="null" [nzOffset]="[10, -1]"><a>照會提醒</a></nz-badge>
        </nz-breadcrumb-item>
    </nz-breadcrumb>
</nz-page-header>
<ng-container appDynamic></ng-container> -->


  <nz-tabset nzLinkRouter>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./F01008SCN2']" skipLocationChange>
        <button nz-button nzType="primary" id="firstBtn"> 審核資料</button>
      </a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./F01008SCN3']" skipLocationChange>
        <button nz-button nzType="primary">行外資料</button>
      </a>
    </nz-tab>
    <nz-tab>
      <a *nzTabLink nz-tab-link [routerLink]="['./F01008SCN4']" skipLocationChange>
        <button nz-button nzType="primary">決策結果</button>
      </a>
    </nz-tab>
  </nz-tabset>
</div>
<div style="margin-top: 55px;">

  <router-outlet ></router-outlet>
</div>
<app-f01008add *ngIf="isShowAdd" cdkDrag [data]="addData"></app-f01008add>
<app-f01008edit *ngIf="isShowEdit" cdkDrag [data]="editData"></app-f01008edit>
<app-f01008delete *ngIf="isShowdel" cdkDrag ></app-f01008delete>
