mat-grid-tile {
  background: lightblue;
}

th {
  border: 1px solid black;
}

td {
  /* background-color: cornflowerblue; */
  border: 1px solid black;
}

.mat-grid-tile .mat-figure{
  display: none;
}
