mat-grid-tile {
  background: lightblue;
}

th {
  border: 1px solid rgb(130, 130, 130);
}

td {
  /* background-color: cornflowerblue; */
  border: 1px solid rgb(130, 130, 130);
}

.mat-grid-tile .mat-figure{
  display: none;
}
