<div class="container">
  <th class="f03_th">照會話術</th>
  <div>
    <button mat-raised-button color="primary" (click)="Add()">新增</button>
    <button mat-raised-button color="primary" (click)="Clear()">清除資料</button>
    <button mat-raised-button color="primary" (click)="Save()">儲存</button>
  </div>
</div>

<form>
  <table>
    <mat-card class="matCard">
      <mat-card-content>
        <tr>
          <th nowrap="nowrap">話術簡稱</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #inputstate class="form-control" [(ngModel)]="SPEAKING_ABBREVIATION"
                name="SPEAKING_ABBREVIATION">
            </mat-form-field>
          </td>
          <th nowrap="nowrap">暫停使用</th>
          <td>
            <mat-form-field color="accent">
              <mat-select [(ngModel)]="STOP_FLAG_Selected" name="x">
                <mat-option *ngFor="let stop_FLAG of STOP_FLAG" [value]="stop_FLAG.viewValue">
                  {{stop_FLAG.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" valign="middle">話術內容</th>
          <td colspan="4">
            <textarea style="width: 500PX;height:200px;" [(ngModel)]="SPEAKING_CONTENT"
              name="PolicyConditionValue"></textarea>
          </td>
        </tr>
      </mat-card-content>
    </mat-card>
  </table>
</form>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Edid_Delete">
    <th mat-header-cell *matHeaderCellDef> 按鈕 </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="Edit(element)">修改</button>
      <button mat-button color="primary" (click)="Delete(element)">刪除</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="SPEAKING_ABBREVIATION">
    <th mat-header-cell *matHeaderCellDef> 話術簡稱 </th>
    <td mat-cell *matCellDef="let element"> {{element.SPEAKING_ABBREVIATION}} </td>
  </ng-container>


  <ng-container matColumnDef="SPEAKING_CONTENT">
    <th mat-header-cell *matHeaderCellDef> 話術內容 </th>
    <td mat-cell *matCellDef="let element"> {{element.SPEAKING_CONTENT}} </td>
  </ng-container>

  <ng-container matColumnDef="STOP_FLAG">
    <th mat-header-cell *matHeaderCellDef> 暫停使用 </th>
    <td mat-cell *matCellDef="let element"> {{element.STOP_FLAG}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="['Edid_Delete','SPEAKING_ABBREVIATION', 'SPEAKING_CONTENT', 'STOP_FLAG']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['Edid_Delete','SPEAKING_ABBREVIATION', 'SPEAKING_CONTENT', 'STOP_FLAG'];">
  </tr>
</table>
