<div class="container">
  <th class="f03_th">照會話術</th>
  <form [formGroup]="setCalloutSpeakingForm" style="padding-left: 20px;">
    <table style="padding-left: 20px;">
      <div class="f03_div">
        <button mat-raised-button color="primary" (click)="add()">新增</button>
      </div>
      <br>
      <mat-card class="matCard">
        <mat-card-content>
          <tr>
            <th nowrap="nowrap">話術簡稱</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #inputstate class="form-control" formControlName="speakingAbbreviation">
              </mat-form-field>
            </td>
            <th nowrap="nowrap">暫停使用</th>
            <td>
              <mat-form-field color="accent">
                <mat-select formControlName="stopFlag">
                  <mat-option *ngFor="let stopFlag of stopFlagCode" [value]="stopFlag.viewValue">
                    {{stopFlag.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap" valign="middle">話術內容</th>
            <td colspan="4">
              <textarea style="width: 1000PX;height:200px;" formControlName="speakingContent"></textarea>
            </td>
          </tr>
        </mat-card-content>
      </mat-card>
    </table>
  </form>
</div>
<br>
<mat-table [dataSource]="calloutSpeakingSource" matSortDisableClear>
  <ng-container matColumnDef="speakingAbbreviation">
    <mat-header-cell *matHeaderCellDef>話術簡稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.speakingAbbreviation }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="speakingContent">
    <mat-header-cell *matHeaderCellDef>話術內容</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.speakingContent }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="stopFlag">
    <mat-header-cell *matHeaderCellDef>暫停使用</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.stopFlag }}</mat-cell>
  </ng-container>
  
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>編輯</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="accent" (click)="startEdit(
        row.speakingAbbreviation, row.speakingContent, row.stopFlag)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions2">
    <mat-header-cell *matHeaderCellDef>刪除</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="accent" (click)="delete(
        row.speakingAbbreviation)">
        <mat-icon aria-label="delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['speakingAbbreviation', 'speakingContent', 'stopFlag', 'actions', 'actions2']; sticky: true">
  </mat-header-row>
  <mat-row *matRowDef="let ruleParmRow; columns: ['speakingAbbreviation', 'speakingContent', 'stopFlag', 'actions', 'actions2']">
  </mat-row>
</mat-table>
<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>