<div class="container">
    <h2 mat-dialog-title style="display: inline;">財務年收入試算-新增</h2>
    <span style="margin-left: 25px;"><button mat-raised-button color="primary" (click)="save()">儲存</button></span>
    <table>
      <br>
      <mat-card class="matCard">
        <mat-card-content>
          <tr>
            <th nowrap="nowrap">收入項目</th>
            <td>
              <mat-form-field color="accent">
                <mat-select [(ngModel)]="incomeType">
                  <mat-option *ngFor="let income of data.incomeTypeOption" [value]="income.codeNo">
                    {{income.codeDesc}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <th nowrap="nowrap">身份證字號</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #inputstate class="form-control" type="text" [(ngModel)]="cuId">
              </mat-form-field>
            </td>
            <th nowrap="nowrap">姓名</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #inputstate class="form-control" [(ngModel)]="cuCname">
              </mat-form-field>
            </td>
            <th nowrap="nowrap">金額</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #inputstate class="form-control" [(ngModel)]="num">
              </mat-form-field>
            </td>
            <th nowrap="nowrap">月收入例外</th>
            <td>
              <mat-form-field color="accent">
                <mat-select [(ngModel)]="mincomeExp">
                  <mat-option *ngFor="let yn of ynCode" [value]="yn.value">
                    {{yn.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
          </tr>
        </mat-card-content>
      </mat-card>
    </table>
  </div>
  