<!-- <form [formGroup]="dcTransDetailForm" style="padding-left: 20px;"> -->
    <mat-table [dataSource]="dcTransDetailSource" matSortDisableClear>
        <ng-container matColumnDef="TRANS_DATE">
          <mat-header-cell *matHeaderCellDef>交易日期時間</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.TRANS_DATE }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="TRANS_STORE_CODE">
          <mat-header-cell *matHeaderCellDef>交易特店代號</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.TRANS_STORE_CODE }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="MCC">
            <mat-header-cell *matHeaderCellDef>MCC</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.MCC }}</mat-cell>
          </ng-container>
          <ng-container matColumnDef="TRANS_AMOUNT">
            <mat-header-cell *matHeaderCellDef>交易金額（台幣）</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.TRANS_AMOUNT }}</mat-cell>
          </ng-container>
        <mat-header-row *matHeaderRowDef="['TRANS_DATE', 'TRANS_STORE_CODE', 'MCC', 'TRANS_AMOUNT']"></mat-header-row>
        <mat-row *matRowDef="let row; columns: ['TRANS_DATE', 'TRANS_STORE_CODE', 'MCC', 'TRANS_AMOUNT']"></mat-row>
      </mat-table>
    
      <tr>
        <td>
            <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
                [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
            </mat-paginator>
        </td>
      </tr>
    
      <!-- <tr>
        <td>
          <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
          </mat-paginator>
        </td>
      </tr>
        <table>
          <mat-card class="matCard">
            <mat-card-content>
              <tr>
                <th nowrap="nowrap" align="left">交易日期時間</th>
                <td>
                  <mat-form-field color="accent">
                    <input matInput #input formControlName="TRANS_DATE" readonly>
                  </mat-form-field>
                </td>
                <th nowrap="nowrap" align="left">交易特店代號</th>
                <td>
                  <mat-form-field color="accent">
                    <input matInput #input formControlName="TRANS_STORE_CODE" readonly>
                  </mat-form-field>
                </td>
                <th nowrap="nowrap" align="left">MCC</th>
                <td>
                  <mat-form-field color="accent">
                    <input matInput #input formControlName="MCC" readonly>
                  </mat-form-field>
                </td>
              </tr>
              <tr>
                <th nowrap="nowrap" align="left">交易金額（台幣）</th>
                <td>
                  <mat-form-field color="accent">
                    <input matInput #input formControlName="TRANS_AMOUNT" readonly>
                  </mat-form-field>
                </td>
              </tr> -->
            <!-- </mat-card-content>
          </mat-card>
        </table> -->
      <!-- </form> -->
      
