<div class="f03_div" style="padding-left: 20px; padding-top: 20px;">
  <ng-container *ngIf="getSearch() == 'N'; else elseTemplate">
    <button mat-raised-button color="primary" (click)="Add()">新增</button>
  </ng-container>
  <ng-template #elseTemplate>
    <button mat-raised-button color="primary" (click)="Add()" disabled>新增</button>
  </ng-template>
</div>
<br>
<mat-table [dataSource]="CALLOUTSource" matSortDisableClear>

  <ng-container matColumnDef="CON_TEL">
    <mat-header-cell *matHeaderCellDef>電話種類</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CON_TEL_View }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PHONE">
    <mat-header-cell *matHeaderCellDef>電話</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PHONE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CON_TARGET">
    <mat-header-cell *matHeaderCellDef>對象種類</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CON_TARGET_View }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CUST_TYPE">
    <mat-header-cell *matHeaderCellDef>對象註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CUST_TYPE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CON_MEMO">
    <mat-header-cell *matHeaderCellDef>註記種類</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CON_MEMO_View }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="NOTE">
    <mat-header-cell *matHeaderCellDef>註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.NOTE }}</mat-cell>
  </ng-container>

  <ng-container *ngIf="getSearch() == 'N'; else elseTemplate">
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>編輯</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="startEdit(
        row.CON_TEL,row.PHONE,row.CON_TARGET,row.CUST_TYPE,row.CON_MEMO,row.NOTE,row.ID )">
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions2">
      <mat-header-cell *matHeaderCellDef>刪除</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="deleteItem(
          row.CON_TEL,row.PHONE,row.CON_TARGET,row.CUST_TYPE,row.CON_MEMO,row.NOTE,row.ID)">
          <mat-icon aria-label="deleteItem">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </ng-container>
  <ng-template #elseTemplate>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>編輯</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="startEdit(
        row.CON_TEL,row.PHONE,row.CON_TARGET,row.CUST_TYPE,row.CON_MEMO,row.NOTE,row.ID )" disabled>
          <mat-icon aria-label="Edit">edit</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions2">
      <mat-header-cell *matHeaderCellDef>刪除</mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button color="accent" (click)="deleteItem(
          row.CON_TEL,row.PHONE,row.CON_TARGET,row.CUST_TYPE,row.CON_MEMO,row.NOTE,row.ID)" disabled>
          <mat-icon aria-label="deleteItem">delete</mat-icon>
        </button>
      </mat-cell>
    </ng-container>
  </ng-template>

  <mat-header-row
    *matHeaderRowDef="[ 'CON_TEL', 'PHONE', 'CON_TARGET', 'CUST_TYPE', 'CON_MEMO', 'NOTE','actions','actions2']; sticky: true">
  </mat-header-row>
  <mat-row
    *matRowDef="let ruleParmRow; columns: [  'CON_TEL', 'PHONE', 'CON_TARGET', 'CUST_TYPE', 'CON_MEMO', 'NOTE','actions','actions2']">
  </mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>

<div *ngFor="let speaking of speakingData" style="padding-left: 20px;">
  <button type="submit" style="float:left" mat-raised-button
    (click)="ShowspeakingContenta(speaking.speakingContent)">{{speaking.speakingAbbreviation}}</button>
</div>

<br><br>
