<!-- 頁面背景 -->
<div class="line_bank_bankground_color">

  <div class="line_bank_card_no_padding">
    <div class="line_bank_form_header_title">KRM043報送資料比對</div>
    <ng-container *ngIf="compare.length == 0; else elseTemplate">
      <br><br>
      <th style="padding-left: 20px;color: red;">{{ notFind }}</th>
    </ng-container>
    <ng-template #elseTemplate>
      <ng-container *ngFor="let compareRow of compare;let i = index">
        <!-- 第一種 -->
        <div nz-row *ngIf="i==0">
          <div nz-col nzSpan="8" *ngIf="compare[i] !=null && compare[i].result == 'Y'; ">
            <div style="padding:10px"><span class="form-title">{{getOptionDesc(compare[i].compareColumn)}}：</span><input
                style="color: red;display: block;" [(ngModel)]="compare[i].count" name="count" disabled></div>
          </div>
          <div nz-col nzSpan="8" *ngIf="compare[i] !=null && compare[i].result != 'Y'; ">
            <div style="padding:10px"><span class="form-title">{{getOptionDesc(compare[i].compareColumn)}}：</span><input
                style="display: block;" [(ngModel)]="compare[i].count" name="count" disabled></div>
          </div>

          <div nz-col nzSpan="8" *ngIf="compare[i+1] !=null && compare[i+1].result == 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i+1].compareColumn)}}：</span><input
                style="color: red;display: block;" [(ngModel)]="compare[i+1].count" name="count" disabled></div>
          </div>
          <div nz-col nzSpan="8" *ngIf="compare[i+1] !=null && compare[i+1].result != 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i+1].compareColumn)}}：</span><input style="display: block;"
                [(ngModel)]="compare[i+1].count" name="count" disabled></div>
          </div>

          <div nz-col nzSpan="8" *ngIf="compare[i+2] !=null && compare[i+2].result == 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i+2].compareColumn)}}：</span><input
                style="color: red;display: block;" [(ngModel)]="compare[i+2].count" name="count" disabled></div>
          </div>
          <div nz-col nzSpan="8" *ngIf="compare[i+2] !=null && compare[i+2].result != 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i+2].compareColumn)}}：</span><input style="display: block;"
                [(ngModel)]="compare[i+2].count" name="count" disabled></div>
          </div>

        </div>

        <!-- 第二種 -->
        <div nz-row *ngIf="i>0">
          <div nz-col nzSpan="8" *ngIf="compare[i*3] !=null && compare[i*3].result == 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i*3].compareColumn)}}：</span><input
                style="color: red;display: block;" [(ngModel)]="compare[i*3].count" name="count" disabled></div>
          </div>
          <div nz-col nzSpan="8" *ngIf="compare[i*3] !=null && compare[i*3].result != 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i*3].compareColumn)}}：</span><input style="display: block;"
                [(ngModel)]="compare[i*3].count" name="count" disabled></div>
          </div>

          <div nz-col nzSpan="8" *ngIf="compare[i*3+1] !=null && compare[i*3+1].result == 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i*3+1].compareColumn)}}：</span><input
                style="color: red;display: block;" [(ngModel)]="compare[i*3+1].count" name="count" disabled></div>
          </div>
          <div nz-col nzSpan="8" *ngIf="compare[i*3+1] !=null && compare[i*3+1].result != 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i*3+1].compareColumn)}}：</span><input style="display: block;"
                [(ngModel)]="compare[i*3+1].count" name="count" disabled></div>
          </div>

          <div nz-col nzSpan="8" *ngIf="compare[i*3+2] !=null && compare[i*3+2].result == 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i*3+2].compareColumn)}}：</span><input
                style="color: red;display: block;" [(ngModel)]="compare[i*3+2].count" name="count" disabled></div>
          </div>
          <div nz-col nzSpan="8" *ngIf="compare[i*3+2] !=null && compare[i*3+2].result != 'Y'; ">
            <div style="padding:10px"><span
                class="form-title">{{getOptionDesc(compare[i*3+2].compareColumn)}}：</span><input style="display: block;"
                [(ngModel)]="compare[i*3+2].count" name="count" disabled></div>
          </div>

        </div>

      </ng-container>
    </ng-template>
  </div>

<!-- <th class="f01_th">KRM043報送資料比對</th>
<ng-container *ngIf="compare.length == 0; else elseTemplate">
  <br><br>
  <th style="padding-left: 20px;color: red;">查無比對資料</th>
</ng-container>
<ng-template #elseTemplate>
  <table style="padding-left: 20px;">
    <mat-card class="matCard">
      <mat-card-content>
        <ng-container *ngFor="let compare of compare;let i = index">
          <ng-container *ngIf="i % 3 == 0">
            <tr>
          </ng-container>
          <ng-container *ngIf="compare.result == 'Y'; else elseTemplate">
            <th nowrap="nowrap">{{getOptionDesc(compare.compareColumn)}}：</th>
            <td style="color: red;">
              {{compare.count}}
            </td>
          </ng-container>
          <ng-template #elseTemplate>
            <th nowrap="nowrap">{{getOptionDesc(compare.compareColumn)}}：</th>
            <td>
              {{compare.count}}
            </td>
          </ng-template>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </table>
</ng-template>
 -->
