<div class="line_bank_bankground_color">
  <br>
  <div nz-row class="search_row">
    <th style="padding-left: 30px;">案件申覆 共{{this.total}}件</th>
    <div class="search_row_header">
      <div nz-col>
        <div nz-row>
          <div nz-col nzSpan="5">
            <span class="form-title line_bank_h4"> 案件編號</span>
            <div class="form" style="margin:0 auto;width:90%">
              <div><input matInput #input class="form-control" placeholder="請輸入案件編號" [(ngModel)]="applno" name="applno" required>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="5">
            <span class="form-title line_bank_h4">身分證號</span>
            <div class="form" style="margin:0 auto;width:90%">
              <div><input matInput #input class="form-control" placeholder="請輸入身分證號" [(ngModel)]="nationalId" name="nationalId" required>
              </div>
            </div>
          </div>
          <div nz-col nzSpan="5">
            <span class="form-title line_bank_h4">客戶編號</span>
            <div class="form" style="margin:0 auto;width:90%">
              <div><input matInput #input class="form-control" placeholder="請輸入客戶編號" [(ngModel)]="custId" name="custId" required>
              </div>
            </div>
          </div>

          <div nz-col nzSpan="5"></div>

          <div nz-col nzSpan="2" style="margin-top:15px;">
            <div>
              <button nz-button [nzSize]="'middle'" nzType="primary" (click)="select()">查詢案件</button>
            </div>
          </div>
          <div nz-col nzSpan="2" style="margin-top:15px;">
            <div>
              <button nz-button [nzSize]="'middle'" nzType="primary" (click)="clear()">清除資料</button>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="abs-box">
      <div nz-col nzSpan="24">
        <div class="line_bank_card_no_padding">
          <nz-table nzShowSizeChanger [nzData]="cusinfoDataSource" [nzFrontPagination]="false" [nzSimple]="true"
           [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" #middleTable
            nzSize="small" [nzScroll]="{ y: '240px' }">
            <thead>
              <tr>
                <th class="table-header">案件編號</th>
                <th class="table-header">National ID</th>
                <th class="table-header">Customer ID</th>
                <th class="table-header">姓名</th>
                <th class="table-header">核准額度</th>
                <th class="table-header">核准利率</th>
                <th class="table-header">申辦期數</th>
                <th class="table-header">產品代號</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of cusinfoDataSource">
                <td class="table-data">
                  <button nz-button [nzSize]="'middle'" nzType="link"
                    (click)="getRestartCase(data.applno, data.nationalId, data.custId, data.name, data.limit, data.periods, data.rates)">
                    {{data.applno}}
                  </button>
                </td>
                <td class="table-data">{{ data.nationalId }}</td>
                <td class="table-data">{{ data.custId }}</td>
                <td class="table-data">{{ data.name }}</td>
                <td class="table-data">{{ data.limit }}</td>
                <td class="table-data">{{ data.rates }}</td>
                <td class="table-data">{{ data.periods }}</td>
                <td class="table-data">{{ data.code }}</td>
              </tr>
            </tbody>
          </nz-table>
        </div>
      </div>
    </div>
  </div>
</div>
