<div class="line_bank_bankground_color">
  <div style=" width: 100%;position:fixed;z-index:10">
    <nz-tabset nzLinkRouter>
      <nz-tab [nzTitle]="JCIC">
        <ng-template #JCIC let-visible="visible">
          <button nz-button nzSize="small" [ngClass]="hideJCIC ? 'nohide' : 'hide'"
            (click)="showJCIC()">聯徵彙整資訊</button>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="showAll">
        <ng-template #showAll let-visible="visible">
          <button nz-button nzSize="small" [ngClass]="hideAll ? 'nohide' : 'hide'" (click)="all()">Show All</button>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="JCICMASTER">
        <ng-template #JCICMASTER let-visible="visible">
          <a href="#JCICMASTER" nz-button nzSize="small" [ngClass]="hideJCICMASTER ? 'nohide' : 'hide'"
            (click)="show('JCICMASTER')">JCICMASTER</a>
        </ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="KCM012">
        <ng-template #KCM012 let-visible="visible"><a href="#KCM012" nz-button nzSize="small"
            [ngClass]="hideKCM012 ? 'nohide' : 'hide'" (click)="show('KCM012')">KCM012</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="DAM001">
        <ng-template #DAM001 let-visible="visible"><a href="#DAM001" nz-button nzSize="small"
            [ngClass]="hideDAM001 ? 'nohide' : 'hide'" (click)="show('DAM001')">DAM001</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM061">
        <ng-template #BAM061 let-visible="visible"><a href="#BAM061" nz-button nzSize="small"
            [ngClass]="hideBAM061 ? 'nohide' : 'hide'" (click)="show('BAM061')">BAM061</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="KRM043">
        <ng-template #KRM043 let-visible="visible"><a href="#KRM043" nz-button nzSize="small"
            [ngClass]="hideKRM043 ? 'nohide' : 'hide'" (click)="show('KRM043')">KRM043</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM062">
        <ng-template #BAM062 let-visible="visible"><a href="#BAM062" nz-button nzSize="small"
            [ngClass]="hideBAM062 ? 'nohide' : 'hide'" (click)="show('BAM062')">BAM062</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="VAM020">
        <ng-template #VAM020 let-visible="visible"><a href="#VAM020" nz-button nzSize="small"
            [ngClass]="hideVAM020 ? 'nohide' : 'hide'" (click)="show('VAM020')">VAM020</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="VAM201">
        <ng-template #VAM201 let-visible="visible"><a href="#VAM201" nz-button nzSize="small"
            [ngClass]="hideVAM201 ? 'nohide' : 'hide'" (click)="show('VAM201')">VAM201</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="VAM106">
        <ng-template #VAM106 let-visible="visible"><a href="#VAM106" nz-button nzSize="small"
            [ngClass]="hideVAM106 ? 'nohide' : 'hide'" (click)="show('VAM106')">VAM106</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="VAM107">
        <ng-template #VAM107 let-visible="visible"><a href="#VAM107" nz-button nzSize="small"
            [ngClass]="hideVAM107 ? 'nohide' : 'hide'" (click)="show('VAM107')">VAM107</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="VAM108">
        <ng-template #VAM108 let-visible="visible"><a href="#VAM108" nz-button nzSize="small"
            [ngClass]="hideVAM108 ? 'nohide' : 'hide'" (click)="show('VAM108')">VAM108</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM029">
        <ng-template #BAM029 let-visible="visible"><a href="#BAM029" nz-button nzSize="small"
            [ngClass]="hideBAM029 ? 'nohide' : 'hide'" (click)="show('BAM029')">BAM029</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM501">
        <ng-template #BAM501 let-visible="visible"><a href="#BAM501" nz-button nzSize="small"
            [ngClass]="hideBAM501 ? 'nohide' : 'hide'" (click)="show('BAM501')">BAM501</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM502">
        <ng-template #BAM502 let-visible="visible"><a href="#BAM502" nz-button nzSize="small"
            [ngClass]="hideBAM502 ? 'nohide' : 'hide'" (click)="show('BAM502')">BAM502</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM504">
        <ng-template #BAM504 let-visible="visible"><a href="#BAM504" nz-button nzSize="small"
            [ngClass]="hideBAM504 ? 'nohide' : 'hide'" (click)="show('BAM504')">BAM504</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM505">
        <ng-template #BAM505 let-visible="visible"><a href="#BAM505" nz-button nzSize="small"
            [ngClass]="hideBAM505 ? 'nohide' : 'hide'" (click)="show('BAM505')">BAM505</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM032">
        <ng-template #BAM032 let-visible="visible"><a href="#BAM032" nz-button nzSize="small"
            [ngClass]="hideBAM032 ? 'nohide' : 'hide'" (click)="show('BAM032')">BAM032</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM011">
        <ng-template #BAM011 let-visible="visible"><a href="#BAM011" nz-button nzSize="small"
            [ngClass]="hideBAM011 ? 'nohide' : 'hide'" (click)="show('BAM011')">BAM011</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM067">
        <ng-template #BAM067 let-visible="visible"><a href="#BAM067" nz-button nzSize="small"
            [ngClass]="hideBAM067 ? 'nohide' : 'hide'" (click)="show('BAM067')">BAM067</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM070">
        <ng-template #BAM070 let-visible="visible"><a href="#BAM070" nz-button nzSize="small"
            [ngClass]="hideBAM070 ? 'nohide' : 'hide'" (click)="show('BAM070')">BAM070</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM101">
        <ng-template #BAM101 let-visible="visible"><a href="#BAM101" nz-button nzSize="small"
            [ngClass]="hideBAM101 ? 'nohide' : 'hide'" (click)="show('BAM101')">BAM101</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM421">
        <ng-template #BAM421 let-visible="visible"><a href="#BAM421" nz-button nzSize="small"
            [ngClass]="hideBAM421 ? 'nohide' : 'hide'" (click)="show('BAM421')">BAM421</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM305">
        <ng-template #BAM305 let-visible="visible"><a href="#BAM305" nz-button nzSize="small"
            [ngClass]="hideBAM305 ? 'nohide' : 'hide'" (click)="show('BAM305')">BAM305</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM306">
        <ng-template #BAM306 let-visible="visible"><a href="#BAM306" nz-button nzSize="small"
            [ngClass]="hideBAM306 ? 'nohide' : 'hide'" (click)="show('BAM306')">BAM306</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM307">
        <ng-template #BAM307 let-visible="visible"><a href="#BAM307" nz-button nzSize="small"
            [ngClass]="hideBAM307 ? 'nohide' : 'hide'" (click)="show('BAM307')">BAM307</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="BAM608">
        <ng-template #BAM608 let-visible="visible"><a href="#BAM608" nz-button nzSize="small"
            [ngClass]="hideBAM608 ? 'nohide' : 'hide'" (click)="show('BAM608')">BAM608</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="KRM046">
        <ng-template #KRM046 let-visible="visible"><a href="#KRM046" nz-button nzSize="small"
            [ngClass]="hideKRM046 ? 'nohide' : 'hide'" (click)="show('KRM046')">KRM046</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="KRM048">
        <ng-template #KRM048 let-visible="visible"><a href="#KRM048" nz-button nzSize="small"
            [ngClass]="hideKRM048 ? 'nohide' : 'hide'" (click)="show('KRM048')">KRM048</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="STM022">
        <ng-template #STM022 let-visible="visible"><a href="#STM025" nz-button nzSize="small"
            [ngClass]="hideSTM022 ? 'nohide' : 'hide'" (click)="show('STM022')">STM022</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="STM008">
        <ng-template #STM008 let-visible="visible"><a href="#STM008" nz-button nzSize="small"
            [ngClass]="hideSTM008 ? 'nohide' : 'hide'" (click)="show('STM008')">STM008</a></ng-template>
      </nz-tab>
      <nz-tab [nzTitle]="STM025">
        <ng-template #STM025 let-visible="visible"><a href="#STM025" nz-button nzSize="small"
            [ngClass]="hideSTM025 ? 'nohide' : 'hide'" (click)="show('STM025')">STM025</a></ng-template>
      </nz-tab>

    </nz-tabset>
  </div>
  <br><br>

  <!-- 聯徵彙整資訊 -->
  <div [(hidden)]="hideJCIC" class="line_bank_card_no_padding">
    <!-- KRM046信用卡證卡持有 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="KRM046信用卡證卡持有">
      <thead>
        <tr>
          <th class="table-header" style="width:20%">持有往來</th>
          <th class="table-header" colspan="4" style="width:50%">正卡</th>
        </tr>
        <tr>
          <th class="table-header" style="width:20%"></th>
          <th class="table-header" style="width:20%">銀行家數</th>
          <th class="table-header" style="width:20%">總卡數</th>
          <th class="table-header" style="width:20%">活卡最早往來年數</th>
          <th class="table-header" style="width:20%">活卡最早往來月數</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-header"></td>
          <td class="table-data">{{ listSource.ccLatvBank }}</td>
          <td class="table-data">{{ listSource.ccLatvCnt }}</td>
          <td class="table-data">{{ listSource.ccLatvMaxyob }}</td>
          <td class="table-data">{{ listSource.ccLatvMaxmob }}</td>
        </tr>
      </tbody>
    </nz-table>
    <!-- KRM046信用卡證卡持有 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="KRM048信用卡帳務額度資訊">
      <thead>
        <tr>
          <th class="table-header" style="width:14%"></th>
          <th class="table-header" style="width:14%">目前額度合計</th>
          <th class="table-header" style="width:14%">家數</th>
          <th class="table-header" style="width:14%">每家額度平均</th>
          <th class="table-header" style="width:14%">最大額度</th>
          <th class="table-header" style="width:14%">最小額度</th>
          <th class="table-header" style="width:16%"> 近12個月內將額家數</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-header">永久額度</td>
          <td class="table-data">{{ listSource.permLimitAdj01aj }}</td>
          <td class="table-data">{{ listSource.issue01aj }}</td>
          <td class="table-data">{{ listSource.permLimitAvg01aj }}</td>
          <td class="table-data">{{ listSource.permLimitMax01aj }}</td>
          <td class="table-data">{{ listSource.permLimitMin01aj }}</td>
          <td class="table-data">{{ listSource.ccPermlimitDwncntL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">預借額度</td>
          <td class="table-data">{{ listSource.cashLimitAdj01aj }}</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.ccCashlimitDwncntL12 }}</td>
        </tr>
      </tbody>
    </nz-table>
    <!-- 第一欄位 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="  ">
      <thead>
        <tr>
          <th class="table-header">使用行為</th>
          <th class="table-header" colspan="2">目前(近一個月)</th>
          <th class="table-header" colspan="2">近十二個月內</th>
        </tr>
        <tr>
          <th class="table-header" style="width:20%"></th>
          <th class="table-header" style="width:20%">動用筆數</th>
          <th class="table-header" style="width:20%">餘額</th>
          <th class="table-header" style="width:20%">動用月份數</th>
          <th class="table-header" style="width:20%">平均每月餘額</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-header">本期應付帳款</td>
          <td class="table-data">{{ listSource.issueAtv01aj }}</td>
          <td class="table-data">{{ listSource.payable01aj }}</td>
          <td class="table-data">{{ listSource.ccPayableMthL12 }}</td>
          <td class="table-data">{{ listSource.ccPayableAvgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">上期循環信用</td>
          <td class="table-data">{{ listSource.revolBalCnt01aj }}</td>
          <td class="table-data">{{ listSource.revolBal01aj }}</td>
          <td class="table-data">{{ listSource.ccRevolMthL12 }}</td>
          <td class="table-data">{{ listSource.ccRevolAvgL06 }}</td>
        </tr>
        <tr>
          <td class="table-header">當期預借現金</td>
          <td class="table-data">{{ listSource.cashLentCnt01aj }}</td>
          <td class="table-data">{{ listSource.cashLent01aj }}</td>
          <td class="table-data">{{ listSource.ccCashlentMthL12 }}</td>
          <td class="table-data">{{ listSource.ccCashlentAvgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">未到期分期賞還待付金額</td>
          <td class="table-data">{{ listSource.preOwedCnt01aj }}</td>
          <td class="table-data">{{ listSource.preOwed01aj }}</td>
          <td class="table-data">{{ listSource.ccPreowedMthL12 }}</td>
          <td class="table-data">{{ listSource.ccPreowedAvgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">預借分期</td>
          <td class="table-data">{{ listSource.preCashedCnt01aj }}</td>
          <td class="table-data">{{ listSource.preCashed01aj }}</td>
          <td class="table-data">{{ listSource.ccPrecashedMthL12 }}</td>
          <td class="table-data">{{ listSource.ccPrecashedAvgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">帳單分期</td>
          <td class="table-data">{{ listSource.preBilledCnt01aj }}</td>
          <td class="table-data">{{ listSource.preBilled01aj }}</td>
          <td class="table-data">{{ listSource.ccPrebilledMthL12 }}</td>
          <td class="table-data">{{ listSource.ccPrebilledAvgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">消費分期</td>
          <td class="table-data">{{ listSource.preSpentCnt01aj }}</td>
          <td class="table-data">{{ listSource.preSpent01aj }}</td>
          <td class="table-data">{{ listSource.ccPrespentMthL12 }}</td>
          <td class="table-data">{{ listSource.ccPrespentAvgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">預借行為(當期+未到期)</td>
          <td class="table-data">{{ listSource.cashOsCnt01aj }}</td>
          <td class="table-data">{{ listSource.cashOs01aj }}</td>
          <td class="table-data">{{ listSource.ccCashosMthL12 }}</td>
          <td class="table-data">{{ listSource.ccCashosAvgL12 }}</td>
        </tr>
      </tbody>

    </nz-table>
    <!-- 第二欄位 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="  ">
      <thead>
        <tr>
          <th class="table-header" style="width:17%">繳費比率</th>
          <th class="table-header" *ngFor="let index of [1,2,3,4,5,6,7,8,9,10,11,12]">第{{ index }}期</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <td class="table-header">上期應付帳款</td>
          <td class="table-data">{{ listSource.lastPaya01aj }}</td>
          <td class="table-data">{{ listSource.lastPaya02 }}</td>
          <td class="table-data">{{ listSource.lastPaya03 }}</td>
          <td class="table-data">{{ listSource.lastPaya04 }}</td>
          <td class="table-data">{{ listSource.lastPaya05 }}</td>
          <td class="table-data">{{ listSource.lastPaya06 }}</td>
          <td class="table-data">{{ listSource.lastPaya07 }}</td>
          <td class="table-data">{{ listSource.lastPaya08 }}</td>
          <td class="table-data">{{ listSource.lastPaya09 }}</td>
          <td class="table-data">{{ listSource.lastPaya10 }}</td>
          <td class="table-data">{{ listSource.lastPaya11 }}</td>
          <td class="table-data">{{ listSource.lastPaya12 }}</td>
        </tr>
        <tr>
          <td class="table-header">上期應付帳款繳款率</td>
          <td class="table-data">{{ listSource.paymentRt01aj }}</td>
          <td class="table-data">{{ listSource.paymentRt02 }}</td>
          <td class="table-data">{{ listSource.paymentRt03 }}</td>
          <td class="table-data">{{ listSource.paymentRt04 }}</td>
          <td class="table-data">{{ listSource.paymentRt05 }}</td>
          <td class="table-data">{{ listSource.paymentRt06 }}</td>
          <td class="table-data">{{ listSource.paymentRt07 }}</td>
          <td class="table-data">{{ listSource.paymentRt08 }}</td>
          <td class="table-data">{{ listSource.paymentRt09 }}</td>
          <td class="table-data">{{ listSource.paymentRt10 }}</td>
          <td class="table-data">{{ listSource.paymentRt11 }}</td>
          <td class="table-data">{{ listSource.paymentRt12 }}</td>
        </tr>
      </tbody>
    </nz-table>
    <!-- 第三欄位 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="  ">
      <thead>
        <tr>
          <th class="table-header">額度使用率(分母為有動用之額度)</th>
          <th class="table-header">目前(近一個月內)</th>
          <th class="table-header">近六個月內</th>
          <th class="table-header">近十二個月內</th>
          <th class="table-header">額度使用率(分母為所有額度)</th>
          <th class="table-header">目前(近一個月內)</th>
          <th class="table-header">近六個月內</th>
          <th class="table-header">近十二個月內</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-header">循環信用佔額比</td>
          <td class="table-data">{{ listSource.ccRevRtall01aj }}</td>
          <td class="table-data">{{ listSource.ccRevRtallL06 }}</td>
          <td class="table-data">{{ listSource.ccRevRtallL12 }}</td>
          <td class="table-header">循環信用佔額比</td>
          <td class="table-data">{{ listSource.ccRevRtall01aj }}</td>
          <td class="table-data">{{ listSource.ccRevRtallL06 }}</td>
          <td class="table-data">{{ listSource.ccRevRtallL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">循環預借未到期佔額比</td>
          <td class="table-data">{{ listSource.ccRevcapreRt01aj }}</td>
          <td class="table-data">{{ listSource.ccRevcapreRtL06 }}</td>
          <td class="table-data">{{ listSource.ccRevcapreRtL12 }}</td>
          <td class="table-header">循環預借未到期佔額比</td>
          <td class="table-data">{{ listSource.ccRevRtall01aj }}</td>
          <td class="table-data">{{ listSource.ccRevRtallL06 }}</td>
          <td class="table-data">{{ listSource.ccRevRtallL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">本期應付未到期佔額比</td>
          <td class="table-data">{{ listSource.ccPayablepreRt01aj }}</td>
          <td class="table-data">{{ listSource.ccPayablepreRtL06 }}</td>
          <td class="table-data">{{ listSource.ccPayablepreRtL12 }}</td>
          <td class="table-header">本期應付未到期佔額比</td>
          <td class="table-data">{{ listSource.ccPayablepreRtall01aj }}</td>
          <td class="table-data">{{ listSource.ccPayablepreRtallL06 }}</td>
          <td class="table-data">{{ listSource.ccPayablepreRtallL12 }}</td>
        </tr>
      </tbody>
    </nz-table>
    <!-- 第四欄位 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="  ">
      <thead>
        <tr>
          <th class="table-header" colspan="1">逾期行為</th>
          <th class="table-header" colspan="2">目前(近一個月內)</th>
          <th class="table-header" colspan="2">近六個月內</th>
          <th class="table-header" colspan="2">近十二個月內</th>
        </tr>
        <tr>
          <th class="table-header" style="width:10%"></th>
          <th class="table-header" style="width:15%">筆數</th>
          <th class="table-header" style="width:15%">該期應繳金額合計</th>
          <th class="table-header" style="width:15%">月份數</th>
          <th class="table-header" style="width:15%">該期應繳金額月平均</th>
          <th class="table-header" style="width:15%">月份數</th>
          <th class="table-header" style="width:15%">該期應繳金額月平均</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-header">N,0無延期</td>
          <td class="table-data">{{ listSource.paycode0Cnt01aj }}</td>
          <td class="table-data">{{ listSource.paycode0Os01aj }}</td>
          <td class="table-data">{{ listSource.ccPaycode0MthL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode0OsavgL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode0MthL12 }}</td>
          <td class="table-data">{{ listSource.ccPaycode0OsavgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">1,延期未滿1個月</td>
          <td class="table-data">{{ listSource.paycode1Cnt01aj }}</td>
          <td class="table-data">{{ listSource.paycode1Os01aj }}</td>
          <td class="table-data">{{ listSource.ccPaycode1MthL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode1OsavgL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode1MthL12 }}</td>
          <td class="table-data">{{ listSource.ccPaycode1OsavgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">2,延期未滿2個月</td>
          <td class="table-data">{{ listSource.paycode2Cnt01aj }}</td>
          <td class="table-data">{{ listSource.paycode2Os01aj }}</td>
          <td class="table-data">{{ listSource.ccPaycode2MthL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode2OsavgL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode2MthL12 }}</td>
          <td class="table-data">{{ listSource.ccPaycode2OsavgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">3,延期未滿3個月</td>
          <td class="table-data">{{ listSource.paycode3Cnt01aj }}</td>
          <td class="table-data">{{ listSource.paycode3Os01aj }}</td>
          <td class="table-data">{{ listSource.ccPaycode3MthL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode3OsavgL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode3MthL12 }}</td>
          <td class="table-data">{{ listSource.ccPaycode3OsavgL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">4~7,<br>延期3個月以上</td>
          <td class="table-data">{{ listSource.paycode4567Cnt01aj }}</td>
          <td class="table-data">{{ listSource.paycode4567Os01aj }}</td>
          <td class="table-data">{{ listSource.ccPaycode4567MthL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode4567OsavgL06 }}</td>
          <td class="table-data">{{ listSource.ccPaycode4567MthL12 }}</td>
          <td class="table-data">{{ listSource.ccPaycode4567OsavgL12 }}</td>
        </tr>
      </tbody>
    </nz-table>
    <!-- 第五欄位 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="  ">
      <thead>
        <tr>
          <th class="table-header" colspan="6">JCIC授信往來</th>
          <th class="table-header" colspan="2">近12個月新增</th>
        </tr>
        <tr>
          <th class="table-header" style="width:9%"></th>
          <th class="table-header" style="width:13%">來往銀行家數</th>
          <th class="table-header" style="width:13%">資料筆數</th>
          <th class="table-header" style="width:13%">放款餘額合計</th>
          <th class="table-header" style="width:13%">餘額合計</th>
          <th class="table-header" style="width:13%">佔額比</th>
          <th class="table-header" style="width:13%">筆數</th>
          <th class="table-header" style="width:13%">額度</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-header">授信往來</td>
          <td class="table-data">{{ listSource.lnBk }}</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.lnBal }}</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
        </tr>
        <tr>
          <td class="table-header">無擔保單放款<br>(含現金卡)</td>
          <td class="table-data">{{ listSource.lnUnsBk }}</td>
          <td class="table-data">{{ listSource.lnUnsCnt }}</td>
          <td class="table-data">{{ listSource.lnUnsBal }}</td>
          <td class="table-data">{{ listSource.lnUnsLimit }}</td>
          <td class="table-data">{{ listSource.lnUnsRt }}</td>
          <td class="table-data">{{ listSource.lnUnsNewcntL12 }}</td>
          <td class="table-data">{{ listSource.lnUnsNewcntamtL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">現金卡</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.lnYBal }}</td>
          <td class="table-data">{{ listSource.lnYLimit }}</td>
          <td class="table-data">{{ listSource.lnYRt }}</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
        </tr>
        <tr>
          <td class="table-header">房貸</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.lnSecMortBal }}</td>
          <td class="table-data">{{ listSource.lnSecMortLimit }}</td>
          <td class="table-data">{{ listSource.lnSecMortRt }}</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
        </tr>
        <tr>
          <td class="table-header">車貸</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.lnSecCarBal }}</td>
          <td class="table-data">{{ listSource.lnSecCarLimit }}</td>
          <td class="table-data">{{ listSource.lnSecCarRt }}</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
        </tr>
        <tr>
          <td class="table-header">其他動產</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.lnSecOthrBal }}</td>
          <td class="table-data">{{ listSource.lnSecOthrLimit }}</td>
          <td class="table-data">{{ listSource.lnSecOthrRt }}</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
        </tr>
        <tr>
          <td class="table-header">學生貸款</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.lnZStuBal }}</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
          <td class="table-data">無資料</td>
        </tr>
      </tbody>
    </nz-table>

    <!-- 第六欄位 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="  ">
      <thead>
        <tr>
          <th class="table-header">JCIC授信繳款</th>
          <th class="table-header">近一個月內</th>
          <th class="table-header">近六個月內</th>
          <th class="table-header">近十二個月內</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-header">最差還款記錄</td>
          <td class="table-data">{{ listSource.lnPaycodeMax01 }}</td>
          <td class="table-data">{{ listSource.lnPaycodeMaxL06 }}</td>
          <td class="table-data">{{ listSource.lnPaycodeMaxL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">M1+逾期月數</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.lnM1plusL06 }}</td>
          <td class="table-data">{{ listSource.lnM1plusL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">M2+逾期月數</td>
          <td class="table-data">無資料</td>
          <td class="table-data">{{ listSource.lnM2plusL06 }}</td>
          <td class="table-data">{{ listSource.lnM2plusL12 }}</td>
        </tr>
      </tbody>
    </nz-table>
    <!-- 第七欄位 -->
    <nz-table nzShowSizeChanger [nzData]="listSource" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small" nzTitle="  ">
      <thead>
        <tr>
          <th class="table-header" colspan="3">被查詢紀錄(不含本行)銀行家數</th>
          <th class="table-header" colspan="3">當事人自查次數</th>
        </tr>
        <tr>
          <th class="table-header" style="width:15%"></th>
          <th class="table-header" style="width:17%">近三個月內</th>
          <th class="table-header" style="width:17%">近十二個月內</th>
          <th class="table-header" style="width:17%">查詢原因(REASON1&2)</th>
          <th class="table-header" style="width:17%">近三個月內</th>
          <th class="table-header" style="width:17%">近十二個月內</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-header">新業務查詢</td>
          <td class="table-data">{{ listSource.inqNewbBankL03 }}</td>
          <td class="table-data">{{ listSource.inqNewbBankL12 }}</td>
          <td class="table-header">排除求職之查詢記錄</td>
          <td class="table-data">{{ listSource.inqPersonExdL03 }}</td>
          <td class="table-data">{{ listSource.inqPersonExdL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">部門債逾於催資產管理</td>
          <td class="table-data">{{ listSource.inqColBankL03 }}</td>
          <td class="table-data">{{ listSource.inqColBankL12 }}</td>
          <td class="table-header">
            X1債清條例債權人清冊<br>
            X2消費金融無擔保債務展延方案專用債權人清冊<br>
            Y銀行公會消金債務協商專用
          </td>
          <td class="table-data">{{ listSource.lnPaycodeMax01 }}</td>
          <td class="table-data">{{ listSource.inqPersonXyL12 }}</td>
        </tr>
        <tr>
          <td class="table-header">原業務查詢</td>
          <td class="table-data">{{ listSource.inqOribBankL03 }}</td>
          <td class="table-data">{{ listSource.inqOribBankL12 }}</td>
          <td class="table-header">金融往來相關</td>
          <td class="table-data">{{ listSource.lnPaycodeMax01 }}</td>
          <td class="table-data">{{ listSource.inqPersonFinL12 }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <!-- JCICMASTEE -->
  <div [id]="!hideJCICMASTER ? 'JCICMASTER' : '' " [(hidden)]="hideJCICMASTER" class="line_bank_card_no_padding">
    <!-- AAS003 -->
    <nz-table nzSize="small" nzTitle="AAS003 自然人姓名,身分證補發,通報,補充註記">
      <ng-container *ngFor="let data of AAS003.slice(0,1)">
        <tr>
          <th class="table-header">身分證號</th>
          <th class="table-header">中文姓名</th>
          <th class="table-header">身分證註銷或一年內掛失紀錄</th>
          <th class="table-header">通報案件紀錄</th>
          <th class="table-header">是否有補充註記</th>
          <th class="table-header">補充註記</th>
          <th class="table-header">通報案件紀錄</th>
          <th class="table-header">在台無戶籍人士身分證號對照索引註記</th>
        </tr>
        <tr>
          <td class="table-data">{{ data.IDN ? data.IDN : ' ' }}</td>
          <td class="table-data">{{ data.PNAME ? data.PNAME : ' ' }}</td>
          <td class="table-data">{{ data.IS_LOST ? data.IS_LOST : ' ' }}</td>
          <td class="table-data">{{ data.IS_WANTED ? data.IS_WANTED : ' ' }}</td>
          <td class="table-data">{{ data.IS_NOTE ? data.IS_NOTE : ' ' }}</td>
          <td class="table-data">{{ data.NOTELIST ? data.NOTELIST : ' ' }}</td>
          <td class="table-data">{{ data.WANTEDLIST ? data.WANTEDLIST : ' ' }}</td>
          <td class="table-data">{{ data.FOREIGNER_MARK ? data.FOREIGNER_MARK : ' ' }}</td>
        </tr>
      </ng-container>
    </nz-table>
    <br>
    <!-- JAS002 -->
    <nz-table nzSize="small" nzTitle="JAS002 信用異常紀錄 (B, D, K)">
      <ng-container *ngFor="let data of JAS002.slice(0,1)">
        <tr>
          <div nz-row>
            <th nz-col nzFlex="1" class="table-header">授信異常</th>
            <td nz-col nzFlex="1" class="table-data">{{ data.EVER_DELINQUENT ? data.EVER_DELINQUENT : ' ' }}</td>
            <td nz-col nzFlex="1" class="table-data">{{ data.DELINQUENT_DATE ? data.DELINQUENT_DATE : ' ' }}</td>
          </div>
        </tr>
        <tr>
          <div nz-row>
            <th nz-col nzFlex="1" class="table-header">退票異常</th>
            <td nz-col nzFlex="1" class="table-data">{{ data.EVER_BAD_CHECK ? data.EVER_BAD_CHECK : ' ' }}</td>
            <td nz-col nzFlex="1" class="table-data">{{ data.BAD_CHECK_DATE ? data.BAD_CHECK_DATE : ' ' }}</td>
          </div>
        </tr>
        <tr>
          <div nz-row>
            <th nz-col nzFlex="1" class="table-header">拒絕往來記錄</th>
            <td nz-col nzFlex="1" class="table-data">{{ data.EVER_REJECT ? data.EVER_REJECT : ' ' }}</td>
            <td nz-col nzFlex="1" class="table-data">{{ data.REJECT_DATE ? data.REJECT_DATE : ' ' }}</td>
          </div>
        </tr>
        <tr>
          <div nz-row>
            <th nz-col nzFlex="1" class="table-header">強制停卡異常</th>
            <td nz-col nzFlex="1" class="table-data">{{ data.EVER_STOP_CARD ? data.EVER_STOP_CARD : ' ' }}</td>
            <td nz-col nzFlex="1" class="table-data">{{ data.STOP_CARD_DATE ? data.STOP_CARD_DATE : ' ' }}</td>
          </div>
        </tr>
      </ng-container>
    </nz-table>
    <br>
    <!-- APS001 -->
    <nz-table nzSize="small" nzTitle="APS001 自然人個人資料">
      <ng-container *ngFor="let data of APS001.slice(0,1)">
        <tr>
          <th class="table-header">戶籍地址</th>
          <th class="table-header">英文姓名</th>
          <th class="table-header">出生日期</th>
        </tr>
        <tr>
          <td class="table-data">{{ data.RGY_ADDRESS ? data.RGY_ADDRESS : ' ' }}</td>
          <td class="table-data">{{ data.ENG_NAME ? data.ENG_NAME : ' ' }}</td>
          <td class="table-data">{{ data.BIRTHDAY ? data.BIRTHDAY : ' ' }}</td>
        </tr>
      </ng-container>
    </nz-table>
    <br>
    <div nz-row>
      <!-- ACI001 -->
      <ng-container *ngFor="let data of ACI001.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">ACI001</th>
        <td nz-col nzFlex="1" class="table-header">企業資料日期</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.DATA_DATE ? data.DATA_DATE : ' ' }}</td>
      </ng-container>
      <!-- BAI001 -->
      <ng-container *ngFor="let data of BAI001.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">BAI001</th>
        <td nz-col nzFlex="1" class="table-header">授信資料日期</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.DATA_DATE ? data.DATA_DATE : ' ' }}</td>
      </ng-container>
    </div>
    <div nz-row>
      <!-- KRI001 -->
      <ng-container *ngFor="let data of KRI001.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">KRI001</th>
        <td nz-col nzFlex="1" class="table-header">信用卡及特店資料處理日期</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.DATA_DATE ? data.DATA_DATE : ' ' }}</td>
      </ng-container>
      <td nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;"></td>
      <td nz-col nzFlex="1" class="table-header"></td>
      <td nz-col nzFlex="1" class="table-data"></td>
    </div>
    <div nz-row>
      <!-- BAI004 -->
      <ng-container *ngFor="let data of BAI004.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">BAI004</th>
        <td nz-col nzFlex="1" class="table-header">信用卡及特店資料處理日期</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.DATA_DATE ? data.DATA_DATE : ' ' }}</td>
        <td nz-col nzFlex="1" class="table-data" style="color: red;">B64 DBR22倍規範無擔保債務<br>暨年收入彙整資訊之現金卡資料日期</td>
      </ng-container>
    </div>
    <div nz-row>
      <!-- KRI002 -->
      <ng-container *ngFor="let data of KRI002.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">KRI002</th>
        <td nz-col nzFlex="1" class="table-header">信用卡結帳日期擷取範圍</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.HI_BILL_DATE ? data.HI_BILL_DATE + '~': ' ' }}{{
          data.LO_BILL_DATE ? data.LO_BILL_DATE : ' ' }}</td>
        <td nz-col nzFlex="1" class="table-data" style="color: red;">B64</td>
      </ng-container>
    </div>
    <div nz-row>
      <!-- BAS008 -->
      <ng-container *ngFor="let data of BAS008.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">BAS008</th>
        <td nz-col nzFlex="1" class="table-header">每日授信餘額變動資訊-交易日期擷取區間</td>
        <td nz-col nzFlex="2" class="table-data">{{ data.STA_DATE ? data.STA_DATE + '~': ' ' }}{{
          data.END_DATE ? data.END_DATE : ' ' }}</td>
        <td hidden>{{ data.FILLER ? data.FILLER : ' ' }}</td>
      </ng-container>
    </div>
    <br>
    <!-- BAS006 -->
    <nz-table nzSize="small" nzTitle="BAS006 新增額度及每筆撥款清償提示資訊">
      <ng-container *ngFor="let data of BAS006.slice(0,1)">
        <tr>
          <th class="table-header">新增額度及每筆撥款清償提示資訊</th>
          <th class="table-header">授信最新月份</th>
        </tr>
        <tr>
          <td class="table-data">{{ data.CREDIT_AD_FLAG ? data.CREDIT_AD_FLAG : ' ' }}</td>
          <td class="table-data">{{ data.BA_YYYMM ? data.BA_YYYMM : ' ' }}</td>
        </tr>
      </ng-container>
    </nz-table>
    <br>
    <!-- STS007 -->
    <nz-table nzSize="small" nzTitle="STS007 近三個月被查詢總次數(查詢理由新原業務統計)">
      <ng-container *ngFor="let data of STS007.slice(0,1)">
        <tr>
          <th class="table-header">新業務申請次數</th>
          <th class="table-header">原業務往來次數</th>
          <th class="table-header">原業務往來及新業務申請次數</th>
        </tr>
        <tr>
          <td class="table-data">{{ data.NEW_CNT ? data.NEW_CNT : ' ' }}</td>
          <td class="table-data">{{ data.OLD_CNT ? data.OLD_CNT : ' ' }}</td>
          <td class="table-data">{{ data.OLD_NEW_CNT ? data.OLD_NEW_CNT : ' ' }}</td>
        </tr>
      </ng-container>
    </nz-table>
    <br>
  </div>

  <app-jcictable [id]="!hideKCM012 ? 'KCM012' : '' " *ngIf="!hideKCM012" class="line_bank_card_no_padding" [code]="JCICCode.KCM012"></app-jcictable>
  <app-jcictable [id]="!hideDAM001 ? 'DAM001' : '' " *ngIf="!hideDAM001" class="line_bank_card_no_padding" [code]="JCICCode.DAM001"></app-jcictable>
  <app-jcictable [id]="!hideBAM061 ? 'BAM061' : '' " *ngIf="!hideBAM061" class="line_bank_card_no_padding" [code]="JCICCode.BAM061"></app-jcictable>
  <app-jcictable [id]="!hideKRM043 ? 'KRM043' : '' " *ngIf="!hideKRM043" class="line_bank_card_no_padding" [code]="JCICCode.KRM043"></app-jcictable>
  <app-jcictable [id]="!hideBAM062 ? 'BAM062' : '' " *ngIf="!hideBAM062" class="line_bank_card_no_padding" [code]="JCICCode.BAM062"></app-jcictable>
  <app-jcictable [id]="!hideVAM020 ? 'VAM020' : '' " *ngIf="!hideVAM020" class="line_bank_card_no_padding" [code]="JCICCode.VAM020"></app-jcictable>
  <app-jcictable [id]="!hideVAM201 ? 'VAM201' : '' " *ngIf="!hideVAM201" class="line_bank_card_no_padding" [code]="JCICCode.VAM201"></app-jcictable>
  <app-jcictable [id]="!hideVAM106 ? 'VAM106' : '' " *ngIf="!hideVAM106" class="line_bank_card_no_padding" [code]="JCICCode.VAM106"></app-jcictable>
  <app-jcictable [id]="!hideVAM107 ? 'VAM107' : '' " *ngIf="!hideVAM107" class="line_bank_card_no_padding" [code]="JCICCode.VAM107"></app-jcictable>
  <app-jcictable [id]="!hideVAM108 ? 'VAM108' : '' " *ngIf="!hideVAM108" class="line_bank_card_no_padding" [code]="JCICCode.VAM108"></app-jcictable>
  <app-jcictable [id]="!hideBAM029 ? 'BAM029' : '' " *ngIf="!hideBAM029" class="line_bank_card_no_padding" [code]="JCICCode.BAM029"></app-jcictable>
  <app-jcictable [id]="!hideBAM501 ? 'BAM501' : '' " *ngIf="!hideBAM501" class="line_bank_card_no_padding" [code]="JCICCode.BAM501"></app-jcictable>
  <app-jcictable [id]="!hideBAM502 ? 'BAM502' : '' " *ngIf="!hideBAM502" class="line_bank_card_no_padding" [code]="JCICCode.BAM502"></app-jcictable>
  <app-jcictable [id]="!hideBAM504 ? 'BAM504' : '' " *ngIf="!hideBAM504" class="line_bank_card_no_padding" [code]="JCICCode.BAM504"></app-jcictable>
  <app-jcictable [id]="!hideBAM505 ? 'BAM505' : '' " *ngIf="!hideBAM505" class="line_bank_card_no_padding" [code]="JCICCode.BAM505"></app-jcictable>
  <app-jcictable [id]="!hideBAM032 ? 'BAM032' : '' " *ngIf="!hideBAM032" class="line_bank_card_no_padding" [code]="JCICCode.BAM032"></app-jcictable>
  <app-jcictable [id]="!hideBAM011 ? 'BAM011' : '' " *ngIf="!hideBAM011" class="line_bank_card_no_padding" [code]="JCICCode.BAM011"></app-jcictable>
  <app-jcictable [id]="!hideBAM067 ? 'BAM067' : '' " *ngIf="!hideBAM067" class="line_bank_card_no_padding" [code]="JCICCode.BAM067"></app-jcictable>
  <app-jcictable [id]="!hideBAM070 ? 'BAM070' : '' " *ngIf="!hideBAM070" class="line_bank_card_no_padding" [code]="JCICCode.BAM070"></app-jcictable>
  <app-jcictable [id]="!hideBAM101 ? 'BAM101' : '' " *ngIf="!hideBAM101" class="line_bank_card_no_padding" [code]="JCICCode.BAM101"></app-jcictable>
  <app-jcictable [id]="!hideBAM421 ? 'BAM421' : '' " *ngIf="!hideBAM421" class="line_bank_card_no_padding" [code]="JCICCode.BAM421"></app-jcictable>
  <app-jcictable [id]="!hideBAM305 ? 'BAM305' : '' " *ngIf="!hideBAM305" class="line_bank_card_no_padding" [code]="JCICCode.BAM305"></app-jcictable>
  <app-jcictable [id]="!hideBAM306 ? 'BAM306' : '' " *ngIf="!hideBAM306" class="line_bank_card_no_padding" [code]="JCICCode.BAM306"></app-jcictable>
  <app-jcictable [id]="!hideBAM307 ? 'BAM307' : '' " *ngIf="!hideBAM307" class="line_bank_card_no_padding" [code]="JCICCode.BAM307"></app-jcictable>
  <app-jcictable [id]="!hideBAM608 ? 'BAM608' : '' " *ngIf="!hideBAM608" class="line_bank_card_no_padding" [code]="JCICCode.BAM608"></app-jcictable>
  <app-jcictable [id]="!hideKRM046 ? 'KRM046' : '' " *ngIf="!hideKRM046" class="line_bank_card_no_padding" [code]="JCICCode.KRM046"></app-jcictable>
  <app-jcictable [id]="!hideKRM048 ? 'KRM048' : '' " *ngIf="!hideKRM048" class="line_bank_card_no_padding" [code]="JCICCode.KRM048"></app-jcictable>
  <app-jcictable [id]="!hideSTM025 ? 'STM025' : '' " *ngIf="!hideSTM025" class="line_bank_card_no_padding" [code]="JCICCode.STM025"></app-jcictable>
</div>
