<div class="line_bank_bankground_color">
  <div style="margin-top: 5px; margin-left: 5px; width: 100%;">
    <button mat-raised-button class="hide" (click)="all()"
      style="margin-top: 15px; margin-left: 5px;">Show All</button>
    <button mat-raised-button [ngClass]="hideJCICMASTER ? 'nohide' : 'hide'" (click)="show('JCICMASTER')"
      style="margin-top: 15px; margin-left: 5px;">JCICMASTER</button>
    <button mat-raised-button [ngClass]="hideKCM012 ? 'nohide' : 'hide'" (click)="show('KCM012')"
      style="margin-top: 15px; margin-left: 5px;">KCM012</button>
    <button mat-raised-button [ngClass]="hideDAM001 ? 'nohide' : 'hide'" (click)="show('DAM001')"
      style="margin-top: 15px; margin-left: 5px;">DAM001</button>
    <button mat-raised-button [ngClass]="hideBAM061 ? 'nohide' : 'hide'" (click)="show('BAM061')"
      style="margin-top: 15px; margin-left: 5px;">BAM061</button>
    <button mat-raised-button [ngClass]="hideKRM043 ? 'nohide' : 'hide'" (click)="show('KRM043')"
      style="margin-top: 15px; margin-left: 5px;">KRM043</button>
    <button mat-raised-button [ngClass]="hideBAM062 ? 'nohide' : 'hide'" (click)="show('BAM062')"
      style="margin-top: 15px; margin-left: 5px;">BAM062</button>
    <button mat-raised-button [ngClass]="hideVAM020 ? 'nohide' : 'hide'" (click)="show('VAM020')"
      style="margin-top: 15px; margin-left: 5px;">VAM020</button>
    <button mat-raised-button [ngClass]="hideVAM201 ? 'nohide' : 'hide'" (click)="show('VAM201')"
      style="margin-top: 15px; margin-left: 5px;">VAM201</button>
    <button mat-raised-button [ngClass]="hideVAM106 ? 'nohide' : 'hide'" (click)="show('VAM106')"
      style="margin-top: 15px; margin-left: 5px;">VAM106</button>
    <button mat-raised-button [ngClass]="hideVAM107 ? 'nohide' : 'hide'" (click)="show('VAM107')"
      style="margin-top: 15px; margin-left: 5px;">VAM107</button>
    <button mat-raised-button [ngClass]="hideVAM108 ? 'nohide' : 'hide'" (click)="show('VAM108')"
      style="margin-top: 15px; margin-left: 5px;">VAM108</button>
    <button mat-raised-button [ngClass]="hideBAM029 ? 'nohide' : 'hide'" (click)="show('BAM029')"
      style="margin-top: 15px; margin-left: 5px;">BAM029</button>
    <button mat-raised-button [ngClass]="hideBAM501 ? 'nohide' : 'hide'" (click)="show('BAM501')"
      style="margin-top: 15px; margin-left: 5px;">BAM501</button>
    <button mat-raised-button [ngClass]="hideBAM502 ? 'nohide' : 'hide'" (click)="show('BAM502')"
      style="margin-top: 15px; margin-left: 5px;">BAM502</button>
    <button mat-raised-button [ngClass]="hideBAM504 ? 'nohide' : 'hide'" (click)="show('BAM504')"
      style="margin-top: 15px; margin-left: 5px;">BAM504</button>
    <button mat-raised-button [ngClass]="hideBAM505 ? 'nohide' : 'hide'" (click)="show('BAM505')"
      style="margin-top: 15px; margin-left: 5px;">BAM505</button>
    <button mat-raised-button [ngClass]="hideBAM032 ? 'nohide' : 'hide'" (click)="show('BAM032')"
      style="margin-top: 15px; margin-left: 5px;">BAM032</button>
    <button mat-raised-button [ngClass]="hideBAM011 ? 'nohide' : 'hide'" (click)="show('BAM011')"
      style="margin-top: 15px; margin-left: 5px;">BAM011</button>
    <button mat-raised-button [ngClass]="hideBAM067 ? 'nohide' : 'hide'" (click)="show('BAM067')"
      style="margin-top: 15px; margin-left: 5px;">BAM067</button>
    <button mat-raised-button [ngClass]="hideBAM070 ? 'nohide' : 'hide'" (click)="show('BAM070')"
      style="margin-top: 15px; margin-left: 5px;">BAM070</button>
    <button mat-raised-button [ngClass]="hideBAM101 ? 'nohide' : 'hide'" (click)="show('BAM101')"
      style="margin-top: 15px; margin-left: 5px;">BAM101</button>
    <button mat-raised-button [ngClass]="hideBAM421 ? 'nohide' : 'hide'" (click)="show('BAM421')"
      style="margin-top: 15px; margin-left: 5px;">BAM421</button>
    <button mat-raised-button [ngClass]="hideBAM305 ? 'nohide' : 'hide'" (click)="show('BAM305')"
      style="margin-top: 15px; margin-left: 5px;">BAM305</button>
    <button mat-raised-button [ngClass]="hideBAM306 ? 'nohide' : 'hide'" (click)="show('BAM306')"
      style="margin-top: 15px; margin-left: 5px;">BAM306</button>
    <button mat-raised-button [ngClass]="hideBAM307 ? 'nohide' : 'hide'" (click)="show('BAM307')"
      style="margin-top: 15px; margin-left: 5px;">BAM307</button>
    <button mat-raised-button [ngClass]="hideBAM608 ? 'nohide' : 'hide'" (click)="show('BAM608')"
      style="margin-top: 15px; margin-left: 5px;">BAM608</button>
    <button mat-raised-button [ngClass]="hideKRM046 ? 'nohide' : 'hide'" (click)="show('KRM046')"
      style="margin-top: 15px; margin-left: 5px;">KRM046</button>
    <button mat-raised-button [ngClass]="hideKRM048 ? 'nohide' : 'hide'" (click)="show('KRM048')"
      style="margin-top: 15px; margin-left: 5px;">KRM048</button>
    <button mat-raised-button [ngClass]="hideSTM022 ? 'nohide' : 'hide'" (click)="show('STM022')"
      style="margin-top: 15px; margin-left: 5px;">STM022</button>
    <button mat-raised-button [ngClass]="hideSTM008 ? 'nohide' : 'hide'" (click)="show('STM008')"
      style="margin-top: 15px; margin-left: 5px;">STM008</button>
    <button mat-raised-button [ngClass]="hideSTM025 ? 'nohide' : 'hide'" (click)="show('STM025')"
      style="margin-top: 15px; margin-left: 5px;">STM025</button>
  </div>
  <br><br>

  <!-- JCICMASTEE -->
  <div [(hidden)]="hideJCICMASTER" class="line_bank_card_no_padding">
    <!-- AAS003 -->
    <nz-table nzSize="small" nzTitle="AAS003 自然人姓名,身分證補發,通報,補充註記">
      <ng-container *ngFor="let data of AAS003.slice(0,1)">
        <tr>
          <th class="table-header">身分證號</th>
          <th class="table-header">中文姓名</th>
          <th class="table-header">身分證註銷或一年內掛失紀錄</th>
          <th class="table-header">通報案件紀錄</th>
          <th class="table-header">是否有補充註記</th>
          <th class="table-header">補充註記</th>
          <th class="table-header">通報案件紀錄</th>
          <th class="table-header">在台無戶籍人士身分證號對照索引註記</th>
        </tr>
        <tr>
          <td class="table-data">{{ data.IDN ? data.IDN : ' ' }}</td>
          <td class="table-data">{{ data.PNAME ? data.PNAME : ' ' }}</td>
          <td class="table-data">{{ data.IS_LOST ? data.IS_LOST : ' ' }}</td>
          <td class="table-data">{{ data.IS_WANTED ? data.IS_WANTED : ' ' }}</td>
          <td class="table-data">{{ data.IS_NOTE ? data.IS_NOTE : ' ' }}</td>
          <td class="table-data">{{ data.NOTELIST ? data.NOTELIST : ' ' }}</td>
          <td class="table-data">{{ data.WANTEDLIST ? data.WANTEDLIST : ' ' }}</td>
          <td class="table-data">{{ data.FOREIGNER_MARK ? data.FOREIGNER_MARK : ' ' }}</td>
        </tr>
      </ng-container>
    </nz-table>
    <br>
    <!-- JAS002 -->
    <nz-table nzSize="small" nzTitle="JAS002 信用異常紀錄 (B, D, K)">
      <ng-container *ngFor="let data of JAS002.slice(0,1)">
        <tr>
          <div nz-row>
            <th nz-col nzFlex="1" class="table-header">授信異常</th>
            <td nz-col nzFlex="1" class="table-data">{{ data.EVER_DELINQUENT ? data.EVER_DELINQUENT : ' ' }}</td>
            <td nz-col nzFlex="1" class="table-data">{{ data.DELINQUENT_DATE ? data.DELINQUENT_DATE : ' ' }}</td>
          </div>
        </tr>
        <tr>
          <div nz-row>
            <th nz-col nzFlex="1" class="table-header">退票異常</th>
            <td nz-col nzFlex="1" class="table-data">{{ data.EVER_BAD_CHECK ? data.EVER_BAD_CHECK : ' ' }}</td>
            <td nz-col nzFlex="1" class="table-data">{{ data.BAD_CHECK_DATE ? data.BAD_CHECK_DATE : ' ' }}</td>
          </div>
        </tr>
        <tr>
          <div nz-row>
            <th nz-col nzFlex="1" class="table-header">拒絕往來記錄</th>
            <td nz-col nzFlex="1" class="table-data">{{ data.EVER_REJECT ? data.EVER_REJECT : ' ' }}</td>
            <td nz-col nzFlex="1" class="table-data">{{ data.REJECT_DATE ? data.REJECT_DATE : ' ' }}</td>
          </div>
        </tr>
        <tr>
          <div nz-row>
            <th nz-col nzFlex="1" class="table-header">強制停卡異常</th>
            <td nz-col nzFlex="1" class="table-data">{{ data.EVER_STOP_CARD ? data.EVER_STOP_CARD : ' ' }}</td>
            <td nz-col nzFlex="1" class="table-data">{{ data.STOP_CARD_DATE ? data.STOP_CARD_DATE : ' ' }}</td>
          </div>
        </tr>
      </ng-container>
    </nz-table>
    <br>
    <!-- APS001 -->
    <nz-table nzSize="small" nzTitle="APS001 自然人個人資料">
      <ng-container *ngFor="let data of APS001.slice(0,1)">
        <tr>
          <th class="table-header">戶籍地址</th>
          <th class="table-header">英文姓名</th>
          <th class="table-header">出生日期</th>
        </tr>
        <tr>
          <td class="table-data">{{ data.RGY_ADDRESS ? data.RGY_ADDRESS : ' ' }}</td>
          <td class="table-data">{{ data.ENG_NAME ? data.ENG_NAME : ' ' }}</td>
          <td class="table-data">{{ data.BIRTHDAY ? data.BIRTHDAY : ' ' }}</td>
        </tr>
      </ng-container>
    </nz-table>
    <br>
    <div nz-row>
      <!-- ACI001 -->
      <ng-container *ngFor="let data of ACI001.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">ACI001</th>
        <td nz-col nzFlex="1" class="table-header">企業資料日期</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.DATA_DATE ? data.DATA_DATE : ' ' }}</td>
      </ng-container>
      <!-- BAI001 -->
      <ng-container *ngFor="let data of BAI001.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">BAI001</th>
        <td nz-col nzFlex="1" class="table-header">授信資料日期</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.DATA_DATE ? data.DATA_DATE : ' ' }}</td>
      </ng-container>
    </div>
    <div nz-row>
      <!-- KRI001 -->
      <ng-container *ngFor="let data of KRI001.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">KRI001</th>
        <td nz-col nzFlex="1" class="table-header">信用卡及特店資料處理日期</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.DATA_DATE ? data.DATA_DATE : ' ' }}</td>
      </ng-container>
      <td nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;"></td>
      <td nz-col nzFlex="1" class="table-header"></td>
      <td nz-col nzFlex="1" class="table-data"></td>
    </div>
    <div nz-row>
      <!-- BAI004 -->
      <ng-container *ngFor="let data of BAI004.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">BAI004</th>
        <td nz-col nzFlex="1" class="table-header">信用卡及特店資料處理日期</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.DATA_DATE ? data.DATA_DATE : ' ' }}</td>
        <td nz-col nzFlex="1" class="table-data" style="color: red;">B64 DBR22倍規範無擔保債務<br>暨年收入彙整資訊之現金卡資料日期</td>
      </ng-container>
    </div>
    <div nz-row>
      <!-- KRI002 -->
      <ng-container *ngFor="let data of KRI002.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">KRI002</th>
        <td nz-col nzFlex="1" class="table-header">信用卡結帳日期擷取範圍</td>
        <td nz-col nzFlex="1" class="table-data">{{ data.HI_BILL_DATE ? data.HI_BILL_DATE + '~': ' ' }}{{
          data.LO_BILL_DATE ? data.LO_BILL_DATE : ' ' }}</td>
        <td nz-col nzFlex="1" class="table-data" style="color: red;">B64</td>
      </ng-container>
    </div>
    <div nz-row>
      <!-- BAS008 -->
      <ng-container *ngFor="let data of BAS008.slice(0,1)">
        <th nz-col nzFlex="1" class="table-header" style="color:#2E4765; background-color:#BFECD0;">BAS008</th>
        <td nz-col nzFlex="1" class="table-header">每日授信餘額變動資訊-交易日期擷取區間</td>
        <td nz-col nzFlex="2" class="table-data">{{ data.STA_DATE ? data.STA_DATE + '~': ' ' }}{{
          data.END_DATE ? data.END_DATE : ' ' }}</td>
        <td hidden>{{ data.FILLER ? data.FILLER : ' ' }}</td>
      </ng-container>
    </div>
    <br>
    <!-- BAS006 -->
    <nz-table nzSize="small" nzTitle="BAS006 新增額度及每筆撥款清償提示資訊">
      <ng-container *ngFor="let data of BAS006.slice(0,1)">
        <tr>
          <th class="table-header">新增額度及每筆撥款清償提示資訊</th>
          <th class="table-header">授信最新月份</th>
        </tr>
        <tr>
          <td class="table-data">{{ data.CREDIT_AD_FLAG ? data.CREDIT_AD_FLAG : ' ' }}</td>
          <td class="table-data">{{ data.BA_YYYMM ? data.BA_YYYMM : ' ' }}</td>
        </tr>
      </ng-container>
    </nz-table>
    <br>
    <!-- STS007 -->
    <nz-table nzSize="small" nzTitle="STS007 近三個月被查詢總次數(查詢理由新原業務統計)">
      <ng-container *ngFor="let data of STS007.slice(0,1)">
        <tr>
          <th class="table-header">新業務申請次數</th>
          <th class="table-header">原業務往來次數</th>
          <th class="table-header">原業務往來及新業務申請次數</th>
        </tr>
        <tr>
          <td class="table-data">{{ data.NEW_CNT ? data.NEW_CNT : ' ' }}</td>
          <td class="table-data">{{ data.OLD_CNT ? data.OLD_CNT : ' ' }}</td>
          <td class="table-data">{{ data.OLD_NEW_CNT ? data.OLD_NEW_CNT : ' ' }}</td>
        </tr>
      </ng-container>
    </nz-table>
    <br>
  </div>
  <!-- KCM012 -->
  <div [(hidden)]="hideKCM012" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="KCM012Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total1"
      [nzPageSize]="pageSize1" [nzPageIndex]="pageIndex1" (nzQueryParams)="onQueryParamsChange($event, 'KCM012')"
      nzSize="small" nzTitle="學生身分報送紀錄">
      <thead>
        <tr>
          <th class="table-header">報送機構代號</th>
          <th class="table-header">報送機構名稱</th>
          <th class="table-header">資料類別(B:授信,K:信用卡)</th>
          <th class="table-header">是否已報送為非學生身分(Y/N)</th>
          <th class="table-header">學生身分起始報送年月</th>
          <th class="table-header">非學生身分起始報送年月</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of KCM012Source">
          <td class="table-data">{{ data.BANK }}</td>
          <td class="table-data">{{ data.BANK_NAME }}</td>
          <td class="table-data">{{ data.TYPE }}</td>
          <td class="table-data">{{ data.YN }}</td>
          <td class="table-data">{{ data.YYYMM1 }}</td>
          <td class="table-data">{{ data.YYYMM2 }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- DAM001 -->
  <div [(hidden)]="hideDAM001" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="DAM001Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total2"
      [nzPageSize]="pageSize2" [nzPageIndex]="pageIndex2" (nzQueryParams)="onQueryParamsChange($event, 'DAM001')"
      nzSize="small" nzTitle="主體連帶退票摘要紀錄(含外幣資訊)">
      <thead>
        <tr>
          <th class="table-header">主體退票未清償註記總金額 (千元)</th>
          <th class="table-header">主體退票未清償註記總張數</th>
          <th class="table-header">主體最近一次退票日期</th>
          <th class="table-header">主體退票已清償註記總金額 (千元)</th>
          <th class="table-header">主體退票已清償註記票總張數</th>
          <th class="table-header">主體最近一次已清償註記註銷日期</th>
          <th class="table-header">連帶退票未清償註記總金額 (千元)</th>
          <th class="table-header">連帶退票未清償註記總張數</th>
          <th class="table-header">連帶最近一次退票日期</th>
          <th class="table-header">連帶退票已清償註記總金額 (千元)</th>
          <th class="table-header">連帶退票已清償註記票總張數</th>
          <th class="table-header">連帶最近一次已清償註記註銷日期</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of DAM001Source">
          <td class="table-data">{{ data.BOUNCE_AMT }}</td>
          <td class="table-data">{{ data.BOUNCE_CNT }}</td>
          <td class="table-data">{{ data.LATEST_BOUNCE }}</td>
          <td class="table-data">{{ data.WRITEOFF_AMT }}</td>
          <td class="table-data">{{ data.WRITEOFF_CNT }}</td>
          <td class="table-data">{{ data.LATEST_WRITEOFF }}</td>
          <td class="table-data">{{ data.IDN_BOUNCE_AMT }}</td>
          <td class="table-data">{{ data.IDN_BOUNCE_CNT }}</td>
          <td class="table-data">{{ data.IDN_LATEST_BOUNCE }}</td>
          <td class="table-data">{{ data.IDN_WRITEOFF_AMT }}</td>
          <td class="table-data">{{ data.IDN_WRITEOFF_CNT }}</td>
          <td class="table-data">{{ data.IDN_LATEST_WRITEOFF }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- BAM061 -->
  <div [(hidden)]="hideBAM061" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="BAM061Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total3"
      [nzPageSize]="pageSize3" [nzPageIndex]="pageIndex3" (nzQueryParams)="onQueryParamsChange($event, 'BAM061')"
      nzSize="small" nzTitle="授信戶基本資料">
      <thead>
        <tr>
          <th class="table-header">資料日期</th>
          <th class="table-header">報送機構代號</th>
          <th class="table-header">報送機構名稱</th>
          <th class="table-header">中文姓名</th>
          <th class="table-header">出生日期</th>
          <th class="table-header">教育程度代號</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BAM061Source">
          <td class="table-data">{{ data.DATA_DATE }}</td>
          <td class="table-data">{{ data.MAIN_CODE }}</td>
          <td class="table-data">{{ data.MAIN_NAME }}</td>
          <td class="table-data">{{ data.CNAME }}</td>
          <td class="table-data">{{ data.BIRTH_DATE }}</td>
          <td class="table-data">{{ data.EDU_CODE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- KRM043 -->
  <div [(hidden)]="hideKRM043" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="KRM043Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total4"
      [nzPageSize]="pageSize4" [nzPageIndex]="pageIndex4" (nzQueryParams)="onQueryParamsChange($event, 'KRM043')"
      nzSize="small" nzTitle="信用卡戶基本資訊彙總" [nzScroll]="{ x: '1500px' }">
      <thead>
        <tr>
          <th class="table-header" [nzWidth]="'200px'" [nzLeft]="true">身分證號/統編</th>
          <th class="table-header" [nzWidth]="'200px'">資料日期</th>
          <th class="table-header" [nzWidth]="'200px'">報送機構代號</th>
          <th class="table-header" [nzWidth]="'200px'">報送機構名稱</th>
          <th class="table-header" [nzWidth]="'200px'">中文姓名/戶名</th>
          <th class="table-header" [nzWidth]="'200px'">英文姓名/戶名</th>
          <th class="table-header" [nzWidth]="'200px'">出生/設立日期</th>
          <th class="table-header" [nzWidth]="'200px'">教育程度代碼</th>
          <th class="table-header" [nzWidth]="'200px'">教育程度名稱</th>
          <th class="table-header" [nzWidth]="'200px'">戶籍地址</th>
          <th class="table-header" [nzWidth]="'200px'">寄單地址</th>
          <th class="table-header" [nzWidth]="'200px'">有無自有住宅/營業場所</th>
          <th class="table-header" [nzWidth]="'200px'">居住/營業電話</th>
          <th class="table-header" [nzWidth]="'200px'">任職電話</th>
          <th class="table-header" [nzWidth]="'200px'">行動電話</th>
          <th class="table-header" [nzWidth]="'200px'">任職機構</th>
          <th class="table-header" [nzWidth]="'200px'">職稱</th>
          <th class="table-header" [nzWidth]="'200px'">職業類別代碼</th>
          <th class="table-header" [nzWidth]="'200px'">職業類別名稱</th>
          <th class="table-header" [nzWidth]="'200px'" [nzRight]="true">年薪/營業額(千元)</th>
          <th class="table-header" [nzWidth]="'200px'" [nzRight]="true">服務年資/營業年數</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of KRM043Source">
          <td class="table-data" [nzLeft]="true">{{ data.IDN_BAN }}</td>
          <td class="table-data">{{ data.DATA_DATE }}</td>
          <td class="table-data">{{ data.ISSUE }}</td>
          <td class="table-data">{{ data.ISSUE_NAME }}</td>
          <td class="table-data">{{ data.CNAME }}</td>
          <td class="table-data">{{ data.ENAME }}</td>
          <td class="table-data">{{ data.BIRTH }}</td>
          <td class="table-data">{{ data.EDU_CODE }}</td>
          <td class="table-data">{{ data.EDU_NAME }}</td>
          <td class="table-data">{{ data.RADDR }}</td>
          <td class="table-data">{{ data.MADDR }}</td>
          <td class="table-data">{{ data.H_CODE }}</td>
          <td class="table-data">{{ data.H_TEL }}</td>
          <td class="table-data">{{ data.O_TEL }}</td>
          <td class="table-data">{{ data.M_TEL }}</td>
          <td class="table-data">{{ data.ONAME }}</td>
          <td class="table-data">{{ data.TITLE }}</td>
          <td class="table-data">{{ data.PROS_CODE }}</td>
          <td class="table-data">{{ data.PROS_NAME }}</td>
          <td class="table-data">{{ data.SALARY }}</td>
          <td class="table-data" [nzRight]="true">{{ data.SENIOR }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- BAM062 -->
  <div [(hidden)]="hideBAM062" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="BAM062Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total5"
      [nzPageSize]="pageSize5" [nzPageIndex]="pageIndex5" (nzQueryParams)="onQueryParamsChange($event, 'BAM062')"
      nzSize="small" nzTitle="最近二年年收入資訊">
      <thead>
        <tr>
          <th class="table-header">行庫代號</th>
          <th class="table-header">行庫名稱</th>
          <th class="table-header">資類種類(Y:現金卡 B:授信 C:信用卡)</th>
          <th class="table-header">年收入資料年月</th>
          <th class="table-header">年收入(仟元)</th>
          <th class="table-header">資料更新年月</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BAM062Source">
          <td class="table-data">{{ data.MAIN_CODE }}</td>
          <td class="table-data">{{ data.BANK_NAME }}</td>
          <td class="table-data">{{ data.DATA_TYPE }}</td>
          <td class="table-data">{{ data.DATA_YYYMM }}</td>
          <td class="table-data">{{ data.SALARY }}</td>
          <td class="table-data">{{ data.UPD_YYYMM }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- VAM020 -->
  <div [(hidden)]="hideVAM020" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="VAM020Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total6"
      [nzPageSize]="pageSize6" [nzPageIndex]="pageIndex6" (nzQueryParams)="onQueryParamsChange($event, 'VAM020')"
      nzSize="small" nzTitle="身分證號更改紀錄">
      <thead>
        <tr>
          <th class="table-header">原身分證號</th>
          <th class="table-header">新身分證號</th>
          <th class="table-header">中文姓名</th>
          <th class="table-header">本中心處理四期</th>
          <th class="table-header">比對代號(1:原身分證號 2:新身分證號)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of VAM020Source">
          <td class="table-data">{{ data.OLD_IDN }}</td>
          <td class="table-data">{{ data.NEW_IDN }}</td>
          <td class="table-data">{{ data.NAME }}</td>
          <td class="table-data">{{ data.OP_DATE }}</td>
          <td class="table-data">{{ data.TYPE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
   <!-- VAM201 -->
   <div [(hidden)]="hideVAM201" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="VAM201Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total7"
      [nzPageSize]="pageSize7" [nzPageIndex]="pageIndex7" (nzQueryParams)="onQueryParamsChange($event, 'VAM201')"
      nzSize="small" nzTitle="通報案件紀錄資訊-案件通報">
      <thead>
        <tr>
          <th class="table-header">通報種類</th>
          <th class="table-header">通報單位</th>
          <th class="table-header">發生日期</th>
          <th class="table-header">通報日期</th>
          <th class="table-header">中文戶名</th>
          <th class="table-header">單據號碼/人頭帳號</th>
          <th class="table-header">說明1</th>
          <th class="table-header">說明2</th>
          <th class="table-header">說明3</th>
          <th class="table-header">說明4</th>
          <th class="table-header">通報單位中文名稱</th>
          <th class="table-header">警示帳戶解除代碼</th>
          <th class="table-header">警示帳戶解除原因</th>
          <th class="table-header">警示帳戶解除日期</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of VAM201Source">
          <td class="table-data">{{ data.TYPE }}</td>
          <td class="table-data">{{ data.CRI_PLACE }}</td>
          <td class="table-data">{{ data.CRI_DATE }}</td>
          <td class="table-data">{{ data.DOC_DATE }}</td>
          <td class="table-data">{{ data.CNAME }}</td>
          <td class="table-data">{{ data.INVOICE_NO }}</td>
          <td class="table-data">{{ data.REMARK_1 }}</td>
          <td class="table-data">{{ data.REMARK_2 }}</td>
          <td class="table-data">{{ data.REMARK_3 }}</td>
          <td class="table-data">{{ data.REMARK_4 }}</td>
          <td class="table-data">{{ data.DOC_NAME }}</td>
          <td class="table-data">{{ data.REL_CODE }}</td>
          <td class="table-data">{{ data.REL_REASON }}</td>
          <td class="table-data">{{ data.REL_DATE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- VAM106 -->
  <div [(hidden)]="hideVAM106" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="VAM106Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total8"
      [nzPageSize]="pageSize8" [nzPageIndex]="pageIndex8" (nzQueryParams)="onQueryParamsChange($event, 'VAM106')"
      nzSize="small" nzTitle="消債條例信用註記資訊(含個別協商)">
      <thead>
        <tr>
          <th class="table-header">統編/身分證號</th>
          <th class="table-header">訊息登錄日期</th>
          <th class="table-header">訊息種類大項代碼</th>
          <th class="table-header">訊息種類大項</th>
          <th class="table-header">訊息種類細項代碼(新)</th>
          <th class="table-header">訊息種類細項</th>
          <th class="table-header">訊息內容</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of VAM106Source">
          <td class="table-data">{{ data.IDN_BAN }}</td>
          <td class="table-data">{{ data.DATA_DATE }}</td>
          <td class="table-data">{{ data.MAINCODE }}</td>
          <td class="table-data">{{ data.MAINNOTE }}</td>
          <td class="table-data">{{ data.NEW_SUBCODE }}</td>
          <td class="table-data">{{ data.SUBNOTE }}</td>
          <td class="table-data">{{ data.NOTE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- VAM107 -->
  <div [(hidden)]="hideVAM107" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="VAM107Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total9"
      [nzPageSize]="pageSize9" [nzPageIndex]="pageIndex9" (nzQueryParams)="onQueryParamsChange($event, 'VAM107')"
      nzSize="small" nzTitle="銀行公會消金案件債務協商補充註記">
      <thead>
        <tr>
          <th class="table-header">統編/身分證號</th>
          <th class="table-header">訊息登錄日期</th>
          <th class="table-header">訊息種類大項代碼</th>
          <th class="table-header">訊息種類大項</th>
          <th class="table-header">訊息種類細項代碼(新)</th>
          <th class="table-header">訊息種類細項</th>
          <th class="table-header">訊息內容</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of VAM107Source">
          <td class="table-data">{{ data.IDN_BAN }}</td>
          <td class="table-data">{{ data.DATA_DATE }}</td>
          <td class="table-data">{{ data.MAINCODE }}</td>
          <td class="table-data">{{ data.MAINNOTE }}</td>
          <td class="table-data">{{ data.NEW_SUBCODE }}</td>
          <td class="table-data">{{ data.SUBNOTE }}</td>
          <td class="table-data">{{ data.NOTE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- VAM108 -->
  <div [(hidden)]="hideVAM108" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="VAM108Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total10"
      [nzPageSize]="pageSize10" [nzPageIndex]="pageIndex10" (nzQueryParams)="onQueryParamsChange($event, 'VAM108')"
      nzSize="small" nzTitle="其它補充註記資訊">
      <thead>
        <tr>
          <th class="table-header">統編/身分證號</th>
          <th class="table-header">訊息登錄日期</th>
          <th class="table-header">訊息種類大項代碼</th>
          <th class="table-header">訊息種類大項</th>
          <th class="table-header">訊息種類細項代碼(新)</th>
          <th class="table-header">訊息種類細項</th>
          <th class="table-header">訊息內容</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of VAM108Source">
          <td class="table-data">{{ data.IDN_BAN }}</td>
          <td class="table-data">{{ data.DATA_DATE }}</td>
          <td class="table-data">{{ data.MAINCODE }}</td>
          <td class="table-data">{{ data.MAINNOTE }}</td>
          <td class="table-data">{{ data.NEW_SUBCODE }}</td>
          <td class="table-data">{{ data.SUBNOTE }}</td>
          <td class="table-data">{{ data.NOTE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <!-- BAM029 -->
  <div [(hidden)]="hideBAM029" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="BAM029Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total11"
      [nzPageSize]="pageSize11" [nzPageIndex]="pageIndex11" (nzQueryParams)="onQueryParamsChange($event, 'BAM029')"
      nzSize="small" nzTitle="新增額度(含應計入DBR22倍金額)及清償資訊" [nzScroll]="{ x: '1500px' }">
      <thead>
        <tr>
          <th class="table-header" [nzWidth]="'300px'" [nzLeft]="true">新增核准額度日期/清償日期/到期或解約日期</th>
          <th class="table-header" [nzWidth]="'150px'">行庫代號</th>
          <th class="table-header" [nzWidth]="'150px'">行庫名稱</th>
          <th class="table-header" [nzWidth]="'150px'">交易別</th>
          <th class="table-header" [nzWidth]="'150px'">科目別</th>
          <th class="table-header" [nzWidth]="'150px'">科目別註記</th>
          <th class="table-header" [nzWidth]="'300px'">清償時最新授信月底餘額-未逾期金額(千元)</th>
          <th class="table-header" [nzWidth]="'300px'">清償時最新授信月底餘額-逾期金額(千元)</th>
          <th class="table-header" [nzWidth]="'150px'">訂約金額(千元)</th>
          <th class="table-header" [nzWidth]="'150px'">當日動撥金額(千元)</th>
          <th class="table-header" [nzWidth]="'150px'">清償金額(千元)</th>
          <th class="table-header" [nzWidth]="'300px'" [nzRight]="true">應計入DBR22倍規範之金額(千元)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BAM029Source">
          <td class="table-data" [nzLeft]="true">{{ data.PAY_LOAN_DATE }}</td>
          <td class="table-data">{{ data.BANK_CODE }}</td>
          <td class="table-data">{{ data.BANK_NAME }}</td>
          <td class="table-data">{{ data.XACT_CODE }}</td>
          <td class="table-data">{{ data.ACCOUNT_CODE }}</td>
          <td class="table-data">{{ data.ACCOUNT_CODE2 }}</td>
          <td class="table-data">{{ data.LASTMON_LOAN_AMT }}</td>
          <td class="table-data">{{ data.LASTMON_PASS_DUE_AMT }}</td>
          <td class="table-data">{{ data.NEW_CONTRACT_AMT }}</td>
          <td class="table-data">{{ data.NEW_LOAN_AMT }}</td>
          <td class="table-data">{{ data.NEW_PAY_LOAN_AMT }}</td>
          <td class="table-data" [nzRight]="true">{{ data.NEW_DBR22_AMT }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
