<div class="line_bank_bankground_color">
  <div style="margin-top: 5px; margin-left: 5px; width: 100%;">
    <button mat-raised-button [ngClass]="hideKRI002 ? 'nohide' : 'hide'" (click)="show('KRI002')"
      style="margin-top: 15px; margin-left: 5px;">KRI002</button>
    <button mat-raised-button [ngClass]="hideBAM011 ? 'nohide' : 'hide'" (click)="show('BAM011')"
      style="margin-top: 15px; margin-left: 5px;">BAM011</button>
    <button mat-raised-button [ngClass]="hideAAS003 ? 'nohide' : 'hide'" (click)="show('AAS003')"
      style="margin-top: 15px; margin-left: 5px;">AAS003</button>
    <button mat-raised-button [ngClass]="hideAPS001 ? 'nohide' : 'hide'" (click)="show('APS001')"
      style="margin-top: 15px; margin-left: 5px;">APS001</button>
    <button mat-raised-button [ngClass]="hideACI001 ? 'nohide' : 'hide'" (click)="show('ACI001')"
      style="margin-top: 15px; margin-left: 5px;">ACI001</button>
  </div>
  <br><br>

  <!-- <div class="watermark">
    {{ watermark }}
  </div> -->
  <div [(hidden)]="hideKRI002" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="KRI002Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total1"
      [nzPageSize]="pageSize1" [nzPageIndex]="pageIndex1" (nzQueryParams)="onQueryParamsChange($event, 'KRI002')"
      nzSize="small" nzTitle="信用卡結帳日期擷取範圍">
      <thead>
        <tr>
          <th class="table-header">帳單日迄至</th>
          <th class="table-header">帳單日起自</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of KRI002Source">
          <td class="table-data">{{ data.HI_BILL_DATE }}</td>
          <td class="table-data">{{ data.LO_BILL_DATE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideBAM011" class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="BAM011Source" [nzFrontPagination]="false" [nzSimple]="true" [nzTotal]="total2"
      [nzPageSize]="pageSize2" [nzPageIndex]="pageIndex2" (nzQueryParams)="onQueryParamsChange($event, 'BAM011')"
      nzSize="small" nzTitle="最新延遲繳款及繳清延遲繳款資訊">
      <thead>
        <tr>
          <th class="table-header">交易類別</th>
          <th class="table-header">延遲繳款應繳日期/繳清日期</th>
          <th class="table-header">延遲繳款應繳金額</th>
          <th class="table-header">行庫代號</th>
          <th class="table-header">行庫名稱</th>
          <th class="table-header">帳號</th>
          <th class="table-header">保留欄位</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BAM011Source">
          <td class="table-data">{{ data.XACT_CODE }}</td>
          <td class="table-data">{{ data.PASSDUE_PAYOFF_DATE }}</td>
          <td class="table-data">{{ data.PASSDUE_AMT }}</td>
          <td class="table-data">{{ data.BANK_CODE }}</td>
          <td class="table-data">{{ data.BANK_NAME }}</td>
          <td class="table-data">{{ data.ACCOUNT_NUM }}</td>
          <td class="table-data">{{ data.FILLER }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideAAS003" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="AAS003" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="AAS003 自然人姓名,身分證補發,通報,補充註記">
      <thead>
        <tr>
          <th class="table-header">身分證號</th>
          <th class="table-header">中文姓名</th>
          <th class="table-header">身分證註銷或一年內掛失紀錄</th>
          <th class="table-header">通報案件紀錄</th>
          <th class="table-header">是否有補充註記</th>
          <th class="table-header">補充註記</th>
          <th class="table-header">通報案件紀錄</th>
          <th class="table-header">在台無戶籍人士身分證號對照索引註記</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of AAS003">
          <td class="table-data">{{ data.IDN }}</td>
          <td class="table-data">{{ data.PNAME }}</td>
          <td class="table-data">{{ data.IS_LOST }}</td>
          <td class="table-data">{{ data.IS_WANTED }}</td>
          <td class="table-data">{{ data.IS_NOTE }}</td>
          <td class="table-data">{{ data.NOTELIST }}</td>
          <td class="table-data">{{ data.WANTEDLIST }}</td>
          <td class="table-data">{{ data.FOREIGNER_MARK }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideAPS001" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="APS001" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="APS001 自然人個人資料">
      <thead>
        <tr>
          <th class="table-header">戶籍地址</th>
          <th class="table-header">英文姓名</th>
          <th class="table-header">出生日期</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of APS001">
          <td class="table-data">{{ data.RGY_ADDRESS }}</td>
          <td class="table-data">{{ data.ENG_NAME }}</td>
          <td class="table-data">{{ data.BIRTHDAY }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideACI001" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="ACI001" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="ACI001 企業資料日期">
      <thead>
        <tr>
          <th class="table-header">資料日期 YYYMMDD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of ACI001">
          <td class="table-data">{{ data.DATA_DATE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideBAI001" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="BAI001" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="BAI001 授信資料日期">
      <thead>
        <tr>
          <th class="table-header">資料日期 YYYMMDD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BAI001">
          <td class="table-data">{{ data.DATA_DATE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideBAI004" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="BAI004" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="BAI004 現金卡資料日期">
      <thead>
        <tr>
          <th class="table-header">資料日期 YYYMMDD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BAI004">
          <td class="table-data">{{ data.DATA_DATE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideBAS006" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="BAS006" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="BAS006 新增額度及每筆撥款清償提示資訊">
      <thead>
        <tr>
          <th class="table-header">新增額度/撥款清償提示資訊 Y:有新增或清償資訊, N:無新增或清償資訊</th>
          <th class="table-header">授信最新月份</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BAS006">
          <td class="table-data">{{ data.CREDIT_AD_FLAG }}</td>
          <td class="table-data">{{ data.BA_YYYMM }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideBAS008" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="BAS008" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="BAS008 每日授信餘額變動資訊-交易日期擷取區間">
      <thead>
        <tr>
          <th class="table-header">每日授信餘額變動資訊-交易起日 民國年月日</th>
          <th class="table-header">每日授信餘額變動資訊-交易迄日 民國年月日</th>
          <th class="table-header">保留欄位</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of BAS008">
          <td class="table-data">{{ data.STA_DATE }}</td>
          <td class="table-data">{{ data.END_DATE }}</td>
          <td class="table-data">{{ data.FILLER }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideKRI001" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="KRI001" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="KRI001 資料處理日期">
      <thead>
        <tr>
          <th class="table-header">資料處理日期YYYMMDD</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of KRI001">
          <td class="table-data">{{ data.DATA_DATE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideJAS002" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="JAS002" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="JAS002 信用異常紀錄 (B, D, K)">
      <thead>
        <tr>
          <th class="table-header">授信異常</th>
          <th class="table-header">最近授信異常日期</th>
          <th class="table-header">退票異常</th>
          <th class="table-header">最近退票異常日期</th>
          <th class="table-header">拒絕往來記錄</th>
          <th class="table-header">拒絕往來日期 拒絕往來記錄N本欄位有日期為該戶拒往已解除本欄位日期為拒絕往來日期</th>
          <th class="table-header">強制停卡異常</th>
          <th class="table-header">最近強制停卡日期</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of JAS002">
          <td class="table-data">{{ data.EVER_DELINQUENT }}</td>
          <td class="table-data">{{ data.DELINQUENT_DATE }}</td>
          <td class="table-data">{{ data.EVER_BAD_CHECK }}</td>
          <td class="table-data">{{ data.BAD_CHECK_DATE }}</td>
          <td class="table-data">{{ data.EVER_REJECT }}</td>
          <td class="table-data">{{ data.REJECT_DATE }}</td>
          <td class="table-data">{{ data.EVER_STOP_CARD }}</td>
          <td class="table-data">{{ data.STOP_CARD_DATE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideVAM020" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="VAM020" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="VAM020 身分證號更改紀錄 (表頭)">
      <thead>
        <tr>
          <th class="table-header">原身分證號</th>
          <th class="table-header">新身分證號</th>
          <th class="table-header">中文姓名</th>
          <th class="table-header">本中心處理日期</th>
          <th class="table-header">比對代號 (1:原身分證號 2:新身分證號)</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of VAM020">
          <td class="table-data">{{ data.OLD_IDN }}</td>
          <td class="table-data">{{ data.NEW_IDN }}</td>
          <td class="table-data">{{ data.NAME }}</td>
          <td class="table-data">{{ data.OP_DATE }}</td>
          <td class="table-data">{{ data.TYPE }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>

  <div [(hidden)]="hideSTS007" class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="STS007" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="STS007 被查詢總次數(查詢理由新業務原業務統計)">
      <thead>
        <tr>
          <th class="table-header">新業務申請次數</th>
          <th class="table-header">原業務往來次數</th>
          <th class="table-header">原業務往來及新業務申請次數</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of STS007">
          <td class="table-data">{{ data.NEW_CNT }}</td>
          <td class="table-data">{{ data.OLD_CNT }}</td>
          <td class="table-data">{{ data.OLD_NEW_CNT }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
  <br><br>
</div>
