<div class="line_bank_bankground_color">
    <br>
    <div class="line_bank_card_no_padding">
      <nz-table nzShowSizeChanger [nzData]="restartDataSource" [nzFrontPagination]="false" [nzSimple]="true"
      nzFooter=" "
        nzSize="small" nzTitle="申覆資料檔">
        <thead>
          <tr>
            <th class="table-header">No</th>
            <th class="table-header">申覆原因</th>
            <th class="table-header">申覆說明</th>
            <th class="table-header">申覆人員</th>
            <th class="table-header">申覆時間</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of restartDataSource;let i = index" >
            <td class="table-data"[nzAlign]="'center'">{{ i+1 }}</td>
            <td class="table-data">{{ data.REASON_DESC }}</td>
            <td class="table-data">{{ data.RESTART_CONTENT }}</td>
            <td class="table-data">{{ data.RESTART_EMPNO }}</td>
            <td class="table-data">{{ data.RESTART_DATE }}</td>
          </tr>
        </tbody>
      </nz-table>
    </div>
</div>