
<div>
  <button type="button"  >儲存</button>
  &nbsp;&nbsp;
  <button type="button" >發送Fraud Team</button>
</div>
<form  width='100%' >
  <table bordercolor="#000000" cellspacing="0" cellpadding="2" style="border-collapse:collapse;width: 1200px;">
  <tr>
    <th  width='20%'>NO</th>
    <th  width='40%'>第一層(可複選)</th>
    <th  width='40%'>第二層(可複選)</th>
  </tr>
  <tr>
    <td>1</td>
    <td><label><input type="checkbox">FDS</label></td>
    <td class="td3"></td>
  </tr>
  <tr>
    <td>2</td>
    <td><label><input type="checkbox">資料比對異常</label></td>
    <td class="td3">
      <label><input type="checkbox">IP 比對重複</label><br>
      <label><input type="checkbox">行動電話比對重複</label><br>
      <label><input type="checkbox">戶籍電話比對重複</label><br>
      <label><input type="checkbox">戶籍地址比對重複</label><br>
    </td>
  </tr>
  <tr>
    <td>3</td>
    <td><label><input type="checkbox">財力證明異常</label></td>
    <td class="td3">
      <label><input type="checkbox">憑扣清單</label><br>
      <label><input type="checkbox">薪轉</label><br>
      <label><input type="checkbox">薪資單</label><br>
      <label><input type="checkbox">勞保明細</label><br>
    </td>
  </tr>
</table>
</form>

