<div class="line_bank_card_no_padding" style="min-height:170px">

    <div class="line_bank_form_header_title">上傳Excel</div>
    <div class="container" style="padding:20px">
        <form class="mat-dialog-content" #formControl="ngForm" [formGroup]="uploadForm">
            <div nz-row>
                <div nz-col nzSpan="32">
                    <div class="form" style="padding:20px">
                        <div><span class="form-title-actions">上傳檔案</span>
                            <div mat-dialog-actions>
                                <input type="file" (change)="onChange($event)" />
                            </div>
                            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-row>
                <div nz-col nzSpan="32">
                    <div class="form" style="padding:20px">
                        <div><span class="form-title-actions">上傳異常訊息</span>
                            <textarea matInput formControlName="ERROR_MESSAGE" readonly style="color:red"></textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div mat-dialog-actions>
                <button nz-button [nzSize]="'middle'" nzType="primary" [disabled]="!formControl.valid"
                    style="margin:0px 5px" (click)="confirmAdd()">儲存</button>
                <button nz-button [nzSize]="'middle'" nzType="warn" (click)="onNoClick()" tabindex="-1"
                    style="margin:0px 5px">取消</button>
            </div>
            <br><br>
        </form>
    </div>
</div>
<!-- 
<div class="container">
    <h2 mat-dialog-title>上傳Excel</h2>

    <form [formGroup]="uploadForm" class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm" style = "height: 250px">
        <table>
            <mat-card class="matCard">
                <mat-card-content>
                    <tr>
                        <th>上傳檔案</th>
                        <td>
                            <div mat-dialog-actions>
                                <input type="file" (change)="onChange($event)" />
                            </div>
                        </td>
                    </tr>
                    <br>
                    <tr>
                        <th>上傳異常訊息</th>
                        <td>
                            <textarea matInput formControlName="ERROR_MESSAGE" readonly style="color:red"></textarea>
                        </td>
                    </tr>
                </mat-card-content>
            </mat-card>
        </table>


        <div mat-dialog-actions>
            <button mat-raised-button [type]="submit" color="primary" (click)="confirmAdd()">儲存</button>
            <button mat-raised-button (click)="onNoClick()" color="warn" tabindex="-1">取消</button>
        </div>
    </form>
</div> -->