<th class="f01_th">BAM504</th>
<br>
<mat-table [dataSource]="BAM504Source" matSortDisableClear>
  <ng-container matColumnDef="DATA_YYY">
    <mat-header-cell *matHeaderCellDef>資料年度</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_YYY }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DATA_MM">
    <mat-header-cell *matHeaderCellDef>資料月份</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_MM }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_CODE">
    <mat-header-cell *matHeaderCellDef>行庫代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>行庫名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="AMT">
    <mat-header-cell *matHeaderCellDef>金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FILLER">
    <mat-header-cell *matHeaderCellDef>保留欄位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FILLER }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['DATA_YYY', 'DATA_MM', 'BANK_CODE', 'BANK_NAME', 'AMT', 'FILLER']"></mat-header-row>
  <mat-row *matRowDef="let BAM504SourceRow; columns: ['DATA_YYY', 'DATA_MM', 'BANK_CODE', 'BANK_NAME', 'AMT', 'FILLER']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
