<div class="line_bank_card_no_padding" style="min-height:170px">
  <div class="line_bank_form_header_title">覆審資訊</div>
  <div nz-row>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">身分證字號</span><input matInput #input class="form-control"
          [(ngModel)]="applno" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">客戶ID</span><input matInput #input class="form-control"
          [(ngModel)]="cuCName" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">姓名</span><input matInput #input class="form-control"
          [(ngModel)]="custId" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">符合貸後異常名單</span><input matInput #input class="form-control"
          [(ngModel)]="nationalId" readonly></div>
    </div>
  </div>
</div>
