<th class="f01_th">COMPARE本案申請書資訊合理性比對</th>
<ng-container *ngIf="compare.length == 0; else elseTemplate">
  <br><br>
  <th style="padding-left: 20px;color: red;">查無比對資料</th>
</ng-container>
<ng-template #elseTemplate>
  <form [formGroup]="compareForm" style="padding-left: 20px;">
    <!-- <input type="button" value="test" (click)="test()" > -->
    <table>
      <mat-card class="matCard">
        <mat-card-content>
          <ng-container *ngFor="let compare of compare;let i = index">
            <ng-container *ngIf="i%3==0">
              <tr>
            </ng-container>
            <ng-container *ngIf="compare.result == 'Y'; else elseTemplate">
              <th nowrap="nowrap">{{getOptionDesc(compare.compareColumn)}}：</th>
              <td style="color: red;">
                {{compare.count}}
              </td>
            </ng-container>
            <ng-template #elseTemplate>
              <th nowrap="nowrap">{{getOptionDesc(compare.compareColumn)}}：</th>
              <td>
                {{compare.count}}
              </td>
            </ng-template>
          </ng-container>
        </mat-card-content>
        <!-- <mat-card-content>
          <tr>
            <th nowrap="nowrap">IP地址</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="IP_ADDR" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap">手機型號</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="PHONE_MODEL" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap">戶籍電話</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="P_TEL" readonly>
              </mat-form-field>
            </td>
        </tr>
        <tr>
          <th nowrap="nowrap">通訊電話</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="C_TEL" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap">公司名稱</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_NAME" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap">公司電話</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TEL" readonly>
            </mat-form-field>
          </td>
      </tr>
      <tr>
        <th nowrap="nowrap">年收入</th>
        <td>
          <mat-form-field color="accent">
            <input matInput #input formControlName="SALARY_YEAR" readonly>
          </mat-form-field>
        </td>
      </tr>
        </mat-card-content> -->
      </mat-card>
    </table>
  </form>
</ng-template>

