<!-- 本行存款往來 -->
<br>
<div class="line_bank_card_no_padding">
  <!-- 表格 -->
  <nz-table nzShowSizeChanger [nzData]="DEPOSITSource" [nzFrontPagination]="false" [nzSimple]="true"
    [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small"
    nzTitle="產品資訊">
    <thead>
      <tr>
        <th class="table-header">帳戶類別</th>
        <th class="table-header">帳戶狀態</th>
        <th class="table-header">開立帳戶日期</th>
        <!-- <th class="table-header">終止日期</th> -->
        <th class="table-header">迄今往來天數</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of DEPOSITSource">
        <td class="table-data">{{ data.PROD_TYPE}}</td>
        <td class="table-data">{{ data.ACC_STATUS }}</td>
        <td class="table-data">{{ data.ACC_OPEN_DATE }}</td>
        <!-- <td class="table-data">{{ data.ACC_EXP_DATE | date: 'yyyy-MM-dd hh：mm：ss' }}</td> -->
        <td class="table-data">{{ data.ACTIVATE_DAY}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div class="line_bank_card_no_padding">
  <nz-table nzShowSizeChanger [nzData]="DM_DEP_TRANS_DETAILSource" [nzFrontPagination]="false" [nzSimple]="true"
    [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small"
    nzTitle="活期存款帳戶交易明細(近六個月內)">
    <thead>
      <tr>
        <th class="table-header">交易日期時間</th>
        <th class="table-header">帳戶名稱</th>
        <th class="table-header">帳戶</th>
        <!-- <th class="table-header">帳戶狀態</th> -->
        <th class="table-header">交易類型</th>
        <!-- <th class="table-header">MCC</th> -->
        <th class="table-header">交易名稱/銀行</th>
        <th class="table-header">帳戶號碼</th>
        <th class="table-header">提出</th>
        <th class="table-header">存入</th>
        <th class="table-header">手續費</th>
        <th class="table-header">餘額</th>
        <th class="table-header">備註欄位</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of DM_DEP_TRANS_DETAILSource">
        <td class="table-data">{{ data.TRANS_DATE | date: 'yyyy-MM-dd HH：mm：ss'}}</td>
        <td class="table-data">{{ data.ACC_NAME }}</td>
        <td class="table-data">{{ data.ACC_NO }}</td>
        <!-- <td class="table-data">{{ data.ACC_STATUS}}</td> -->
        <td class="table-data">{{ data.TRANS_TYPE }}</td>
        <!-- <td class="table-data">{{ data.MCC }}</td> -->
        <td class="table-data">{{ data.TRANS_BANK }}</td>
        <td class="table-data">{{ data.TRANS_ACC_NO }}</td>
        <td class="table-data">{{ toCurrency(data.WITHDRAWAL) }}</td>
        <td class="table-data">{{ toCurrency(data.DEPOSIT) }}</td>
        <td class="table-data">{{ data.TRANS_FEE }}</td>
        <td class="table-data">{{ toCurrency(data.BALANCE) }}</td>
        <td class="table-data">{{ data.REMARK }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div class="line_bank_card_no_padding">
  <nz-table nzShowSizeChanger [nzData]="TIME_DEP_TRANS_DETAILSource" [nzFrontPagination]="false" [nzSimple]="true"
    [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small"
    nzTitle="定期存款帳戶交易明細(近六個月內)">
    <thead>
      <tr>
        <th class="table-header">帳戶類型</th>
        <th class="table-header">交易日期時間</th>
        <th class="table-header">帳戶名稱</th>
        <th class="table-header">帳號</th>
        <th class="table-header">帳戶狀態</th>
        <th class="table-header">目標金額</th>
        <th class="table-header">預計期數</th>
        <th class="table-header">達成期數</th>
        <th class="table-header">利率</th>
        <th class="table-header">交易類型</th>
        <th class="table-header">存入</th>
        <th class="table-header">累計存入金額</th>
        <th class="table-header">存款達成率</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of TIME_DEP_TRANS_DETAILSource">
        <td class="table-data">{{ data.ACC_TYPE }}</td>
        <td class="table-data">{{ data.TRANS_DATE | date: 'yyyy-MM-dd hh：mm：ss'}}</td>
        <td class="table-data">{{ data.ACC_NAME }}</td>
        <td class="table-data">{{ data.ACC_NO }}</td>
        <td class="table-data">{{ data.ACC_STATUS}}</td>
        <td class="table-data">{{ toCurrency(data.TARGET_AMOUNT) }}</td>
        <td class="table-data">{{ data.TARGET_MONTHS }}</td>
        <td class="table-data">{{ data.REACH_MONTHS }}</td>
        <td class="table-data">{{ data.RATE }}</td>
        <td class="table-data">{{ data.TRANS_TYPE }}</td>
        <td class="table-data">{{ toCurrency(data.AMOUNT) }}</td>
        <td class="table-data">{{ toCurrency(data.TT_AMOUNT) }}</td>
        <td class="table-data">{{ data.ACHIEVEMENT }}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

<div class="line_bank_card_no_padding">
  <nz-table nzShowSizeChanger [nzData]="DEPOSIT_STATIS_DATASource" [nzFrontPagination]="false" [nzSimple]="true"
    [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small"
    nzTitle="本行存款統計數據">
    <thead>
      <tr>
        <th class="table-header">帳戶類型</th>
        <th class="table-header">帳戶名稱</th>
        <th class="table-header">有效帳戶數</th>
        <th class="table-header">目前餘額</th>
        <th class="table-header">上月底餘額</th>
        <th class="table-header">近三個月月底餘額平均</th>
        <th class="table-header">近六個月月底餘額平均</th>
        <!-- <th class="table-header">目前餘額較上月底變動幅度</th>
        <th class="table-header">目前餘額較前第三個月底變動幅度</th>
        <th class="table-header">目前餘額較前第六個月底變動幅度</th> -->
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let data of DEPOSIT_STATIS_DATASource">
        <td class="table-data">{{ data.ACC_TYPE }}</td>
        <td class="table-data">{{ data.ACC_NAME }}</td>
        <td class="table-data">{{ data.ACTIVE_ACC_NUM }}</td>
        <td class="table-data">{{ toCurrency(data.BALANCE) }}</td>
        <td class="table-data">{{ toCurrency(data.LAST_MON_BAL) }}</td>
        <td class="table-data">{{ toCurrency(data.AVE_BAL_MON_3) }}</td>
        <td class="table-data">{{ toCurrency(data.AVE_BAL_MON_6) }}</td>
        <!-- <td class="table-data">{{ data.AMT_VARI_LAST_MONTH }}</td>
        <td class="table-data">{{ data.AMT_VARI_3RD_MONTH }}</td>
        <td class="table-data">{{ data.AMT_VARI_6TH_MONTH }}</td> -->
      </tr>
    </tbody>
  </nz-table>
</div>
