<div class="line_bank_card_no_padding">
  <div class="line_bank_form_header_title">DSS照會模組-新增</div>
  <div nz-row>
    <form [formGroup]="dssCalloutForm" class="mat-dialog-content" #formControl="ngForm">
      <div nz-col nzSpan="24">
        <div class="form">
          <div><span class="form-title">照會模組</span>
            <mat-select formControlName="tvNo" class="input-select">
              <mat-option *ngFor="let code of tvNoCode" [value]="code.value">
                {{code.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <div class="form">
          <div><span class="form-title">系統徵信比對</span>
            <mat-select formControlName="scklv" class="input-select">
              <mat-option *ngFor="let code of scklvCode" [value]="code.value">
                {{code.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <div class="form">
          <div><span class="form-title">案件等級</span>
            <mat-select formControlName="calv" class="input-select">
              <mat-option *ngFor="let code of calvCode" [value]="code.value">
                {{code.viewValue}}
              </mat-option>
            </mat-select>
            <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="24">
        <div class="button-group">
          <button nz-button [nzSize]="'middle'" nzType="primary" (click)="save()" [disabled]="!formControl.valid"
            [mat-dialog-close]="1">儲存</button>
          <button nz-button [nzSize]="'middle'" nzType="primary" (click)="onNoClick()" tabindex="-1">取消</button>
        </div>
      </div>
    </form>
  </div>
</div>