input{
    background-color:#ffffff;
    border-radius: 5px;
    height:30px;
    width:100%;
    border: 1px solid #c9c9c9;
  }
  .ant-btn-dangerous{
    color: #f80000;;
    background:white;
    border-color:#f80000;
    border-radius:5px;
    
    }
    .ant-btn-dangerous:hover{
    color:#ffffff;
    background:#f80000;
    border-color:#f80000;
    border-radius:5px;
    box-shadow:0 2px 0 rgb(0 0 0 / 5%);
    }
    .ant-btn-dangerous:active{
    color:#ffffff;
    background:#f80000;
    border-color:#f80000;
    border-radius:5px;
    }
    .mat-select{
      width:100%;
      display:inline-block;
      height:30px;
      font-size:14px;
      border-radius:5px;
      border:1px solid #c9c9c9;
      padding:4px;
      background-color:#ffffff;
    }
    .red{
      color:red;
    }
    .green{
      color:rgb(13, 213, 13);
    }
    .input-textarea{
      height:150px;
    }
    input:disabled{
      color: darkgrey;
      background-color:#E6E6E6
    }
    .fake-input{
      border:1px solid #c9c9c9;
      border-radius:5px;
      height:25px;
      width:100%;
      color:darkgrey;
      background-color: #E6E6E6;
      padding:3px;

    }