<div class="line_bank_card_no_padding" style="min-height:170px">
  <div class="line_bank_form_header_title" style="margin:0">徵信照會-編輯</div>
  <div class="container" style="padding:20px">
    <form class="mat-dialog-content" #formControl="ngForm" >

      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">聯絡方式</span>
              <nz-radio-group [(ngModel)]="data.CON_TYPE" name="CON_TYPE" required>
                <div nz-row>
                  <div nz-col nzSpan="12" *ngFor="let code of CON_TYPE_Code">
                    <label nz-radio [nzValue]="code.value">{{code.viewValue}}</label>
                  </div>
                </div>

              </nz-radio-group>
            </div>
            <mat-error *ngIf="formControl.invalid && (data.CON_TYPE=='' || data.CON_TYPE== null) ">{{getErrorMessage()}}</mat-error>
          </div>
        </div>

        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">電話驗證</span>
              <nz-radio-group [(ngModel)]="data.TEL_CHECK" name="TEL_CHECK" required>
                <div nz-row>
                  <div nz-col nzSpan="12" *ngFor="let code of TEL_CHECK_Code">
                    <label nz-radio [nzValue]="code.value">{{code.viewValue}}</label>
                  </div>
                </div>
              </nz-radio-group>
            </div>
            <mat-error *ngIf="formControl.invalid && (data.TEL_CHECK=='' || data.TEL_CHECK== null) ">{{getErrorMessage()}}</mat-error>
          </div>
        </div>

        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">電話狀況</span>
              <nz-radio-group [(ngModel)]="data.TEL_CONDITION" name="TEL_CONDITION">
                <div nz-row>
                  <div nz-col nzSpan="12" *ngFor="let code of TEL_CONDITION_Code">
                    <label nz-radio  required [nzValue]="code.value">{{code.viewValue}}</label>
                  </div>
                </div>
              </nz-radio-group>
            </div>
            <mat-error *ngIf="formControl.invalid && (data.TEL_CONDITION=='' || data.TEL_CONDITION== null) ">{{getErrorMessage()}}</mat-error>
          </div>
        </div>
      </div>
      <!-- <nz-divider style="padding:0px"></nz-divider> -->
      <div nz-row>


        <div nz-col nzFlex="1">
          <div style="padding:10px"><span style="margin-top:8px;" class="form-title">確認時間</span>
            <nz-date-picker style="display:block" [(ngModel)]="data.CALLOUT_SETTIME" name="CALLOUT_SETTIME" disabled>
            </nz-date-picker>
          </div>
        </div>
        <div nz-col nzFlex="1">
          <div style="padding:10px"><span style="margin-top:8px;" class="form-title">設定下次照會時間</span>
            <nz-date-picker style="display:block" [(ngModel)]="data.CALLOUT_DATE" name="CALLOUT_DATE" (keydown.enter)="$event.preventDefault()" >
            </nz-date-picker>
          </div>
        </div>
        <div nz-col nzFlex="1">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">時</span>
              <mat-select [(ngModel)]="data.HOURS" name="HOURS">
                <mat-option *ngFor="let code of HOURS_Code" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div nz-col nzFlex="1">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">分</span>
              <mat-select [(ngModel)]="data.MINUTES" name="MINUTES">
                <mat-option *ngFor="let code of MINUTES_Code" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
        <div nz-col nzFlex="1">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">手機/市話</span>
              <input matInput #input class="form-control" (keydown.enter)="$event.preventDefault()" (keypress)="numberOnly($event)" [(ngModel)]="data.PHONE" name="PHONE" maxlength="20" required>
              <mat-error *ngIf="formControl.invalid && (data.PHONE=='' || data.PHONE== null) ">{{getErrorMessage()}}</mat-error>
            </div>
          </div>
        </div>

        <div nz-col nzFlex="1">
          <div class="form" style="padding:20px">
            <div><span class="form-title-actions">照會完成</span>
              <mat-select [(ngModel)]="data.CALLOUT_YN" name="CALLOUT_YN">
                <mat-option *ngFor="let code of CALLOUT_YN_Code" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>

      </div>
      <!-- <nz-divider style="padding:0px"></nz-divider> -->
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="form">
            <div><span style="width: 100%;" class="form-title">備註</span><textarea matInput class="input-textarea" [(ngModel)]="data.CON_MEMO"
                name="CON_MEMO" style="height: 80px;" maxlength="100" ></textarea>
            </div>
          </div>
        </div>
      </div>


      <div mat-dialog-actions style="padding-top:0px;padding-bottom:0px;">
        <button nz-button [nzSize]="'middle'" nzType="primary" [disabled]="!formControl.valid" [mat-dialog-close]="1"
          style="margin:0px 5px" (click)="save()">儲存</button>
        <button nz-button [nzSize]="'middle'" nzType="primary" (click)="onNoClick()" tabindex="-1"
          style="margin:0px 5px">取消</button>
      </div>
    </form>
  </div>
</div>
