<div class="line_bank_bankground_color">
  <br>
  <div class="line_bank_card_no_padding">
    <div nz-row>
      <div nz-col nzFlex="1">
        <div style="padding:10px"><span class="form-title">案件編號</span><input style="display: block;"
            [(ngModel)]="applno" name="applno">
        </div>
      </div>
      <div nz-col nzFlex="1">
        <div style="padding:10px"><span class="form-title">身分證字號</span><input style="display: block;"
            [(ngModel)]="nationalId" name="national_ID">
        </div>
      </div>
      <div nz-col nzFlex="1">
        <div style="padding:10px"><span class="form-title">客戶ID</span><input style="display: block;"
            [(ngModel)]="custId" name="cust_ID">
        </div>
      </div>
      <div nz-col nzFlex="1">
        <div style="padding:10px"><span class="form-title">客戶姓名</span><input style="display: block;"
            [(ngModel)]="custCname" name="cust_CNAME">
        </div>
      </div>
      <div nz-col nzFlex="1">
        <div style="padding:10px"><span class="form-title">徵審進件日期時間</span>
          <nz-range-picker [(ngModel)]="applyTime" name="applyTime" (ngModelChange)="dateNull(applyTime,'applyTime')">
          </nz-range-picker>
        </div>
      </div>
      <div nz-col nzFlex="1">
        <div style="padding:10px"><span class="form-title">簽約完成日期</span>
          <nz-range-picker [(ngModel)]="signUpTime" name="signUpTime"
            (ngModelChange)="dateNull(signUpTime,'signUpTime')"></nz-range-picker>
        </div>
      </div>
    </div>
    <div style="padding:10px;text-align:center">
      <button nz-button [nzSize]="'middle'" nzType="primary" (click)="select()">查詢資料</button>&nbsp;
      <button nz-button [nzSize]="'middle'" nzDanger (click)="clear()">清除資料</button>&nbsp;
    </div>
  </div>
  <div class="line_bank_card_no_padding">
    <div class="line_bank_form_header_title">案件查詢資料結果:(案件數:{{total}}件)</div>
    <nz-table id="box" #goUp nzShowSizeChanger [nzFrontPagination]="false" [nzPageSizeOptions]="true" [nzData]="newData"
      [nzSimple]="true" [nzScroll]="{ x: '4000px', y: '400px' }" [nzLoading]="false" [nzTotal]="total"
      [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" (nzQueryParams)="onQueryParamsChange($event)">
      <thead>
        <tr>
          <th nzLeft nzWidth="60px">序號</th>
          <th nzLeft nzWidth="60px">累進</th>
          <th nzLeft nzWidth="150px" (nzSortOrderChange)="sortChange($event,'APPLYEND_TIME')" [nzSortFn]="false"
            [nzSortDirections]="sortArry">徵審進件日期時間</th>
          <th nzLeft nzWidth="110px">客群標籤</th>
          <th nzLeft nzWidth="150px" (nzSortOrderChange)="sortChange($event,'APPLNO')" [nzSortFn]="false"
            [nzSortDirections]="sortArry">案件編號</th>
          <th nzWidth="110px">身分證字號</th>
          <th nzWidth="110px">客戶ID</th>
          <th nzWidth="110px">客戶姓名</th>
          <th nzWidth="110px">客戶手機</th>
          <th nzWidth="160px">公司名稱</th>
          <th nzWidth="110px">審核結果</th>
          <th nzWidth="110px">等級gp</th>
          <th nzWidth="150px">案件狀態</th>
          <th nzWidth="80px">系統狀態</th>
          <th nzWidth="150px">上傳財力日期時間</th>
          <th nzWidth="130px">准駁日期時間</th>
          <th nzWidth="130px">簽約日期時間</th>
          <th nzWidth="150px">產品名稱</th>
          <th nzWidth="120px">申請金額/額度</th>
          <th nzWidth="120px">核准金額/額度</th>
          <!-- <th nzWidth="120px">合約金額/額度</th> -->
          <th nzWidth="150px">文審人員員編姓名</th>
          <th nzWidth="150px">徵信人員員編姓名</th>
          <th nzWidth="150px">授信人員員編姓名</th>
          <th nzWidth="130px">授信覆核人員</th>
          <th nzWidth="130px">主管人員</th>
          <th nzWidth="130px">Fraud人員</th>
          <th nzWidth="160px">產生合約前回查人員</th>
          <th nzWidth="160px">產生合約前回查覆核</th>
          <!-- <th nzWidth="150px">專案名稱</th> -->
          <!-- <th nzWidth="150px">行銷代碼</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of newData;let i = index">
          <!--序號-->
          <td nzLeft>{{i+1}}</td>
          <!--累計進件數-->
          <td nzLeft>{{data.HISTORY_NUM}}</td>
          <!--進件日期-->
          <td nzLeft>{{ data.APPLYEND_TIME | date: 'yyyy-MM-dd HH:mm:ss' }}</td>
          <!--客群標籤-->
          <td nzLeft>{{ data.CUST_FLAG }}</td>
          <!--案件編號-->
          <td nzLeft><button nz-button [nzSize]="'middle'" nzType="link"
              (click)="Detail(data.APPLNO,data.NATIONAL_ID,data.CU_CNAME,  data.CUST_ID)">{{
              data.APPLNO }}</button></td>
          <!--身分證字號-->
          <td>{{ data.NATIONAL_ID }}</td>
          <!--客戶id-->
          <td>{{ data.CUST_ID }}</td>
          <!--客戶姓名-->
          <td>{{ data.CU_CNAME }}</td>
          <!--客戶手機-->
          <td>{{ data.CU_M_TEL }}</td>
          <!--公司名稱-->
          <td>{{ data.CU_CP_NAME }}</td>
          <!--審核結果-->
          <td>{{ data.CREDIT_RESULT }}</td>
          <!--風險等級分群-->
          <td>{{ data.GRADE_GP }}</td>
          <!--案件狀態-->
          <td>{{data.STATUS_DESC}} - {{getType(data.STATUS_DESC) }}</td>
          <!--系統狀態-->
          <td>{{ data.OP_DESC }}</td>
          <!--上傳財力日期-->
          <td>{{ data.PROOF_DOCUMENT_TIME }}</td>
          <!--准駁日期時間-->
          <td>{{data.CREDIT_TIME}}</td>
          <!--簽約完成日期-->
          <td>{{ data.SIGN_UP_TIME }}</td>
          <!--產品名稱-->
          <td>{{data.PROD_CODE}}</td>
          <!--申請金額/額度-->
          <td style="text-align:right">{{data.APPLICATION_AMOUNT != undefined?
            data_number(data.APPLICATION_AMOUNT):data.APPLICATION_AMOUNT}}</td>
          <!--核准金額/額度-->
          <td style="text-align:right">{{data.APPROVE_AMT != undefined? data_number(data.APPROVE_AMT):data.APPROVE_AMT}}
          </td>
          <!--合約金額/額度-->
          <!-- <td style="text-align:right"></td> -->
          <!--文審-->
          <td>{{ data.L4EMPNO }}</td>
          <!--徵信員姓名-->
          <td>{{ data.L3EMPNO }}</td>
          <!--授信員編-->
          <td>{{ data.L2EMPNO }}</td>
          <!-- 授信覆核人員 -->
          <td>{{data.L1EMPNO}}</td>
          <!-- 主管人員 -->
          <td>{{data.L0EMPNO}}</td>
          <!-- Fraud人員 -->
          <td>{{data.FRAUD_EMPNO}}</td>
          <!-- 產生合約前回查人員 -->
          <td>{{data.D2EMPNO}}</td>
          <!-- 產生合約前回查覆核 -->
          <td>{{data.D1EMPNO}}</td>
          <!--專案名稱-->
          <!-- <td>{{data.PRJ_CODE}}</td> -->
          <!--行銷代碼-->
          <!-- <td></td> -->
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
