<th class="f01_th">行外查詢 {{ getApplno() }}</th>
<th>查詢日期：</th>
<td>
  <mat-form-field color="accent">
    <mat-select [(ngModel)]="dateValue" name="ynCode" (ngModelChange)="changeDate()">
      <mat-option *ngFor="let date of dateCode" [value]="date.value">
        {{date.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</td>
<div style="margin-top: 15px; margin-left: 5px;">
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE1"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">自然人姓名,身分證補發,通報,補充註記</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE2"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">自然人個人資料</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE3"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">企業資料日期</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE4"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">授信資料日期</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE5"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">現金卡資料日期</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE6"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">信用卡結帳日期擷取範圍</button><br>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE7"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">新增額度及每筆撥款清償提示資訊</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE8"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">最新延遲繳款及繳清延遲繳款資訊</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE9"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">每日授信餘額變動資訊-交易日期擷取區間</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE10"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">每日授信餘額變動資訊-餘額增加</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE11"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">新增額度(含應計入DBR22倍金額)及清償資訊</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE12"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">授信戶基本資料</button><br>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE13"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">現金卡日報發卡日期資訊</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE14"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">現金卡日報放款餘額及還款紀錄資訊(新版)</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE15"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">授信餘額變動資料</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE16"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">99年版授信保證資料(共同債務)</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE17"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">99年版授信保證資料(從債務)</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE18"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">99年版授信保證資料(其他)</button><br>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE19"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">綜合授信、房貸業務分類及擔保品資訊</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE20"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">應計入DBR22倍規範之無擔保債務餘額彙總</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE21"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">應計入DBR22倍規範之無擔保放款明細</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE22"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">應計入DBR22倍規範之貸款餘額</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE23"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">新增核准額度中應計入DBR22倍之金額明細</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE24"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">最近二年年收入資訊</button><br>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE25"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">債權轉讓資料明細-B33</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE26"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">主體連帶退票摘要紀錄(含外幣資訊)</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE27"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">資料處理日期</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE28"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">信用卡戶基本資訊彙總</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE29"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">信用卡正附卡資訊(本人信用卡)(含雙幣卡)</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE30"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">信用卡戶帳款資訊(週報+12個月)(含雙幣卡)</button><br>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE31"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">學生身分報送紀錄</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE32"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">信用異常紀錄</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE33"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">身分證號更改紀錄</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE34"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">消債條例信用註記資訊（含個別協商）</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE35"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">銀行公會消金案件債務協商補充註記</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE36"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">其他補充註記資訊</button><br>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE37"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">通報案件紀錄資訊-案件通報</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE38"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">近一年內不含查詢當日非Z類被查詢紀錄明細</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE39"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">當日非Z類產品被查詢紀錄</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE40"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">最近一年內當事人申請查詢紀錄明細</button>
    <button mat-raised-button color="primary" routerLink="./F01001SCN6PAGE41"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid() }">被查詢總次數(查詢理由新業務原業務統計)</button>
  </div>
  <router-outlet></router-outlet>
