<th class="f01_th">BAM011</th>
<br>
<mat-table [dataSource]="BAM011Source" matSortDisableClear>
  <ng-container matColumnDef="XACT_CODE">
    <mat-header-cell *matHeaderCellDef>交易類別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.XACT_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PASSDUE_PAYOFF_DATE">
    <mat-header-cell *matHeaderCellDef>延遲繳款應繳日期/繳清日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PASSDUE_PAYOFF_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PASSDUE_AMT">
    <mat-header-cell *matHeaderCellDef>延遲繳款應繳金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PASSDUE_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_CODE">
    <mat-header-cell *matHeaderCellDef>行庫代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>行庫名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACCOUNT_NUM">
    <mat-header-cell *matHeaderCellDef>帳號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ACCOUNT_NUM }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FILLER">
    <mat-header-cell *matHeaderCellDef>保留欄位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FILLER }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['XACT_CODE', 'PASSDUE_PAYOFF_DATE', 'PASSDUE_AMT', 'BANK_CODE', 'BANK_NAME', 'ACCOUNT_NUM', 'FILLER']"></mat-header-row>
  <mat-row *matRowDef="let BAM011SourceRow; columns: ['XACT_CODE', 'PASSDUE_PAYOFF_DATE', 'PASSDUE_AMT', 'BANK_CODE', 'BANK_NAME', 'ACCOUNT_NUM', 'FILLER']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
