<th class="f03_th">資料比對警示門檻值設定</th>
<br>
<!-- list -->
<mat-card class="matCard">
  <mat-card-content>
    <tr>
      <th>比對資料表：</th>
      <td>
        <mat-form-field color="accent">
          <mat-select formControlName="compareTable" [(ngModel)]="selectedValue1" name="compareTableCode"
          (ngModelChange)="changeSelect()" (selectionChange)="queryByCompareTable($event.value)">
            <mat-option *ngFor="let code of compareTableCode" [value]="code.value">
              {{code.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </td>

      <!-- <td style="width: 10px;">
      </td> -->
      <!-- <th>Filter：</th>
      <td>
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event)" value="{{selectedValue}}" />
        </mat-form-field>
      </td> -->
    </tr>
  </mat-card-content>
</mat-card>
<section class="example-section">

</section>
<!-- 資料比對設定檔 -->
<mat-table [dataSource]="compareDataSetSource"   >
  <ng-container matColumnDef="IS_CHK">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox color="primary" [(ngModel)]="isAllCheck" (change)="setAll($event.checked)">全選</mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row; let i = index;">
      <mat-checkbox [(ngModel)]="chkArray[i].completed" color="primary"></mat-checkbox>
    </mat-cell>
  </ng-container>
  <ng-container matColumnDef="COMPARE_TABLE">
    <mat-header-cell *matHeaderCellDef>比對table</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionCompareTable(row.compareTable) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="COMPARE_COLUMN">
    <mat-header-cell *matHeaderCellDef>比對欄位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionCompareColumn(row.compareColumn) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="COMPARE_TYPE">
    <mat-header-cell *matHeaderCellDef>比對方式</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionCompareColumn(row.compareType) }}</mat-cell>
  </ng-container>
  <!-- <ng-container matColumnDef="SET_VALUE">
    <mat-header-cell *matHeaderCellDef>設定值</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.setValue }}</mat-cell>
  </ng-container> -->
  <ng-container matColumnDef="SET_VALUE_LOW">
    <mat-header-cell *matHeaderCellDef>設定最低門檻</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.setValueLow }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="SET_VALUE_HIGHT">
    <mat-header-cell *matHeaderCellDef>設定最高門檻</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.setValueHight }}</mat-cell>
  </ng-container>
  <!-- update -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>編輯</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="accent" (click)="edit(
        row.compareTable, row.compareColumn, row.setValueLow,row.setValueHight, row.compareType )">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <!-- delete -->
   <ng-container matColumnDef="actions2">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="add()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-header-cell *matHeaderCellDef>刪除</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="accent" (click)="delete(
        row.compareTable, row.compareColumn, row.compareType, row.setValueHight, row.setValueLow)">
        <mat-icon aria-label="delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="[ 'IS_CHK', 'COMPARE_TABLE', 'COMPARE_COLUMN','COMPARE_TYPE', 'SET_VALUE_LOW','SET_VALUE_HIGHT', 'actions', 'actions2']"></mat-header-row>
  <mat-row *matRowDef="let compareDataSetSourceRow; columns: ['IS_CHK', 'COMPARE_TABLE', 'COMPARE_COLUMN','COMPARE_TYPE', 'SET_VALUE_LOW','SET_VALUE_HIGHT', 'actions', 'actions2']"></mat-row>
</mat-table>



  <tr>
    <td>
      <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
