<div class="line_bank_card_no_padding" style="max-height: 70vh;">
    <div class="line_bank_form_header_title" >資料比對-案件編號  </div>
        <nz-table nzShowSizeChanger  [nzData]="applnoDate" [nzFrontPagination]="false" [nzSimple]="true"
        [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small">
          <thead>
            <tr>
              
              <th  style="width:200px" class="table-header">No</th>
              <th  style="width:600px" class="table-header">案件編號</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of applnoDate; let i = index;">
             
              <td class="table-data">{{ i+1 }}</td>
              <td class="table-data"><button  nz-button nzType="link" (click)="Inquire(row)">{{ row }}</button></td>
             
            </tr>
  
  
          </tbody>
        </nz-table>
        <div style="text-align: center;padding:10px">
          <!-- <button nz-button [nzSize]="'middle'" nzType="primary"  style="margin:0px 5px"
            (click)="confirmAdd()">儲存</button> -->
          <button nz-button [nzSize]="'middle'" nzDanger (click)="onNoClick()" tabindex="-1"
            style="margin:0px 5px">取消</button>
        </div>
  
  </div>
  