<th style="padding-left: 20px;">查詢日期：</th>
<td>
  <mat-form-field color="accent">
    <mat-select [(ngModel)]="dateValue" name="ynCode" (ngModelChange)="changeDate()">
      <mat-option *ngFor="let date of dateCode" [value]="date.value">
        {{date.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</td>
<br>
<form [formGroup]="dss3Form" style="padding-left: 20px;">
  <table>
    <mat-card class="matCard">
      <mat-card-content>
        <tr>
          <th nowrap="nowrap" align="left">系統流程</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SYSFLOWCD" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">決策結果</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RESLTCD" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">徵審代碼數量</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="UNDW_CD_CNT" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">徵審代碼清單</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="UNDW_CD_LIST" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">SPARE - 數值格式</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SPARE_ARRAY1" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">SPARE - 文字格式</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SPARE_ARRAY2" readonly>
            </mat-form-field>
          </td>
        </tr>
      </mat-card-content>
    </mat-card>
  </table>
</form>

