<form [formGroup]="dss2Form" style="padding-left: 20px;">
  <table>
    <div class="line_bank_card_no_padding_child">
      <div class="line_bank_form_header_title">授信階段</div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">系統流程</span>
            <input style="display: block;" formControlName="SYSFLOWCD" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">決策結果</span>
            <input style="display: block;" formControlName="RESLTCD" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">案件等級</span>
            <input style="display: block;" formControlName="CALV" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">行職業代碼分群(徵審確認後) 代碼</span>
            <input style="display: block;" formControlName="OCUPATN_UNDW_GP" readonly>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">行職業代碼分群(徵審確認後) 中文</span>
            <input style="display: block;" formControlName="OCUPATN_UNDW_GP_DESC" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">策略客群1(徵審確認後) 代碼</span>
            <input style="display: block;" formControlName="OCUPATN_UNDW_STGP1" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">策略客群1(徵審確認後) 中文</span>
            <input style="display: block;" formControlName="OCUPATN_UNDW_STGP1_DESC" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">策略客群2(徵審確認後) 代碼</span>
            <input style="display: block;" formControlName="OCUPATN_UNDW_STGP2" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">往來優質特徵註記 代碼</span>
            <input style="display: block;" formControlName="GOODBEHAV" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">往來優質特徵註記 中文</span>
            <input style="display: block;" formControlName="GOODBEHAV_DESC" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">風險模型子模型 代碼</span>
            <input style="display: block;" formControlName="RISKMDSUB_A1" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">風險模型子模型 中文</span>
            <input style="display: block;" formControlName="RISKMDSUB_A1_DESC" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">風險模型分數</span>
            <input style="display: block;" formControlName="RISKMDSCORE_A1" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">風險模型等級</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A1" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">風險模型等級分群</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A1_GP" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">風險模型等級(等級策略調整後)</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A1_ADJ" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">風險模型等級分群(等級策略調整後)</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A1_GP_ADJ" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">徵審代碼數量</span>
            <input style="display: block;" formControlName="UNDW_CD_CNT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">徵審代碼清單(多個)</span>
            <input style="display: block;" formControlName="UNDW_CD_LIST" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">LEVEL0 集團授信總額度CAP</span>
            <input style="display: block;" formControlName="L0CAP" readonly>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">LEVEL1 個人授信總額度CAP</span>
            <input style="display: block;" formControlName="L1CAP_NID" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">LEVEL2 個人授信無擔總額度CAP</span>
            <input style="display: block;" formControlName="L2CAP_NID_UNSEC" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">LEVEL3 個人授信無擔產品_循環信貸總額度CAP</span>
            <input style="display: block;" formControlName="L3CAP_NID_UNSEC_RL" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">LEVEL3 個人授信無擔產品_分期信貸總額度CAP</span>
            <input style="display: block;" formControlName="L3CAP_NID_UNSEC_IL" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">LEVEL2 個人授信有擔總額度CAP</span>
            <input style="display: block;" formControlName="L2CAP_NID_SEC" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">LEVEL3 個人授信有擔產品_房貸總額度CAP</span>
            <input style="display: block;" formControlName="L3CAP_NID_SEC_MORTG" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">LEVEL1 公司授信總額度CAP</span>
            <input style="display: block;" formControlName="L1CAP_CMPY" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">結帳日至還款日之間客戶如不繳款是否可以撥款</span>
            <input style="display: block;" formControlName="DISB_BTCR_YN" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">授信策略模板分類</span>
            <input style="display: block;" formControlName="STRGY_MDUL" readonly>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">授信策略模板分類 中文</span>
            <input style="display: block;" formControlName="STRGY_MDUL_DESC" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">授信策略模板生效日期時間</span>
            <input style="display: block;" formControlName="STRGY_MDUL_ATVDT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">利率模板生效日期時間</span>
            <input style="display: block;" formControlName="STRGY_RATE_ATVDT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">試算授信策略_准駁</span>
            <input style="display: block;" formControlName="STRGY_APRFRJ" readonly>
          </div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px">
            <span class="form-title">授信策略_額度/金額</span>
            <input style="display: block;" formControlName="STRGY_1_LIMIT" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">策略利率類型</span>
            <input style="display: block;" formControlName="STRGY_1_SRATE_TYPE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">加碼利率(多階) 數量</span>
            <input style="display: block;" formControlName="STRGY_T1_SRATE_CNT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">加碼利率(多階) 清單</span>
            <input style="display: block;" formControlName="STRGY_1_SRATE_LIST" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">授信策略_每月最低還款比例(僅限循環信貸)</span>
            <input style="display: block;" formControlName="STRGY_1_MINPAYRT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">授信策略_期數最小值</span>
            <input style="display: block;" formControlName="STRGY_1_PERIOD_MIN" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">授信策略_期數最大值</span>
            <input style="display: block;" formControlName="STRGY_1_PERIOD_MAX" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">產品條件_開辦費(首次簽約用)</span>
            <input style="display: block;" formControlName="STRGY_1_ORIGINFEE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">產品條件_帳戶管理費(續約用)</span>
            <input style="display: block;" formControlName="STRGY_1_LOANEXTFEE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">授信策略_MUE倍數</span>
            <input style="display: block;" formControlName="STRGY_1_MUEX" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">限額_MUE</span>
            <input style="display: block;" formControlName="LIMIT_1_MUE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">限額_DBR22</span>
            <input style="display: block;" formControlName="LIMIT_1_DBR" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">限額_本行利害關係人(銀行法第32條)</span>
            <input style="display: block;" formControlName="LIMIT_1_LAW32" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">限額_同一自然人無擔保授信限額(銀行法第33條)</span>
            <input style="display: block;" formControlName="LIMIT_1_LAW33_UNS" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">限額_產品/專案額度上限</span>
            <input style="display: block;" formControlName="LIMIT_1_PROD_MAX" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">限額_產品/專案額度下限</span>
            <input style="display: block;" formControlName="LIMIT_1_PROD_MIN" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">限額_客戶申請金額</span>
            <input style="display: block;" formControlName="LIMIT_1_CUSTAPPLY" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">限額_月付收支比</span>
            <input style="display: block;" formControlName="LIMIT_1_DTI" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">建議方案數量</span>
            <input style="display: block;" formControlName="STRGY_OPTION_CNT" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">建議方案(多個)</span>
            <input style="display: block;" formControlName="STRGY_OPTION_LIST" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_產品</span>
            <input style="display: block;" formControlName="STRGY_2_PRDT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_額度/金額</span>
            <input style="display: block;" formControlName="STRGY_2_LIMIT" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_策略利率類型</span>
            <input style="display: block;" formControlName="STRGY_2_SRATE_TYPE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_加碼利率(多階) 數量</span>
            <input style="display: block;" formControlName="STRGY_2_SRATE_CNT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_加碼利率(多階) 清單</span>
            <input style="display: block;" formControlName="STRGY_2_SRATE_LIST" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_每月最低還款比例(僅限循環信貸)</span>
            <input style="display: block;" formControlName="STRGY_2_MINPAYRT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_期數最小值</span>
            <input style="display: block;" formControlName="STRGY_2_PERIOD_MIN" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_期數最大值</span>
            <input style="display: block;" formControlName="STRGY_2_PERIOD_MAX" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_產品條件_開辦費(首次簽約用)</span>
            <input style="display: block;" formControlName="STRGY_2_ORIGINFEE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案2_產品條件_帳戶管理費(續約用)</span>
            <input style="display: block;" formControlName="STRGY_2_LOANEXTFEE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_產品</span>
            <input style="display: block;" formControlName="STRGY_3_PRDT" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_額度/金額</span>
            <input style="display: block;" formControlName="STRGY_3_LIMIT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_策略利率類型</span>
            <input style="display: block;" formControlName="STRGY_3_SRATE_TYPE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_加碼利率(多階) 數量</span>
            <input style="display: block;" formControlName="STRGY_3_SRATE_CNT" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_加碼利率(多階) 清單</span>
            <input style="display: block;" formControlName="STRGY_3_SRATE_LIST" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_每月最低還款比例(僅限循環信貸)</span>
            <input style="display: block;" formControlName="STRGY_3_MINPAYRT" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_期數最小值</span>
            <input style="display: block;" formControlName="STRGY_3_PERIOD_MIN" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_期數最大值</span>
            <input style="display: block;" formControlName="STRGY_3_PERIOD_MAX" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_產品條件_開辦費(首次簽約用)</span>
            <input style="display: block;" formControlName="STRGY_3_ORIGINFEE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div style="padding:10px">
            <span class="form-title">方案3_產品條件_帳戶管理費(續約用)</span>
            <input style="display: block;" formControlName="STRGY_3_LOANEXTFEE" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">方案3_產品條件_開辦費(首次簽約用)</span>
            <input style="display: block;" formControlName="STRGY_TMP3_ORIGINFEE" readonly>
          </div>
        </div>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">SPARE - 數值</span>
            <input style="display: block;" formControlName="SPARE_ARRAY1" readonly>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="12">
          <div style="padding:10px">
            <span class="form-title">SPARE - 文字</span>
            <input style="display: block;" formControlName="SPARE_ARRAY2" readonly>
          </div>
        </div>
      </div>
    </div>
  </table>
</form>
