<br>
<mat-table [dataSource]="caseStepSource" matSortDisableClear>
    <ng-container matColumnDef="STEP_CODE">
        <mat-header-cell mat-header-cell *matHeaderCellDef> 狀態碼</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.STEP_CODE}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="CODE_DESC">
        <mat-header-cell mat-header-cell *matHeaderCellDef>狀態說明</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.CODE_DESC}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="STEP_TYPE">
        <mat-header-cell mat-header-cell *matHeaderCellDef>狀態結果</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.STEP_TYPE}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="STEP_TIME">
        <mat-header-cell mat-header-cell *matHeaderCellDef>日期時間</mat-header-cell>
        <mat-cell mat-cell *matCellDef="let row"> {{row.STEP_TIME}}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="['STEP_CODE','CODE_DESC','STEP_TYPE', 'STEP_TIME']">
    </mat-header-row>
    <mat-row *matRowDef="let row; columns: ['STEP_CODE','CODE_DESC','STEP_TYPE', 'STEP_TIME']">
    </mat-row>
</mat-table>

<tr>
    <td>
        <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
            [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
        </mat-paginator>
    </td>
</tr>
