<form [formGroup]="imageForm" style="padding-left: 20px;">
    <table>
          <tr>
            <th nowrap="nowrap" align="left">案件編號 </th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="APPLNO" readonly>
              </mat-form-field>
            </td>
          </tr>
    </table>
    
</form>
<iframe src="http://localhost:8080/LineBankViewone/pages/ImagePage1.jsp?applno=20210812" width="100%" height="100%"></iframe>
<!-- <iframe src="{{ getApplno() }}" width="100%" height="100%"></iframe> -->

  


