<!-- 頁面背景 -->
<div class="line_bank_bankground_color">
  <div style="padding-left: 20px; padding-top: 20px;">
    <ng-container *ngIf="getSearch() == 'N'; else elseTemplate">
      <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="addNew()">新增</button>
    </ng-container>
    <ng-template #elseTemplate>
      <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" disabled>新增</button>
    </ng-template>
  </div>

  <!-- 最外層卡片包覆 -->
  <div class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="webInfoSource2" [nzFrontPagination]="false" [nzSimple]="true"
      [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)" nzSize="small" nzTitle="網頁資訊">
      <thead>
        <tr>
          <th class="table-header">案編</th>
          <th class="table-header">代碼</th>
          <th class="table-header">網址</th>
          <th class="table-header">說明</th>
          <th class="table-header">時間</th>
          <th class="table-header">員工編號</th>
          <th class="table-header">顯示圖片</th>
          <th class="table-header">編輯</th>
          <th class="table-header">刪除</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of webInfoSource">
          <td class="table-data">{{ data.applno }}</td>
          <td class="table-data">{{ getOptionDesc(data.web) }}</td>
          <td class="table-data">{{ data.webAddr }}</td>
          <td class="table-data">{{ data.messageContent }}</td>
          <td class="table-data">{{ data.daytime }}</td>
          <td class="table-data">{{ data.empno }}</td>
          <td class="table-data">
            <button (mouseover)="mouseover(data.rowId)" (mouseout)="mouseout(data.rowId)" nz-button [nzSize]="'middle'" nzType="primary" (click)="openView(data.webImg)">
              <!-- <mat-icon aria-label="">image</mat-icon> -->
               <img class="position_top_left" style="height: 30px; padding-bottom: 5px;" src='{{ "assets/images/" + data.ImgSrc + ".png" }}'>
              </button>
          </td>
          <ng-container *ngIf="getSearch() == 'N'; else elseTemplate">
            <td class="table-data">
              <button nz-button [nzSize]="'middle'" nzType="primary" (click)="startEdit(
                data.rowId, data.web, data.webAddr, data.messageContent, data.webImg)">編輯</button>
            </td>
            <td class="table-data">
              <button nz-button [nzSize]="'middle'" nzType="primary" (click)="deleteItem(
                  data.rowId, data.web, data.webAddr, data.messageContent, data.webImg)">刪除</button>
            </td>
          </ng-container>
          <ng-template #elseTemplate>
            <td class="table-data">
              <button nz-button [nzSize]="'middle'" nzType="primary" (click)="startEdit(
                  data.rowId, data.web, data.webAddr, data.messageContent, data.webImg)" disabled>編輯</button>
            </td>
            <td class="table-data">
              <button nz-button [nzSize]="'middle'" nzType="primary" (click)="deleteItem(
                  data.rowId, data.web, data.webAddr, data.messageContent, data.webImg)" disabled>刪除</button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
