<app-block *ngIf="block"></app-block>
<!-- 頁面背景 -->
<div class="line_bank_bankground_color">
  <br>
  <div  style="position:fixed;top:48px;width:100%;z-index:100">
    <ng-container *ngIf="getSearch() == 'Y' && getWinClose() == 'Y' ">
      <div style="padding:0 10px;background-color:white;">
        <mat-grid-list cols="9" rowHeight="3:0.5" style="background-color:white;margin:0px -8px -20px -8px;padding:0px">
          <mat-grid-tile><span style="font-size: 10px;" (click)="leave()">離開</span></mat-grid-tile>
        </mat-grid-list>
      </div>
    </ng-container>
    <ng-container *ngIf="getSearch() == 'Y' && getWinClose() == 'N' ">
      <div style="padding:0 10px;background-color:white">
        <div style="background-color:white;margin:0px -8px -20px -8px;">
          <!-- <button class="leave" nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="leave()">離開</button> -->
        </div>
      </div>
    </ng-container>
    <ng-container *ngIf="getSearch() == 'N'">
      <div style="padding:0 10px;background-color:white">
        <mat-grid-list cols="9" rowHeight="3:0.5" style="background-color:white;margin:0px -8px -20px -8px;padding:0px">
          <mat-grid-tile><span style="font-size: 10px;" (click)="save('f01/childscn0','是否案件完成')">案件完成</span></mat-grid-tile>
          <mat-grid-tile><span style="font-size: 10px;" (click)="reScan()">補件</span></mat-grid-tile>
          <mat-grid-tile><span style="font-size: 10px;" (click)="reSMS()">發送簡訊</span></mat-grid-tile>
          <mat-grid-tile><span style="font-size: 10px;" (click)="reMail()">發送Email</span></mat-grid-tile>
          <mat-grid-tile disabled><span style="font-size: 10px;" (click)="sendBack()">退件</span></mat-grid-tile>
        </mat-grid-list>
      </div>
    </ng-container>
  </div>

  <div [ngClass]="{'classA': changeValue==true,'classB': changeValue==false}">
    <br>
    <nz-tabset nzLinkRouter>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN1']">
          <button nz-button nzType="primary" id="firstBtn" nzSize="small" (click)="changeRoute(true)">審核資料</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN8']">
          <button nz-button nzType="primary" id="secondBtn" nzSize="small" (click)="changeRoute(false)">
            徵信照會</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN5']">
          <button nz-button nzType="primary" id="secondBtn"nzSize="small" (click)="changeRoute(false)">
            基本資料</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN12']">
          <button nz-button nzType="primary" id="secondBtn" nzSize="small" (click)="changeRoute(false)">
            收入試算</button>
        </a>
      </nz-tab>

      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN23']">
          <button nz-button nzType="primary" id="secondBtn" nzSize="small" (click)="changeRoute(false)">
            DBR收支比</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN13']">
          <button nz-button nzType="primary" id="secondBtn" nzSize="small" (click)="changeRoute(false)">
            網頁資訊</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN14']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            本案影像</button>
        </a>
      </nz-tab>
      <nz-tab *ngIf="getPage()!='07'">
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN6']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            行外資料</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN9']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            核心資訊</button>
        </a>
      </nz-tab>

      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN16']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            歷史資料</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN3']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            偽冒通報</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN17']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            申覆資料</button>
        </a>
      </nz-tab>
      <nz-tab *ngIf="getPage()!='07'">
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN10']">
          <button nz-button nzType="primary"  nzSize="small" (click)="changeRoute(false)">
            決策結果</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN21']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            額度資訊</button>
        </a>
      </nz-tab>
      <nz-tab *ngIf="getPage()!='07'">
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN11']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            資料比對</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN4']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            案件歷程</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN2']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">資料異動歷程</button>
        </a>
      </nz-tab>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN7']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            AML/FDS/CSS</button>
        </a>
      </nz-tab>
      <!-- <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN22']">
          <button nz-button nzType="primary">
            DBR/月收支比</button>
        </a>
      </nz-tab> -->
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN25']">
          <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
            RPM&同一關係人</button>
        </a>
      </nz-tab>
      <ng-container>
        <nz-tab>
          <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN15']">
            <button nz-button nzType="primary"nzSize="small" (click)="changeRoute(false)">
              偽冒案件處理</button>
          </a>
        </nz-tab>
      </ng-container>
      <nz-tab>
        <a *nzTabLink nz-tab-link [routerLink]="['./CHILDSCN29']">
          <button nz-button nzType="primary" nzSize="small" (click)="changeRoute(false)">審核歷程</button>
        </a>
      </nz-tab>
    </nz-tabset>
  </div>
  <router-outlet (activate)="scrollToTop($event)" style="padding-top: 70px;display: block;"></router-outlet>
</div>
