<th class="f01_th">STS007</th>
<br>
<mat-table [dataSource]="STS007Source" matSortDisableClear>
  <ng-container matColumnDef="NEW_CNT">
    <mat-header-cell *matHeaderCellDef>新業務申請次數</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.NEW_CNT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="OLD_CNT">
    <mat-header-cell *matHeaderCellDef>原業務往來次數  </mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.OLD_CNT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="OLD_NEW_CNT">
    <mat-header-cell *matHeaderCellDef>原業務往來及新業務申請次數</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.OLD_NEW_CNT }}</mat-cell>
  </ng-container>


  <mat-header-row *matHeaderRowDef="['NEW_CNT', 'OLD_CNT', 'OLD_NEW_CNT']"></mat-header-row>
  <mat-row *matRowDef="let STS007SourceRow; columns: ['NEW_CNT', 'OLD_CNT', 'OLD_NEW_CNT']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
