<div class="line_bank_card_no_padding" style="min-height: 37vh;">
  <div class="line_bank_form_header_title">補件</div>
  <nz-table nzShowSizeChanger [nzFrontPagination]="false" [nzSimple]="true" nzSize="small" [nzData]="F02002Data" >
    <thead>
      <tr>
        <th class="table-header">NO</th>
        <th class="table-header">待補文件日期</th>
        <th class="table-header">補件原因</th>
        <th class="table-header">補件項目</th>
        <th class="table-header">徵審註記</th>
        <th class="table-header">補件影像</th>
        <th class="table-header">備註</th>
      </tr>
    </thead>
    <tbody>
      <tr  *ngFor="let data of F02002Data; let index = index;">
        <td class="table-data">{{index+1}}</td>
        <td class="table-data">{{data.RESTART_DATE|date: 'yyyy-MM-dd'}}</td>
        <td class="table-data">{{data.RESCAN_TYPE}}</td>
        <td class="table-data">{{data.RESCAN_ITEM}}</td>
        <td class="table-data">{{data.RESCAN_CONTENT}}</td>
        <td class="table-data" ><input type="file" (change)="onChange($event)" /></td>
        <!-- <td class="table-data" *ngIf="i>0"><label>123456</label></td> -->
        <td class="table-data"><input type="text"></td>
      </tr>
    </tbody>
  </nz-table>
  <div style="text-align: center;margin-top: 10px ;">
    <button nz-button [nzSize]="'middle'" nzDanger style="margin:0px 5px" (click)="cancel()">離開</button>
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="store()">儲存</button>
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px">送回案件清單</button>
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="test()">測試</button>
  </div>
</div>
