<div class="line_bank_bankground_color">
  <br>
  <div class="line_bank_card_no_padding" style="min-height:170px">
    <div class="line_bank_form_header_title">Upload more than one of the following</div>
      <div nz-row>
        <div nz-col nzFlex="2">
          <div style="padding:10px"><span class="form-title">Income Certificate</span><input type="file"></div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzFlex="2">
          <div style="padding:10px"><span class="form-title">Tax Payment Certificate</span><input type="file"></div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzFlex="2">
          <div style="padding:10px"><span class="form-title">Passbook Account History</span><input type="file"></div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzFlex="2">
          <div style="padding:10px"><span class="form-title">Labor insurance</span><input type="file"></div>
        </div>
      </div>

      <div nz-row>
        <div nz-col nzFlex="2">
          <div style="padding:10px"><span class="form-title">Others</span><input type="file"></div>
        </div>
      </div>
  </div>
</div>
