<section *ngIf="today" [ngxWatermark]="options"></section>

<!-- <ng-container *ngIf="dateCode.length == 0; else elseTemplate">
  <br><br>
  <th style="padding-left: 20px;color: red;">查無行外資料</th>
</ng-container> -->
<!-- <ng-template #elseTemplate> -->
  <!-- <div nz-row style="flex: 1;">
    <div nz-col nzSpan="6">
      <div style="padding:10px"><span class="form-title">查詢日期：</span>
        <mat-select [(ngModel)]="dateValue" name="ynCode" (ngModelChange)="changeDate()"
          style="width:100%;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
          <mat-option *ngFor="let date of dateCode" [value]="date.value">
            {{date.viewValue}}
          </mat-option>
        </mat-select>
      </div>
    </div>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6"></div>
    <div nz-col nzSpan="6"></div>
  </div>
  <br> -->
<!-- </ng-template> -->
<ng-container appDynamic></ng-container>