<th style="padding-left: 20px;">查詢日期：</th>
<td>
  <mat-form-field color="accent">
    <mat-select [(ngModel)]="dateValue" name="ynCode" (ngModelChange)="changeDate()">
      <mat-option *ngFor="let date of dateCode" [value]="date.value">
        {{date.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
</td>
<br>
<form [formGroup]="dss1Form" style="padding-left: 20px;">
  <table>
    <mat-card class="matCard">
      <mat-card-content>
        <tr>
          <th nowrap="nowrap" align="left">系統流程</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SYSFLOWCD" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">決策結果</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RESLTCD" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">案件等級</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CALV" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">行職業代碼分群(客戶填寫) 代碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="OCUPATN_CUST_GP" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">行職業代碼分群(客戶填寫) 中文</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="OCUPATN_CUST_GP_DESC" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">策略客群1(客戶填寫) 代碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="OCUPATN_CUST_STGP1" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">策略客群1(客戶填寫) 中文</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="OCUPATN_CUST_STGP1_DESC" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">策略客群2(客戶填寫) 代碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="OCUPATN_CUST_STGP2" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">往來優質特徵註記 代碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="GOODBEHAV" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">往來優質特徵註記 中文</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="GOODBEHAV_DESC" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算風險模型子模型 代碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RISKMDSUB_A0" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算風險模型子模型 中文</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RISKMDSUB_A0_DESC" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">試算風險模型分數</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RISKMDSCORE_A0" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算風險模型等級</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RISKMDGRADE_A0" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算風險模型等級分群</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RISKMDGRADE_A0_GP" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">試算風險模型等級(策略調整後)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RISKMDGRADE_A0_ADJ" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算風險模型等級分群(策略調整後)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="RISKMDGRADE_A0_GP_ADJ" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">徵審代碼數量</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="UNDW_CD_CNT" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">徵審代碼清單(多個)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="UNDW_CD_LIST" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">特殊案件貼標</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SPECILCASE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">特殊案件貼標 中文</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SPECILCASE_DESC" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">LEVEL0 集團授信總額度CAP</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="L0CAP" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">LEVEL1 個人授信總額度CAP</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="L1CAP_NID" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">LEVEL2 個人授信無擔總額度CAP 9</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="L2CAP_NID_UNSEC" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">LEVEL3 個人授信無擔產品_循環信貸總額度CAP</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="L3CAP_NID_UNSEC_RL" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">LEVEL3 個人授信無擔產品_分期信貸總額度CAP</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="L3CAP_NID_UNSEC_IL" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">LEVEL2 個人授信有擔總額度CAP</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="L2CAP_NID_SEC" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">LEVEL3 個人授信有擔產品_房貸總額度CAP</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="L3CAP_NID_SEC_MORTG" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">LEVEL1 公司授信總額度CAP</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="L1CAP_CMPY" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">結帳日至還款日之間客戶如不繳款是否可以撥款</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="DISB_BTCR_YN" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">試算授信策略模板分類</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_MDUL" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算授信策略模板分類 中文</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_MDUL_DESC" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">授信策略模板生效日期時間</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_MDUL_ATVDT" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">利率模板生效日期時間</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_RATE_ATVDT" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算授信策略_准駁</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP_APRFRJ" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算授信策略_額度/金額</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_LIMIT" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">策略利率類型</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_SRATE_TYPE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">加碼利率(多階) 數量</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_SRATE_CNT" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">加碼利率(多階) 清單</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_SRATE_LIST" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">試算授信策略_每月最低還款比例</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_MINPAYRT" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算授信策略_期數最小值</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_PERIOD_MIN" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算授信策略_期數最大值</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_PERIOD_MAX" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">試算產品條件_開辦費(首次簽約用)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_ORIGINFEE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算產品條件_帳戶管理費(續約用)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_LOANEXTFEE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">試算授信策略_MUE倍數</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP1_MUEX" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">限額_MUE</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="LIMIT_TMP1_MUE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">限額_DBR22</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="LIMIT_TMP1_DBR" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">限額_本行利害關係人(銀行法第32條)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="LIMIT_TMP1_LAW32" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">限額_同一自然人無擔保授信限額(銀行法第33條)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="LIMIT_TMP1_LAW33_UNS" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">限額_產品/專案額度上限</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="LIMIT_TMP1_PROD_MAX" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">限額_產品/專案額度下限</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="LIMIT_TMP1_PROD_MIN" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">限額_客戶申請金額</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="LIMIT_TMP1_CUSTAPPLY" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">限額_月付收支比</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="LIMIT_TMP1_DTI" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">建議方案數量</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_OPTION_CNT" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">建議方案(多個)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_OPTION_LIST" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案2_產品</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_PRDT" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案2_額度/金額</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_LIMIT" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">方案2_策略利率類型</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_SRATE_TYPE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案2_加碼利率(多階) 數量</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_SRATE_CNT" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案2_加碼利率(多階) 清單</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_SRATE_LIST" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">方案2_每月最低還款比例(僅限循環信貸)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_MINPAYRT" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案2_期數最小值</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_PERIOD_MIN" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案2_期數最大值</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_PERIOD_MAX" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">方案2_產品條件_開辦費(首次簽約用)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_ORIGINFEE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案2_產品條件_帳戶管理費(續約用)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP2_LOANEXTFEE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案3_產品</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_PRDT" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">方案3_額度/金額</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_LIMIT" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案3_策略利率類型</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_SRATE_TYPE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案3_加碼利率(多階) 數量</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_SRATE_CNT" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">方案3_加碼利率(多階) 清單</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_SRATE_LIST" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案3_每月最低還款比例(僅限循環信貸)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_MINPAYRT" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案3_期數最小值</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_PERIOD_MIN" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">方案3_期數最大值</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_PERIOD_MAX" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案3_產品條件_開辦費(首次簽約用)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_ORIGINFEE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">方案3_產品條件_帳戶管理費(續約用)</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STRGY_TMP3_LOANEXTFEE" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">SPARE - 數值格式</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SPARE_ARRAY1" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">SPARE - 文字格式</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SPARE_ARRAY2" readonly>
            </mat-form-field>
          </td>
        </tr>
      </mat-card-content>
    </mat-card>
  </table>
</form>

