<th class="f01_th">BAM061報送資料比對</th>
<ng-container *ngIf="compare.length == 0; else elseTemplate">
  <br><br>
  <th style="padding-left: 20px;color: red;">查無比對資料</th>
</ng-container>
<ng-template #elseTemplate>
  <table style="padding-left: 20px;">
    <mat-card class="matCard">
      <mat-card-content>
        <ng-container *ngFor="let compare of compare;let i = index">
          <ng-container *ngIf="i % 3 == 0">
            <tr>
          </ng-container>
          <ng-container *ngIf="compare.result == 'Y'; else elseTemplate">
            <th nowrap="nowrap">{{getOptionDesc(compare.compareColumn)}}：</th>
            <td style="color: red;">
              {{compare.count}}
            </td>
          </ng-container>
          <ng-template #elseTemplate>
            <th nowrap="nowrap">{{getOptionDesc(compare.compareColumn)}}：</th>
            <td>
              {{compare.count}}
            </td>
          </ng-template>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </table>
</ng-template>


