<th class="f01_th">BAM305</th>
<br>
<mat-table [dataSource]="BAM305Source" matSortDisableClear>
  <ng-container matColumnDef="DATA_YYY">
    <mat-header-cell *matHeaderCellDef>資料年度</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_YYY }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DATA_MM">
    <mat-header-cell *matHeaderCellDef>資料月份</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_MM }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_CODE">
    <mat-header-cell *matHeaderCellDef>行庫代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>行庫名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACCOUNT_CODE">
    <mat-header-cell *matHeaderCellDef>科目別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ACCOUNT_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACCOUNT_CODE2">
    <mat-header-cell *matHeaderCellDef>科目別註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ACCOUNT_CODE2 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PURPOSE_CODE">
    <mat-header-cell *matHeaderCellDef>用途別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PURPOSE_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="GID_CODE">
    <mat-header-cell *matHeaderCellDef>身分代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.GID_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="M_ID">
    <mat-header-cell *matHeaderCellDef>主債務人身分證號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.M_ID }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="M_ID_NAME">
    <mat-header-cell *matHeaderCellDef>主債務人名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.M_ID_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="RAPPL_CODE">
    <mat-header-cell *matHeaderCellDef>關係代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.RAPPL_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_AMT">
    <mat-header-cell *matHeaderCellDef>訂約金額 (千元)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LOAN_AMT">
    <mat-header-cell *matHeaderCellDef>放款未逾期 (千元)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.LOAN_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PASS_DUE_AMT">
    <mat-header-cell *matHeaderCellDef>逾期未還金額 (千元)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PASS_DUE_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ASST_DATA_YYY">
    <mat-header-cell *matHeaderCellDef>債權證券化資料年</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ASST_DATA_YYY }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ASST_DATA_MM">
    <mat-header-cell *matHeaderCellDef>債權證券化資料月</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ASST_DATA_MM }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ASST_IDN_BAN">
    <mat-header-cell *matHeaderCellDef>債權證券化受託機構統一編號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ASST_IDN_BAN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ASST_NAME">
    <mat-header-cell *matHeaderCellDef>債權證券化受託機構名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ASST_NAME }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['DATA_YYY', 'DATA_MM', 'BANK_CODE', 'BANK_NAME', 'ACCOUNT_CODE', 'ACCOUNT_CODE2','GID_CODE','M_ID','M_ID_NAME','RAPPL_CODE','CONTRACT_AMT','LOAN_AMT','PASS_DUE_AMT','ASST_DATA_YYY','ASST_DATA_MM','ASST_IDN_BAN','ASST_NAME']"></mat-header-row>
  <mat-row *matRowDef="let BAM305SourceRow; columns: ['DATA_YYY', 'DATA_MM', 'BANK_CODE', 'BANK_NAME', 'ACCOUNT_CODE', 'ACCOUNT_CODE2','GID_CODE','M_ID','M_ID_NAME','RAPPL_CODE','CONTRACT_AMT','LOAN_AMT','PASS_DUE_AMT','ASST_DATA_YYY','ASST_DATA_MM','ASST_IDN_BAN','ASST_NAME']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>

