<div class="line_bank_bankground_color" style="margin-top: -10px;">
  <div class="line_bank_card_no_padding_child">
    <form [formGroup]="DSS1DataForm">
      <div class="EL_DSS_form_header_title2" style="border-radius: 10px 10px 0 0;">徵信風險模型資訊</div>
      <div nz-row>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型子模型代碼</span>
            <input formControlName="RISKMDSUB_A0" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型子模型說明</span>
            <input style="display: block;" formControlName="RISKMDSUB_A0_DESC" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型分數</span>
            <input style="display: block;" formControlName="RISKMDSCORE_A0" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型等級</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A0" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型等級分群</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A0_GP" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型等級(策略調整後)</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A0_ADJ" disabled>
          </div>
        </div>
      </div>

      <div nz-row>

        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型等級分群(策略調整後)</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A0_GP_ADJ" disabled>
          </div>
        </div>
      </div>

      <div class="EL_DSS_form_header_title3">風險模型變數資訊</div>
      <nz-table nzShowSizeChanger [nzData]="EL_DSS1_RISKDSUB.data" [nzFrontPagination]="false" [nzSimple]="true"
        nzSize="small">
        <thead>
          <tr>
            <th class="table-header">Type</th>
            <th class="table-header">AdvResnCd</th>
            <th class="table-header">Element</th>
            <th class="table-header">Outcome</th>
            <th class="table-header">ScoreValue</th>
            <th class="table-header">DeviationScore</th>
            <th class="table-header">Value1andValue2</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of EL_DSS1_RISKDSUB.data">
            <td class="table-data">{{ row.TYPE }}</td>
            <td class="table-data">{{ row.ADV_RESN_CD }}</td>
            <td class="table-data">{{ row.ELEMENT }}</td>
            <td class="table-data">{{ row.OUT_COME }}</td>
            <td class="table-data">{{ row.SCORE_VALUE }}</td>
            <td class="table-data">{{ row.DEVIATION_SCORE }}</td>
            <td class="table-data">{{ row.VALUE1_AND_VALUE2 }}</td>
          </tr>
        </tbody>
      </nz-table>
    </form>
  </div>

  <br>

  <div class="line_bank_card_no_padding_child">
    <form [formGroup]="DSS2DataForm">
      <div class="EL_DSS_form_header_title2" style="border-radius: 10px 10px 0 0;">授信風險模型資訊</div>
      <div nz-row>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型子模型代碼</span>
            <input formControlName="RISKMDSUB_A1" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型子模型說明</span>
            <input style="display: block;" formControlName="RISKMDSUB_A1_DESC" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型分數</span>
            <input style="display: block;" formControlName="RISKMDSCORE_A1" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型等級</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A1" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型等級分群</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A1_GP" disabled>
          </div>
        </div>
        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型等級(策略調整後)</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A1_ADJ" disabled>
          </div>
        </div>
      </div>

      <div nz-row>

        <div nz-col nzSpan="4">
          <div style="padding:3px">
            <span class="form-title">風險模型等級分群(策略調整後)</span>
            <input style="display: block;" formControlName="RISKMDGRADE_A1_GP_ADJ" disabled>
          </div>
        </div>
      </div>

      <div class="EL_DSS_form_header_title3">風險模型變數資訊</div>
      <nz-table nzShowSizeChanger [nzData]="EL_DSS2_RISKDSUB.data" [nzFrontPagination]="false" [nzSimple]="true"
        nzSize="small">
        <thead>
          <tr>
            <th class="table-header">Type</th>
            <th class="table-header">AdvResnCd</th>
            <th class="table-header">Element</th>
            <th class="table-header">Outcome</th>
            <th class="table-header">ScoreValue</th>
            <th class="table-header">DeviationScore</th>
            <th class="table-header">Value1andValue2</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of EL_DSS2_RISKDSUB.data">
            <td class="table-data">{{ row.TYPE }}</td>
            <td class="table-data">{{ row.ADV_RESN_CD }}</td>
            <td class="table-data">{{ row.ELEMENT }}</td>
            <td class="table-data">{{ row.OUT_COME }}</td>
            <td class="table-data">{{ row.SCORE_VALUE }}</td>
            <td class="table-data">{{ row.DEVIATION_SCORE }}</td>
            <td class="table-data">{{ row.VALUE1_AND_VALUE2 }}</td>
          </tr>
        </tbody>
      </nz-table>
    </form>

  </div>

</div>
