<div class="line_bank_bankground_color" style="padding-top:20px">
    <div class="line_bank_card_no_padding">
        <div class="line_bank_form_header_title">工作日維護</div>
        <div nz-row>
            <div nz-col nzSpan="8">
                <div style="padding:10px;"><span class="form-title">年分</span>
                    <nz-select [(ngModel)]="selectedValue">
                        <nz-option *ngFor="let code of yearCode" [nzValue]="code.value" [nzLabel]="code.viewValue">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div style="padding:20px"><span class="form-title"></span><button nz-button [nzSize]="'large'"
                        nzType="primary" (click)="createCalendar()">建立年度行事曆</button></div>
            </div>
        </div>
        <div nz-row>
            <div nz-col nzSpan="8">
                <div style="padding:10px;"><span class="form-title">年分</span>
                    <nz-select [(ngModel)]="yearValue">
                        <nz-option *ngFor="let code of yearCode" [nzValue]="code.value" [nzLabel]="code.viewValue">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div style="padding:10px;"><span class="form-title">月份</span>
                    <nz-select [(ngModel)]="monthValue">
                        <nz-option *ngFor="let code of monthCode" [nzValue]="code.value" [nzLabel]="code.viewValue">
                        </nz-option>
                    </nz-select>
                </div>
            </div>
            <div nz-col nzSpan="8">
                <div style="padding:20px;"><span class="form-title"></span><button nz-button [nzSize]="'large'"
                        nzType="primary" (click)="queryIsWorkDay()">查詢</button></div>
            </div>
        </div>
    </div>
    <div class="line_bank_card_no_padding">
        <nz-table nzShowSizeChanger [nzData]="workingDateDataSource" [nzFrontPagination]="false" [nzSimple]="true"
            nzSize="small" nzTitle="工作日清單">
            <thead>
                <tr>
                    <th class="table-header">修改</th>
                    <th class="table-header">日期</th>
                    <th class="table-header">是否工作日</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let data of workingDateDataSource">
                    <td class="table-data">
                        <button nz-button nzType="primary" [nzSize]="'middle'"
                            (click)="updateWorkingDate(data.wdate, data.isWork)">修改</button>
                    </td>
                    <td class="table-data">{{ data.wdate|date: 'yyyy/MM/dd' }}</td>
                    <td class="table-data">{{ data.isWork }}</td>
                </tr>
            </tbody>
        </nz-table>
        <br><br>
    </div>
</div>