<div class="line_bank_bankground_color">

  <!-- <div style="margin-top: 30px; margin-left: 5px; width: 100%;"> -->
  <nz-page-header class="site-page-header" style=" width: 100%;padding:0 45px">
    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page1" (click)="changePage(Page.Page1)">
        <a [ngClass]="nowPage === Page.Page1 ? 'oncloick' : 'unclock'">核心系統客戶資料</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page2" (click)="changePage(Page.Page2)">
        <a [ngClass]="nowPage === Page.Page2 ? 'oncloick' : 'unclock'">本行存款往來</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page3" (click)="changePage(Page.Page3)">
        <a [ngClass]="nowPage === Page.Page3 ? 'oncloick' : 'unclock'">本行消金產品(放款及信用卡)往來</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page4" (click)="changePage(Page.Page4)">
        <a [ngClass]="nowPage === Page.Page4 ? 'oncloick' : 'unclock'">本行Debit card交易明細 </a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page5" (click)="changePage(Page.Page5)">
        <a [ngClass]="nowPage === Page.Page5 ? 'oncloick' : 'unclock'">EDW核心資料 </a>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>
    <div style="padding-left: 40px;">
      <div nz-row>
        <div nz-col nzFlex="1">
          <span style="padding-left: 10px;">查詢日期時間 : {{queryDate}}</span>
        </div>
        
        <div nz-col nzFlex="1"></div>
        <div nz-col nzFlex="1"></div>
      </div>
    </div>
   
  <ng-container appDynamic></ng-container>

</div>
<ng-container appDynamic></ng-container>