<th class="f01_th">當日非Z類產品被查詢紀錄</th>
<br>
<mat-table [dataSource]="STM008Source" matSortDisableClear>
  <ng-container matColumnDef="BANK_CODE">
    <mat-header-cell *matHeaderCellDef>查詢單位代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.OLD_IDN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>查詢單位名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.NEW_IDN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="INQ_PURPOSE_1">
    <mat-header-cell *matHeaderCellDef>查詢理由碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IS_NOTE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="INQ_PURPOSE">
    <mat-header-cell *matHeaderCellDef>查詢理由碼(中文註解)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.OP_DATE }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['BANK_CODE', 'BANK_NAME', 'INQ_PURPOSE_1', 'INQ_PURPOSE']"></mat-header-row>
  <mat-row *matRowDef="let STM008SourceRow; columns: ['BANK_CODE', 'BANK_NAME', 'INQ_PURPOSE_1', 'INQ_PURPOSE']"></mat-row>
</mat-table>


<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
