<div style="margin-top: 5px; margin-left: 5px; width: 100%;">
    <button class = "btn" routerLinkActive="active" style="margin-bottom: 5px; margin-left: 5px;" mat-stroked-button routerLink="./CHILDSCN14PAGE1"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid(), routerCase: getRouterCase() }">PAGE1</button>
    <button class = "btn" routerLinkActive="active" style="margin-bottom: 5px; margin-left: 5px;" mat-stroked-button routerLink="./CHILDSCN14PAGE2"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid(), routerCase: getRouterCase() }">PAGE2</button>
    <button class = "btn" routerLinkActive="active" style="margin-bottom: 5px; margin-left: 5px;" mat-stroked-button routerLink="./CHILDSCN14PAGE3"  [queryParams]="{ applno: getApplno(), search: getSearch(), cuid: getCuid(), routerCase: getRouterCase() }">PAGE3</button>
  </div>
  <router-outlet></router-outlet>

