<!-- <div style="margin-top: 5px; margin-left: 5px; width: 100%;">
  <button class="btn" nz-button nzType="primary" style="margin-bottom: 5px; margin-left: 5px;" [class.active]="nowPage === Page.Page1" (click)="changePage(Page.Page1)">PAGE1</button>
  <button class="btn" nz-button nzType="primary" style="margin-bottom: 5px; margin-left: 5px;" [class.active]="nowPage === Page.Page2" (click)="changePage(Page.Page2)">PAGE2</button>
    <button class="btn" [class.active]="nowPage === Page.Page3" style="margin-bottom: 5px; margin-left: 5px;"
      mat-stroked-button (click)="changePage(Page.Page3)">PAGE3</button>
</div>
<ng-container appDynamic></ng-container> -->


<div class="line_bank_bankground_color">
  <div style="margin-top: 30px; margin-left: 5px; width: 100%;">
    <!-- 本案影像 -->

    <div class="line_bank_card_no_padding">
      <!-- 表格 -->
      <nz-table nzShowSizeChanger [nzData]="imageSource" [nzFrontPagination]="false" [nzSimple]="true"
        [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small"
        nzTitle="本案影像">
        <thead>
          <tr>
            <th class="table-header"></th>
            <th class="table-header">文件類型</th>
            <th class="table-header">文件Key值</th>
            <th class="table-header">備註</th>
            <th class="table-header">上傳日期時間</th>
            <th class="table-header">上傳人員</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let data of imageSource">
            <td class="table-data">
              <button class="btn" nz-button [nzSize]="'middle'" nzType="primary"
                style="margin-bottom: 5px; margin-left: 5px;">
                <a href="{{ host }}:8080/LineBankViewOne/system/viewer.html?docKey={{ docKey }}&cuId={{ cuid }}&cuNm={{ cuNm }}"
                  target="_blank">本案影像</a>
              </button>
            </td>
            <td class="table-data">{{ data.docId }}</td>
            <td class="table-data">{{ data.fileAttachmentId }}</td>
            <td class="table-data">{{ data.remark }}</td>
            <td class="table-data">{{ data.uploadDate | date: 'yyyy-MM-dd hh：mm：ss' }}</td>
            <td class="table-data">{{ data.uploadPerson }}</td>
          </tr>
        </tbody>
      </nz-table>
      <div style="text-align: center;padding:10px">
        <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="uploadImage()">新增上傳</button>
      </div>
    </div>
  </div>
</div>
