.container {
  display: flex;
  flex-direction: column;
  min-width: 750px;
  max-height: 550px;
  overflow: scroll;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}
