<div class="container">
    <h2 mat-dialog-title>組織人員維護-新增</h2>

    <form class="mat-dialog-content" (ngSubmit)="submit()" #formControl="ngForm">

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="員工編號" [(ngModel)]="data.EMP_NO" name="EMP_NO" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <!--Textarea for demo purposes-->
      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="員工姓名" [(ngModel)]="data.EMP_NAME" name="EMP_NAME" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <input matInput #input class="form-control" placeholder="員工ID" [(ngModel)]="data.EMP_ID" name="EMP_ID" required >
          <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error>
        </mat-form-field>
      </div>

      <!--Contains mat-hint for characters count and has maxLengt set-->
      <div class="form">
        <mat-form-field color="accent">
          <mat-select placeholder="是否在職" [(ngModel)]="data.ON_JOB" name="ON_JOB" required>
            <mat-option *ngFor="let yn of data.on_jobCode" [value]="yn.value">
              {{yn.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
<!--
      <div class="form">
        <mat-form-field color="accent">
          <mat-select placeholder="代理人" [(ngModel)]="data.AGENT_EMP" name="AGENT_EMP" >
            <mat-option *ngFor="let su of data.agent_empCode" [value]="su.value">
              {{su.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div> -->

      <div class="form">
          <mat-form-field color="accent">
            <input matInput placeholder="EMAIL" [(ngModel)]="data.EMAIL" name="EMAIL" required>
          </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-select placeholder="是否停派" [(ngModel)]="data.ASSIGN_STOP" name="ASSIGN_STOP" >
            <mat-option *ngFor="let obj of data.assign_stopCode" [value]="obj.value">
              {{obj.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-select placeholder="派件專案代碼" [(ngModel)]="data.ASSIGN_PROJECTNO" name="ASSIGN_PROJECTNO" >
            <mat-option *ngFor="let obj of data.projectCode" [value]="obj.value">
              {{obj.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div>
        <mat-form-field appearance="fill">
          <mat-label>請假起日</mat-label>
          <input (dateChange)="changeDATE_TYPE('Start')" matInput [matDatepicker]="levelStartDateValue" [(ngModel)]="data.LEAVE_STARTDATE" name="LEAVE_STARTDATE">
          <mat-datepicker-toggle matSuffix [for]="levelStartDateValue"></mat-datepicker-toggle>
          <mat-datepicker #levelStartDateValue></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form">
        <mat-form-field color="accent">
          <mat-select placeholder="請架起日類型" [(ngModel)]="data.LEAVE_STARTDATE_TYPE" name="LEAVE_STARTDATE_TYPE" >
            <mat-option *ngFor="let obj of data.levelStartDateTypeCode" [value]="obj.value">
              {{obj.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <td>
        <mat-form-field appearance="fill">
          <mat-label>請假迄日</mat-label>
          <input (dateChange)="changeDATE_TYPE('End')" matInput [matDatepicker]="levelEndDateValue" [(ngModel)]="data.LEAVE_ENDDATE" name="LEAVE_ENDDATE">
          <mat-datepicker-toggle matSuffix [for]="levelEndDateValue"></mat-datepicker-toggle>
          <mat-datepicker #levelEndDateValue></mat-datepicker>
        </mat-form-field>
      </td>

      <div class="form">
        <mat-form-field color="accent">
          <mat-select placeholder="請假迄日類型" [(ngModel)]="data.LEAVE_ENDDATE_TYPE" name="LEAVE_ENDDATE_TYPE" >
            <mat-option *ngFor="let obj of data.levelEndDateTypeCode" [value]="obj.value">
              {{obj.viewValue}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>



      <div mat-dialog-actions>
        <button mat-button [type]="submit" [disabled]="!formControl.valid" (click)="confirmAdd()">Save</button>
        <button mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
      </div>
    </form>
  </div>
