<br>
<div>
  <button type="button" (click)="seve()" [disabled]="i == 'N' ? false:true" >儲存</button>
  &nbsp;&nbsp;
  <button type="button" (click)="seveFraud()"[disabled]="i == 'N' ? false:true" >發送Fraud Team</button>
</div>
<br>
<form  width='100%' >
  <table bordercolor="#000000" cellspacing="0" cellpadding="2" style="border-collapse:collapse;width: 1200px;">
  <tr>
    <th  width='20%'>NO</th>
    <th  width='40%'>第一層(可複選)</th>
    <th  width='40%'>第二層(可複選)</th>
  </tr>
  <tr *ngFor="let item of data ;let i = index">
    <td>{{i+1}}</td> <!--NO-->
    <td><input type="checkbox"  [(ngModel)]="item.check" name={{item.reasonDesc}} value={{item.reasonDesc}} (click)="chkArray1($event.target.checked,item.reasonDesc,item.reasonCode) ;" >{{item.reasonDesc}}</td>   <!--第一層(可複選)-->
    <td class="td3" >
      <div *ngFor="let it of item.child"><input type="checkbox" [disabled]="item.check ? false : true"  [(ngModel)]="it.check" name={{it.reasonDesc}}  class={{item.reasonCode}} >{{it.reasonDesc}}</div> <!--第二層(可複選)-->
    </td>
  </tr>
</table>
</form>
