<!-- 頁面背景 -->
<div class="line_bank_bankground_color">
  <div style="padding-left: 20px; padding-top: 20px;">
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="addNew()">新增</button>
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="Clear()">清除資料</button>
  </div>
  <!-- 最外層卡片包覆 -->
  <div class="line_bank_card_no_padding">
    <div style="padding:10px"><span class="form-title">代碼類別</span>
      <nz-select [(ngModel)]="selectedValue" name="sysCode" (ngModelChange)="changeSelect()">
        <nz-option nzValue="{{code.value}}" *ngFor="let code of sysCode" nzLabel="{{code.viewValue}}"></nz-option>
      </nz-select>
    </div>
    <div style="padding:10px"><span class="form-title">Filter</span>
      <input matInput class="form-control" value="{{selectedValue}}" disabled/>
    </div>
  </div>
  <!-- 最外層卡片包覆 -->
  <div class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="mappingCodeSource" [nzFrontPagination]="false" [nzSimple]="true"
      [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)" nzSize="small" nzTitle="系統代碼維護">
      <thead>
        <tr>
          <th class="table-header">類別</th>
          <th class="table-header">代碼</th>
          <th class="table-header">描述</th>
          <th class="table-header">排序</th>
          <th class="table-header">備註</th>
          <th class="table-header">是否停用</th>
          <th class="table-header">編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of mappingCodeSource">
          <td class="table-data">{{ data.codeType }}</td>
          <td class="table-data">{{ data.codeNo }}</td>
          <td class="table-data">{{ data.codeDesc }}</td>
          <td class="table-data">{{ data.codeSort }}</td>
          <td class="table-data">{{ data.codeTag }}</td>
          <td class="table-data">{{ data.codeFlag }}</td>
          <td class="table-data">
            <button nz-button [nzSize]="'middle'" nzType="primary" (click)="startEdit(
        data.codeType, data.codeNo, data.codeDesc, data.codeSort, data.codeTag, data.codeFlag)">編輯</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
