<div class="line_bank_card_no_padding" style="min-height:170px">
  <div class="line_bank_form_header_title">申請資訊</div>
  <div nz-row>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">案件編號</span><input matInput #input class="form-control"
          value="20210929A000001" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">姓名</span><input matInput #input class="form-control"
          value="吳OO" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">客戶ID</span><input matInput #input class="form-control"
          value="1234567" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">身分證字號</span><input matInput #input class="form-control"
          value="N123456789" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">客戶身分名單註記</span><input matInput #input class="form-control"
          value="" readonly></div>
    </div>
  </div>
</div>
