<div class="line_bank_card_no_padding" style="min-height:170px">
    <div class="line_bank_form_header_title">申請資訊</div>
    <mat-grid-list cols="5" rowHeight="2:0.4" srowHeight="100px">
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">案件編號</span><input matInput #input class="form-control"
                        value="20210929A000001" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">姓名</span><input matInput #input class="form-control" value="吳OO" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">客戶ID</span><input matInput #input class="form-control" value="1234567"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">身分證字號</span><input matInput #input class="form-control" value="A123456789"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">客戶身分名單註記</span><input matInput #input class="form-control" value=""
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">申請產品</span><input matInput #input class="form-control" value="循環型1"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">申請金額</span><input matInput #input class="form-control" value="200000"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">貸款用途</span><input matInput #input class="form-control" value="一般消費性支出"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">專案名稱</span><input matInput #input class="form-control" value="" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">行銷代碼</span><input matInput #input class="form-control" value="" required>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="line_bank_card_no_padding" style="min-height:170px">
    <div class="line_bank_form_header_title">Channel資訊</div>
    <mat-grid-list cols="4" rowHeight="2:0.4" srowHeight="100px">
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">申請時GPS</span><input matInput #input class="form-control"
                        value="20210929A000001" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">申請時IP Address</span><input matInput #input class="form-control"
                        value="吳OO" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">申請時手機型號</span><input matInput #input class="form-control" value="1234567"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">申請時Device ID</span><input matInput #input class="form-control"
                        value="A123456789" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">上傳時GPS</span><input matInput #input class="form-control" value=""
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">上傳時IP Address</span><input matInput #input class="form-control"
                        value="循環型1" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">上傳時手機型號</span><input matInput #input class="form-control" value="200000"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">上傳時Device ID</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="line_bank_card_no_padding" style="min-height:170px">
    <div class="line_bank_form_header_title">AML/FDS/CSS/RPM資訊(最新一筆)</div>
    <mat-grid-list cols="3" rowHeight="2:0.4" srowHeight="100px">
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">AML代碼</span><input matInput #input class="form-control"
                        value="20210929A000001" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">AML說明</span><input matInput #input class="form-control"
                        value="吳OO" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">查詢日期時間</span><input matInput #input class="form-control" value="1234567"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">FDS代碼</span><input matInput #input class="form-control"
                        value="A123456789" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">FDS說明</span><input matInput #input class="form-control" value=""
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">查詢日期時間</span><input matInput #input class="form-control"
                        value="循環型1" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">Score分數</span><input matInput #input class="form-control" value="200000"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">Score等級</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">查詢日期時間</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">是否為利關人</span><input matInput #input class="form-control" value="200000"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">關係類型描述</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">查詢日期時間</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

<div class="line_bank_card_no_padding" style="min-height:170px">
    <div class="line_bank_form_header_title">DSS決策結果</div>
    <mat-grid-list cols="4" rowHeight="2:0.4" srowHeight="100px">
        <mat-grid-tile colspan="4">
            <div class="line_bank_form_header_title">決策階段-DSS 1st</div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">系統流程</span><input matInput #input class="form-control"
                        value="吳OO" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">決策結果</span><input matInput #input class="form-control" value="1234567"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">案件等級</span><input matInput #input class="form-control"
                        value="A123456789" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">行職業代碼分群代碼/中文</span><input matInput #input class="form-control" value=""
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">策略客群1代碼/中文</span><input matInput #input class="form-control"
                        value="循環型1" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">策略客群2代碼/中文</span><input matInput #input class="form-control" value="200000"
                        required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">往來優質特徵註記代碼/中文</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">特徵案件貼標/中文</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">徵審代碼類別</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile>
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">徵審代碼</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
        <mat-grid-tile style="background: red" colspan="2">
            <div style="padding:20px;margin-right: -100px;">
                <div><span class="form-title">徵審代碼說明行職業代碼分群代碼/中文</span><input matInput #input class="form-control"
                        value="一般消費性支出" required>
                </div>
            </div>
        </mat-grid-tile>
    </mat-grid-list>
</div>

