input{
    background-color:#E6E6E6;
    border-radius: 10px;
    height:30px;
    width:100%;
    border: 1px solid #E6E6E6;
  }
  .form-title{
    color:#2E4765;
    font-weight: 500;
    display:block;
  }
  ::ng-deep.ant-table.ant-table-small .ant-table-title{
    color:#2E4765;
    font-size:18px;
    border-radius:5px 5px 0 0;
    background-color:#BFECD0;
    font-weight: 500;
    text-align: center;
    border: 1px solid #DBDBDB;
  
  }
  .ant-btn-primary{
    color:#24C875;
    background:white;
    border-color:#24C875;
    border-radius:5px;
  
  }
  .ant-btn-primary:hover{
    color:#ffffff;
    background:#24C875;
    border-color:#24C875;
    border-radius:5px;
    box-shadow:0 2px 0 rgb(0 0 0 / 5%);
  }
  .ant-btn-primary:active{
    color:#ffffff;
    background:#24C875;
    border-color:#24C875;
    border-radius:5px;
  }
  .mat-dialog-actions{
    padding-left:20px;
  }

  .line_bank_form_header_title{
    text-align: center;
    font-weight:500;
    font-size: 18px;
    color:#2E4765;
    background-color: #BFECD0;
    padding:10px 0;
    border-radius: 10px 10px 0 0;
  }

  .ant-btn-dangerous{
    color: #f80000;;
    background:white;
    border-color:#f80000;
    border-radius:5px;
  
  }
  .ant-btn-dangerous:hover{
    color:#ffffff;
    background:#f80000;
    border-color:#f80000;
    border-radius:5px;
    box-shadow:0 2px 0 rgb(0 0 0 / 5%);
  }
  .ant-btn-dangerous:active{
    color:#ffffff;
    background:#f80000;
    border-color:#f80000;
    border-radius:5px;
  }