<div class="line_bank_card_no_padding" style="min-height:170px">
  <div class="line_bank_form_header_title">申覆重啟</div>
  <div class="container" style="padding:20px">
    <form class="mat-dialog-content">
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">案件編號</span><input style="display: block;"
              value="{{ data.applno }}" readonly></div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">身分證字號</span><input style="display: block;"
              value="{{ data.nationalId }}" readonly></div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">客戶ID</span><input style="display: block;"
              value="{{ data.custId }}" readonly></div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">客戶姓名</span><input style="display: block;"
              value="{{ data.name }}" readonly></div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">申辦期數</span><input style="display: block;"
              value="{{ data.periods }}" readonly></div>
        </div>
        <div nz-col nzSpan="6">
          <div style="padding:10px"><span class="form-title">核准額度/金額</span><input style="display: block;"
              value="{{ data.limit }}" readonly></div>
        </div>
        <div nz-col nzSpan="6">
        </div>
      </div>
      <div nz-row>
        <div class="line_bank_card_no_padding" style="width: 98%;">
          <div nz-col nzSpan="24">
            <nz-table nzSize="small" [nzData]="interestData"  nzTitle="核准利率" nzAlign="center">
              <thead>
                <tr style="text-align: center;">
                  <th class="table-header">序號</th>
                  <th class="table-header">分段起始期數</th>
                  <th class="table-header">期別</th>
                  <th class="table-header">利率型態</th>
                  <th class="table-header">基準利率型態</th>
                  <th class="table-header">當時的指數,基放,郵儲利率(%)</th>
                  <th class="table-header">利率(%)</th>
                  <th class="table-header">核准利率(%)</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let row of interestData;" style="text-align: center;">
                  <td class="table-data">{{ row.SEQ }}</td>
                  <td class="table-data">{{ row.PERIOD }}</td>
                  <td class="table-data">{{ row.PERIOD_TYPE }}</td>
                  <td class="table-data">{{ row.INTEREST_TYPE }}</td>
                  <td class="table-data">{{ row.INTEREST_CODE }}</td>
                  <td class="table-data">{{ row.INTEREST_BASE }}</td>
                  <td class="table-data">{{ row.INTEREST }}</td>
                  <td class="table-data">{{ (row.INTEREST_BASE) + (row.INTEREST) }}</td>
              </tbody>
            </nz-table>

          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="6">
          <div class="form" style="padding:10px">
            <div><span class="form-title">申覆原因</span>
              <mat-select [(ngModel)]="reason" name="reasonCode"
                style="width:100%;height:30px;border-radius:5px;border:none;padding:4px;background-color:#E6E6E6">
                <mat-option *ngFor="let code of reasonCode" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="24">
          <div class="form" style="padding:10px">
            <div><span class="form-title">申覆說明</span><textarea matInput
                style="width: 100%;height:200px;background-color:#ffffff;border-radius:10px;border:2.5px solid #E6E6E6"
                [(ngModel)]="content" name="content" required maxlength="255"></textarea>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div mat-dialog-actions style="margin:0 auto;width:12vw;">
      <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="restart()">啟動案件</button>
      <button nz-button [nzSize]="'middle'" nzType="default" nzDanger (click)="cancel()" tabindex="-1"
        style="margin:0px 5px">關閉</button>
    </div>
  </div>
</div>