.container {
  min-width: 1000px;
  min-height: 800px;
}

.container > * {
  width: 100%;
}

.form {
  display: flex;
  padding-top: 6px;
}

.inboxContainer {
  width: 1000px;
  height: 550px;
  border: 1px solid black;
  margin: auto;
  position: absolute;
  overflow: auto;
}

:host {
  display: block;
  max-height: 65vh;
}

