<th class="f01_th">授信戶基本資料</th>
<br>
<mat-table [dataSource]="BAM061Source" matSortDisableClear>
  <ng-container matColumnDef="DATA_DATE">
    <mat-header-cell *matHeaderCellDef>資料日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="MAIN_CODE">
    <mat-header-cell *matHeaderCellDef>報送機構代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.MAIN_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="MAIN_NAME">
    <mat-header-cell *matHeaderCellDef>報送機構名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.MAIN_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CNAME">
    <mat-header-cell *matHeaderCellDef>中文姓名</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CNAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BIRTH_DATE">
    <mat-header-cell *matHeaderCellDef>出生日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BIRTH_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="EDU_CODE">
    <mat-header-cell *matHeaderCellDef>教育程度代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.EDU_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="R_ADDR">
    <mat-header-cell *matHeaderCellDef>戶籍地址</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.R_ADDR }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="M_ADDR">
    <mat-header-cell *matHeaderCellDef>聯絡地址</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.M_ADDR }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="H_CODE">
    <mat-header-cell *matHeaderCellDef>自有住宅有無</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.H_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="H_TEL">
    <mat-header-cell *matHeaderCellDef>居住電話</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.H_TEL }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="M_TEL">
    <mat-header-cell *matHeaderCellDef>行動電話</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.M_TEL }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="O_TEL">
    <mat-header-cell *matHeaderCellDef>任職機構電話</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.O_TEL }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="O_NAME">
    <mat-header-cell *matHeaderCellDef>任職機構名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.O_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="TITLE">
    <mat-header-cell *matHeaderCellDef>職位名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.TITLE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="SRV_YR">
    <mat-header-cell *matHeaderCellDef>服務年資</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.SRV_YR }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="SALARY">
    <mat-header-cell *matHeaderCellDef>年薪(千元)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.SALARY }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['DATA_DATE', 'MAIN_CODE', 'MAIN_NAME', 'CNAME', 'BIRTH_DATE', 'EDU_CODE', 'R_ADDR', 'M_ADDR' ,
  'H_CODE', 'H_TEL', 'M_TEL', 'O_TEL', 'O_NAME', 'TITLE', 'SRV_YR', 'SALARY']"></mat-header-row>
  <mat-row *matRowDef="let BAM061SourceRow; columns: ['DATA_DATE', 'MAIN_CODE', 'MAIN_NAME', 'CNAME', 'BIRTH_DATE', 'EDU_CODE', 'R_ADDR', 'M_ADDR' ,
  'H_CODE', 'H_TEL', 'M_TEL', 'O_TEL', 'O_NAME', 'TITLE', 'SRV_YR', 'SALARY']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
