/* 格線切版背景 */
mat-grid-tile {
  background: white;
}
/* 表格標題樣式 */
::ng-deep.ant-table.ant-table-small .ant-table-title{
  color:#2E4765;
  font-size:18px;
  opacity:1;
  border-radius:5px 5px 0 0;
  background-color:#BFECD0;
  font-weight: bold;
  text-align: center;
  border: 1px solid #DBDBDB;
}
/* 表格表頭樣式 */
.table-header{
  background-color:#ededed;
  /* border: 1px solid #e8e8e8; */
  color:#848E9C;
  margin-bottom: 1px;
  font-size: 14px;
}
/* 表格內容樣式 */
.table-data{
  background-color:white;
  border: 1px solid #e8e8e8;
  color:black;
  margin-bottom: 1px;
  font-size: 14px;
}
/* 表單輸入欄 */
input{
  background-color:white;
  border-radius: 5px;
  height:30px;
  width:100%;
  border: 1px solid #c9c9c9;
}
/* 表單標題 */
.form-title{
  color:#2E4765;
  font-weight: bold;
  margin-bottom:5px;
  display:block;
}
.mat-select{
  width:100%;
  display:inline-block;
  height:30px;
  font-size:14px;
  border-radius:5px;
  border:1px solid #c9c9c9;
  padding:4px;
  background-color:#ffffff;
}
.form-title-actions{
  color:#2E4765;
  font-weight: 500;
  display:block;
}

/* 功能按鈕樣式 */
.ant-btn-primary{
  color:#24C875;
  background:white;
  border-color:#24C875;
  border-radius:5px;

}
.ant-btn-primary:hover{
  color:#ffffff;
  background:#24C875;
  border-color:#24C875;
  border-radius:5px;
  box-shadow:0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-primary:active{
  color:#ffffff;
  background:#24C875;
  border-color:#24C875;
  border-radius:5px;
}

.mat-dialog-actions{
  padding-left:20px;
}

/* title和input為一個form */
.form{
  padding:10px;
}
/* 隔線系統強制拓寬 */
/* ::ng-deep.ant-row{
  display:block;
} */
/* 輸入區樣式 */
.input-textarea{
  width: 100%;
  height:200px;
  background-color:#E6E6E6;
  border-radius:10px;
  border:none
}
/* 下拉選單樣式 */
.input-select{
  width:100%;
  height:35px;
  border-radius:10px;
  border:none;
  padding:10px;
  background-color:#E6E6E6
}

::ng-deep.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  width:560px;
  border:none;
  background-color:#e6e6e6;
  border-radius: 10px;

}
:host::ng-deep.ant-table-tbody>tr>td{
  padding:0px;
  font-size: 14px;
}
.button-group{
  padding:10px;
}
/* disabled樣式*/
input:disabled{
  color: darkgrey;
}
.form{
  padding:0px;
}
