<th class="f01_th">VAM201</th>
<br>
<mat-table [dataSource]="VAM201Source" matSortDisableClear>
  <ng-container matColumnDef="TYPE">
    <mat-header-cell *matHeaderCellDef>通報種類</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.TYPE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CRI_PLACE">
    <mat-header-cell *matHeaderCellDef>通報單位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CRI_PLACE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CRI_DATE">
    <mat-header-cell *matHeaderCellDef>發生日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CRI_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DOC_DATE">
    <mat-header-cell *matHeaderCellDef>通報日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DOC_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CNAME">
    <mat-header-cell *matHeaderCellDef>中文戶名</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CNAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="INVOICE_NO">
    <mat-header-cell *matHeaderCellDef>單據號碼/ 人頭帳號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.INVOICE_NO }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="REMARK_1">
    <mat-header-cell *matHeaderCellDef>說明１</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.REMARK_1 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="REMARK_2">
    <mat-header-cell *matHeaderCellDef>說明２</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.REMARK_2 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="REMARK_3">
    <mat-header-cell *matHeaderCellDef>說明３</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.REMARK_3 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="REMARK_4">
    <mat-header-cell *matHeaderCellDef>說明４</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.REMARK_4 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DOC_NAME">
    <mat-header-cell *matHeaderCellDef>通報單位中文名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DOC_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="REL_CODE">
    <mat-header-cell *matHeaderCellDef>警示帳戶解除代碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.REL_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="REL_REASON">
    <mat-header-cell *matHeaderCellDef>警示帳戶解除原因</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.REL_REASON }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="REL_DATE">
    <mat-header-cell *matHeaderCellDef>警示帳戶解除日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.REL_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FILLER">
    <mat-header-cell *matHeaderCellDef>保留欄位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FILLER }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['TYPE', 'CRI_PLACE', 'CRI_DATE', 'DOC_DATE', 'CNAME', 'INVOICE_NO', 'REMARK_1', 'REMARK_2', 'REMARK_3', 'REMARK_4', 'DOC_NAME', 'REL_CODE', 'REL_REASON', 'REL_DATE', 'FILLER']"></mat-header-row>
  <mat-row *matRowDef="let VAM201SourceRow; columns: ['TYPE', 'CRI_PLACE', 'CRI_DATE', 'DOC_DATE', 'CNAME', 'INVOICE_NO', 'REMARK_1', 'REMARK_2', 'REMARK_3', 'REMARK_4', 'DOC_NAME', 'REL_CODE', 'REL_REASON', 'REL_DATE', 'FILLER']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
