<app-block *ngIf="block"></app-block>
<div class="line_bank_card_no_padding">
  <div class="line_bank_form_header_title">重查</div>

  <div nz-row>
    <div nz-col nzSpan="12">
      <div style="padding:10px"><span class="form-title">客戶類別</span><input style="display: block;" value="{{ swcID }}"
          readonly></div>
    </div>
    <div nz-col nzSpan="12"></div>
  </div>
  <nz-checkbox-wrapper style="width:100%;padding:10px" (nzOnChange)="log($event)">
    <div nz-row>
      <div nz-col nzSpan="3" style="width:450px"><label nz-checkbox nzValue="swcBank"
          class="checkbox_title">核心資訊</label></div>
      <div nz-col nzSpan="3" style="width:450px"><label nz-checkbox nzValue="swcCSS" class="checkbox_title">CSS</label>
      </div>
      <div nz-col nzSpan="3" style="width:450px"><label nz-checkbox nzValue="swcCondition"
          class="checkbox_title">資料比對</label></div>
      <div nz-col nzSpan="3" style="width:450px"><label nz-checkbox nzValue="swcFDS" class="checkbox_title">FDS</label>
      </div>
      <div nz-col nzSpan="3" style="width:450px"><label nz-checkbox nzValue="swcRPM" class="checkbox_title">RPM</label>
      </div>
      <div nz-col nzSpan="3" style="width:450px"><label nz-checkbox nzValue="swcAML" class="checkbox_title">AML</label>
      </div>
      <div nz-col nzSpan="4" style="width:450px"><label nz-checkbox nzValue="swcJCIC" class="checkbox_title">
          JCIC組合查詢SC1</label></div>
      <div nz-col nzSpan="5"></div>
    </div>
    <br>
    <div class="f01_div" style="text-align: center;">
      <button nz-button nzType="primary" nzSize="middle" (click)="reSearch()">重查</button>
      &nbsp;&nbsp;
      <button nz-button nzType="primary" nzSize="middle" (click)="close()">關閉</button>
    </div>
  </nz-checkbox-wrapper>


</div>
<!-- <table class="form1">
  <tr class="tbTitle">
      <th>客戶類別</th>
      <th>核心資訊</th>
      <th>CSS</th>
      <th>資料比對</th>
      <th>FDS</th>
      <th>RPM</th>
      <th>JCIC組合查詢SC1</th>
      <th>DSS</th>
  </tr>
  <tr class="tbContext">
      <th>{{ swcID }}</th>
      <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcBank');"></th>
      <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcCSS');"></th>
      <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcCondition');"></th>
      <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcFDS');"></th>
      <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcRPM');"></th>
      <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'SC1');"></th>
      <th><input type="checkbox" (click)="checkboxSelect($event.target.checked, 'swcDSS');"></th>
  </tr>
</table> -->
