.mat-select{
    width:100%;
    display:inline-block;
    height:30px;
    font-size:14px;
    border-radius:5px;
    border:1px solid #c9c9c9;
    padding:4px;
    background-color:#ffffff;
  }
  .ant-btn-dangerous{
    color: #f80000;;
    background:white;
    border-color:#f80000;
    border-radius:5px;

  }
  .ant-btn-dangerous:hover{
    color:#ffffff;
    background:#f80000;
    border-color:#f80000;
    border-radius:5px;
    box-shadow:0 2px 0 rgb(0 0 0 / 5%);
  }
  .ant-btn-dangerous:active{
    color:#ffffff;
    background:#f80000;
    border-color:#f80000;
    border-radius:5px;
  }
  /* 表單輸入欄 */
  .inpu1{
    height:auto;
    width:auto;
  }
