<th class="f01_th">流程解除鎖定作業</th>
<br>
<div>
    <button type="submit" mat-raised-button color="primary" (click)="select()">查詢</button>
    <button type="submit" mat-raised-button color="primary" (click)="unlock()">解除鎖定</button>
</div>
<br>
  <mat-card class="matCard">
    <mat-card-content>
      <tr>
        <th>Flow Step</th>
        <td>
          <mat-form-field color="accent">
            <mat-select formControlName="compareTable" [(ngModel)]="selectedValue" name="sysCode">
              <mat-option *ngFor="let code of sysCode"[value]="code.value">
                {{code.viewValue}}
              </mat-option>
             </mat-select>
          </mat-form-field>
        </td> 
      </tr>
    </mat-card-content>
  </mat-card>