<th class="f01_th">近一年內不含查詢當日非Z類被查詢紀錄明細</th>
<br>
<mat-table [dataSource]="STM022Source" matSortDisableClear>
  <ng-container matColumnDef="JCIC_QUERY_DATE">
    <mat-header-cell *matHeaderCellDef>JCIC查詢日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.JCIC_QUERY_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_CODE">
    <mat-header-cell *matHeaderCellDef>查詢單位代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>查詢單位名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ITEM_LIST">
    <mat-header-cell *matHeaderCellDef>查詢項目串列</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ITEM_LIST }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="INQ_PURPOSE_1">
    <mat-header-cell *matHeaderCellDef>查詢理由碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.INQ_PURPOSE_1 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="INQ_PURPOSE">
    <mat-header-cell *matHeaderCellDef>查詢理由碼(中文註解)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.INQ_PURPOSE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FILLER">
    <mat-header-cell *matHeaderCellDef>預留欄位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FILLER }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['JCIC_QUERY_DATE', 'BANK_CODE', 'BANK_NAME', 'ITEM_LIST', 'INQ_PURPOSE_1','INQ_PURPOSE','FILLER']"></mat-header-row>
  <mat-row *matRowDef="let STM022SourceRow; columns: ['JCIC_QUERY_DATE', 'BANK_CODE', 'BANK_NAME', 'ITEM_LIST', 'INQ_PURPOSE_1','INQ_PURPOSE','FILLER']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
