<!-- <div sticky>
    <table>
        <div>
            <tr>
                <td>
                    <mat-form-field color="accent">
                        <input matInput [(ngModel)]="swcApplno" placeholder="收件編號">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field color="accent">
                        <input matInput [(ngModel)]="swcID" placeholder="身分證號">
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field color="accent">
                        <mat-select [(ngModel)]="caseType" name="caseTypeCode" placeholder="案件類別">
                            <mat-option *ngFor="let code of caseTypeCode" [value]="code.value">
                                {{code.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field color="accent">
                        <mat-select [(ngModel)]="agentEmpNo" name="agentEmpNoCode" placeholder="代理人別">
                            <mat-option *ngFor="let code of agentEmpNoCode" [value]="code.value">
                                {{code.viewValue}}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                </td>
                <td>
                    <button type="submit" mat-raised-button color="primary" (click)="select()">案件查詢</button>
                </td>
                <td><b>案件數: {{this.totalCount}} 件</b></td>
            </tr>
        </div>
        <div>
            <td>
                <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
                    [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
                </mat-paginator>
            </td>
        </div>
    </table>
</div>

    <cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="margin-left: 10px;flex: 1;">
        <ng-container *ngIf="this.totalCount == 0; else elseTemplate">
            <br><br>
            <th style="padding-left: 20px;color: red;">查無案件</th>
        </ng-container>
        <ng-template #elseTemplate>
            <mat-table [dataSource]="cusinfoDataSource" matSort #sortTable="matSort" (matSortChange)="changeSort($event)"
                matSortActive="swcZ21PassDate" matSortDirection="asc">
                <ng-container matColumnDef="swcApplno" sticky>
                    <mat-header-cell *matHeaderCellDef mat-sort-header>收件編號</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-raised-button color="primary" *ngIf="row.swcReadyForReview=='N'" [disabled]="true">{{
                            row.swcApplno }}</button>
                        <button mat-raised-button color="primary" *ngIf="row.swcReadyForReview=='Y'" (click)="getLockCase(row.swcApplno, row.swcID)">{{
                            row.swcApplno }}</button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcFlowType">
                    <mat-header-cell *matHeaderCellDef>流程別</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ getOptionCaseType(row.swcFlowType) }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcReadyForReview">
                    <mat-header-cell *matHeaderCellDef>是否重查完成</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcReadyForReview }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcZ21PassDate">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>進件時間</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcZ21PassDate |date: 'yyyy-MM-ddHH:mm:ss'}}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcID">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>身分證號</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcID }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcName">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>姓名</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcName }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcCompany">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>公司名稱</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcCompany }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcCreditLimit">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>申請金額/額度</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcCreditLimit }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcCusGroupTag">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>客群標籤</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcCusGroupTag }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcRiskLevelGroup">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>風險等級分群</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcRiskLevelGroup }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcEnterCount">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>累積進件</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcEnterCount }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcResult">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>審核結果</mat-header-cell>
                    <mat-cell *matCellDef="let row">{{ row.swcResult }}</mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcNotifyMsg">
                    <mat-header-cell *matHeaderCellDef>通知</mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-raised-button color="primary" *ngIf="row.swcNotifyMsg==''" [disabled]="true">通知</button>
                        <button mat-raised-button color="primary" *ngIf="row.swcNotifyMsg!=''"
                            (click)="openNotifyMsg(row.swcApplno)">通知</button>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="swcCaseMemo">
                    <mat-header-cell *matHeaderCellDef><u>案件註記</u></mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <mat-form-field>
                            <input matInput #name="ngModel" name="note" placeholder="請輸入註記" [(ngModel)]="row.swcCaseMemo">
                        </mat-form-field>
                    </mat-cell>
                </ng-container>
                <ng-container matColumnDef="saveNote">
                    <mat-header-cell *matHeaderCellDef>
                        <u>儲存</u>
                    </mat-header-cell>
                    <mat-cell *matCellDef="let row">
                        <button mat-raised-button color="primary"
                            (click)="saveCaseMemo(row.swcApplno, row.swcCaseMemo)">儲存</button>
                    </mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="['swcApplno', 'swcFlowType', 'swcReadyForReview', 'swcZ21PassDate', 'swcID', 'swcName',
                    'swcCompany', 'swcCreditLimit', 'swcCusGroupTag', 'swcRiskLevelGroup', 'swcEnterCount', 'swcResult',
                    'swcNotifyMsg', 'swcCaseMemo', 'saveNote']; sticky: true">
                </mat-header-row>
                <mat-row *matRowDef="let caseListRow; columns: ['swcApplno', 'swcFlowType', 'swcReadyForReview', 'swcZ21PassDate', 'swcID',
                    'swcName', 'swcCompany', 'swcCreditLimit', 'swcCusGroupTag', 'swcRiskLevelGroup', 'swcEnterCount', 'swcResult',
                    'swcNotifyMsg', 'swcCaseMemo', 'saveNote']">
                </mat-row>
            </mat-table>
        </ng-template>
    </cdk-virtual-scroll-viewport> -->





<div class="line_bank_bankground_color">
    <div class="header">
        <div nz-row>
            <div nz-col nzFlex="auto" style="background-color: white;">
                <div nz-row>
                    <div nz-col nzSpan="6" style="padding:0px 15px;background-color: #BFECD0;">
                        <div class="form-title line_bank_h3" style="margin:10px 0 ;">案件編號</div>
                        <div class="form" style="display: block;margin-bottom:10px">
                            <div><input matInput #input class="form-control" [(ngModel)]="swcApplno" name="swcApplno"
                                    required>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="6" style="padding:0px 15px;">
                        <span class="form-title line_bank_h3" style="margin:10px 0 ;">身分證號</span>
                        <div class="form" style="display: block;margin-bottom:10px">
                            <div><input matInput #input class="form-control" [(ngModel)]="swcID" name="swcID" required>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="6" style="padding:0px 15px;background-color: #BFECD0;">
                        <span class="form-title line_bank_h3" style="margin:10px 0 ;">案件類別</span>
                        <div class="form" style="display: block;margin-bottom:10px">
                            <div>
                                <nz-select [(ngModel)]="caseType" name="caseTypeCode">
                                    <nz-option *ngFor="let code of caseTypeCode" [value]="code.value"
                                        nzValue="code.value" nzLabel=" {{code.viewValue}}"> </nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                    <div nz-col nzSpan="6" style="padding:0px 15px">
                        <span class="form-title line_bank_h3" style="margin:10px 0 ;">代理人別</span>
                        <div class="form" style="display: block;margin-bottom:10px">
                            <div>
                                <nz-select [(ngModel)]="agentEmpNo" name="agentEmpNoCode">
                                    <nz-option *ngFor="let code of agentEmpNoCode" [value]="code.value"
                                        nzValue="  {{code.viewValue}}" nzLabel=" {{code.viewValue}}"> </nz-option>
                                </nz-select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div nz-col nzFlex="200px" style="background-color: #BFECD0;padding-top:10px;text-align: center;">
                <div style="padding-left: 10px;">
                    <button nz-button [nzSize]="'middle'" nzType="primary" (click)="select()">查詢案件</button>
                </div>
            </div>
        </div>
        <div>
            <!-- <mat-grid-list cols="5" rowHeight="2:0.5" style="background-color:white" >
                <mat-grid-tile style="background: #BFECD0;">
                    <div class="form" style="padding:20px">
                        <div><span class="form-title line_bank_h3">案件編號</span>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="form" style="padding:20px">
                        <div><input matInput #input class="form-control" [(ngModel)]="swcApplno" name="swcApplno"
                                required>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile style="background: #BFECD0;">
                    <div class="form" style="padding:20px">
                        <div><span class="form-title line_bank_h3">身分證號</span>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="form" style="padding:20px">
                        <div><input matInput #input class="form-control" [(ngModel)]="swcID" name="swcID" required>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile [rowspan]="2" style="background: #BFECD0;">
                    <div style="padding-left: 10px">
                        <button nz-button [nzSize]="'large'" nzType="primary" (click)="select()">查詢案件</button>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile style="background: #BFECD0;">
                    <div class="form" style="padding:20px">
                        <div><span class="form-title line_bank_h3">案件類別</span>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="form" style="padding:20px">
                        <div>
                            <mat-select [(ngModel)]="caseType" name="caseTypeCode">
                                <mat-option *ngFor="let code of caseTypeCode" [value]="code.value">
                                    {{code.viewValue}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile style="background: #BFECD0;">
                    <div class="form" style="padding:20px">
                        <div>
                            <div><span class="form-title line_bank_h3">代理人別</span>
                            </div>
                        </div>
                    </div>
                </mat-grid-tile>
                <mat-grid-tile>
                    <div class="form" style="padding:20px">
                        <div>
                            <mat-select [(ngModel)]="agentEmpNo" name="agentEmpNoCode">
                                <mat-option *ngFor="let code of agentEmpNoCode" [value]="code.value">
                                    {{code.viewValue}}
                                </mat-option>
                            </mat-select>
                        </div>
                    </div>
                </mat-grid-tile>
            </mat-grid-list> -->
        </div>
    </div>
    <div class="content">
        <div class="abs-box">
            <div nz-col nzSpan="24">
                <div class="line_bank_card_no_padding">
                    <nz-table nzShowSizeChanger [nzData]="cusinfoDataSource.data" [nzFrontPagination]="false"
                    [nzSimple]="true" [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize"
                    [nzPageIndex]="pageIndex" #middleTable nzSize="small" nzTitle="案件申覆清單"
                    [nzScroll]="{ x: '1500px', y: '220px' }" (nzQueryParams)="onQueryParamsChange($event)">
                    <thead style="max-height: 100vh;">
                        <div style="text-align:right;width: 90vw; font-size: 16px;">

                            <span >案件數: {{this.total}} 件</span>
                        </div>
                            <tr>
                                <th class="table-header" [nzLeft]="true" [nzWidth]="'160px'">收件編號</th>
                                <th class="table-header" [nzWidth]="'160px'">流程別</th>
                                <th class="table-header" [nzWidth]="'160px'">是否重查完成</th>
                                <th class="table-header" [nzWidth]="'160px'">進件時間</th>
                                <th class="table-header" [nzWidth]="'160px'">身分證號</th>
                                <th class="table-header" [nzWidth]="'160px'">姓名</th>
                                <th class="table-header" [nzWidth]="'200px'">公司名稱</th>
                                <th class="table-header" [nzWidth]="'160px'">客群標籤</th>
                                <th class="table-header" [nzWidth]="'160px'">申請金額/額度</th>
                                <th class="table-header" [nzWidth]="'160px'">風險等級分群</th>
                                <th class="table-header" [nzWidth]="'160px'">累積進件</th>
                                <th class="table-header" [nzWidth]="'160px'">審核結果</th>
                                <th class="table-header" [nzWidth]="'160px'">通知</th>
                                <th class="table-header" [nzRight]="true" [nzWidth]="'220px'">案件註記</th>
                                <th class="table-header" [nzRight]="true" [nzWidth]="'100px'">儲存</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let data of cusinfoDataSource.data">
                                <td class="table-data" [nzLeft]="true" [nzWidth]="'160px'" style="text-align: center;">
                                    <button nz-button [nzSize]="'middle'" nzType="link"
                                        *ngIf="data.swcReadyForReview=='N'" [disabled]="true">
                                        {{data.swcApplno}}
                                    </button>
                                    <button nz-button [nzSize]="'middle'" nzType="link"
                                        *ngIf="data.swcReadyForReview=='Y'"
                                        (click)="getLockCase(data.swcApplno, data.swcID)">
                                        {{data.swcApplno}}
                                    </button>
                                </td>
                                <td class="table-data">{{ getOptionCaseType(data.swcFlowType) }}</td>
                                <td class="table-data" [nzWidth]="'110px'">{{ data.swcReadyForReview }}</td>
                                <td class="table-data" [nzWidth]="'100px'">{{ data.swcZ21PassDate |date: 'yyyy-MM-dd' }}
                                </td>
                                <td class="table-data" [nzWidth]="'100px'">{{ data.swcID }}</td>
                                <td class="table-data">{{ data.swcName }}</td>
                                <td class="table-data">{{ data.swcCompany }}</td>
                                <td class="table-data">{{ data.swcCreditLimit }}</td>
                                <td class="table-data">{{ data.swcCusGroupTag }}</td>
                                <td class="table-data">{{ data.swcRiskLevelGroup }}</td>
                                <td class="table-data">{{ data.swcEnterCount }}</td>
                                <td class="table-data">{{ data.swcResult }}</td>
                                <td class="table-data">
                                    <button nz-button id="test" [nzSize]="'middle'" *ngIf="data.swcNotifyMsg==''"
                                        [disabled]="true" nzType="primary">通知</button>
                                    <button nz-button id="test" [nzSize]="'middle'" *ngIf="data.swcNotifyMsg!=''"
                                        (click)="openNotifyMsg(data.swcApplno)" nzType="primary">通知</button>
                                </td>
                                <td class="table-data" [nzRight]="true" [nzWidth]="'200px'">
                                    <input matInput #input class="form-control" [(ngModel)]="data.swcCaseMemo"
                                        name="note" placeholder="請輸入註記" required>
                                </td>
                                <td class="table-data btn_test" [nzRight]="true" style="text-align: center;">
                                    <button nz-button id="test" nzType="primary"
                                        (click)="saveCaseMemo(data.swcApplno, data.swcCaseMemo)">儲存</button>
                                </td>
                            </tr>
                        </tbody>
                    </nz-table>
                </div>
            </div>
        </div>
    </div>
</div>
