<div class="line_bank_bankground_color">
    <!-- <div style=" width: 100%;z-index: 40;">
        <br>
        <button class="btn" [class.active]="nowPage === Page.Page1" style="margin-bottom: 5px; margin-left: 5px;"
            mat-stroked-button (click)="changePage(Page.Page1)">案件清單</button>
        <nz-badge [nzCount]="total" [nzTitle]="null">
            <button class="btn" [class.active]="nowPage === Page.Page2" style="margin-bottom: 5px; margin-left: 5px;"
                    mat-stroked-button (click)="changePage(Page.Page2)">照會提醒</button>
        </nz-badge>
    </div> -->
    <nz-page-header class="site-page-header"style=" width: 100%;z-index: 60;">
        <nz-breadcrumb nz-page-header-breadcrumb>
            <nz-breadcrumb-item [class.active]="nowPage === Page.Page1" (click)="changePage(Page.Page1)">
                <a [ngClass]="nowPage === Page.Page1 ? 'oncloick' : 'unclock'">案件清單</a>
            </nz-breadcrumb-item>
            <nz-breadcrumb-item [class.active]="nowPage === Page.Page2" (click)="changePage(Page.Page2)">
                <nz-badge [(nzCount)]="total" [nzTitle]="null" [nzOffset]="[10, -1]"><a [ngClass]="nowPage === Page.Page2 ? 'oncloick' : 'unclock'">照會提醒</a></nz-badge>
            </nz-breadcrumb-item>
        </nz-breadcrumb>
    </nz-page-header>
    <ng-container appDynamic></ng-container>
</div>
