<form [formGroup]="coreCustInfoForm" style="padding-left: 20px;">
    <table>
      <mat-card class="matCard">
        <mat-card-content>
          <tr>
            <th nowrap="nowrap" align="left">帳戶類別</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="ACC_TYPE" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">帳戶狀態</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="ACC_STATUS" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">開立帳戶日期</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="ACC_OPEN_DATE" readonly>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap" align="left">終止日期</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="ACC_EXP_DATE" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">迄今往來天數</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="ACTIVATE_DAY" readonly>
              </mat-form-field>
            </td>
          </tr>
        </mat-card-content>
      </mat-card>
    </table>
  </form>
  