<br>
<table>
    <mat-card class="matCard">
        <mat-card-content>
            <div>
                <br>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>待補文件日期</mat-label>
                            <input matInput [matDatepicker]="restartDateValue" [(ngModel)]="restartDate">
                            <mat-datepicker-toggle matSuffix [for]="restartDateValue"></mat-datepicker-toggle>
                            <mat-datepicker #restartDateValue></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field color="accent">
                            <mat-select [(ngModel)]="rescanType" name="rescanTypeCode" placeholder="補件原因">
                                <mat-option class="option" [value]="item" *ngFor="let item of rescanTypeCode">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field color="accent">
                            <mat-select [(ngModel)]="rescanItem" name="rescanItemCode" placeholder="補件項目">
                                <mat-option class="option" [value]="item" *ngFor="let item of rescanItemCode">
                                    {{item}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field color="accent">
                            <input matInput [(ngModel)]="rescanContent" placeholder="徵審註記">
                        </mat-form-field>
                    </td>
                    <td>
                        <button type="submit" mat-raised-button color="primary" (click)="rescan()">補件</button>
                    </td>
                </tr>
                <tr>
                    <td>
                        <mat-form-field appearance="fill">
                            <mat-label>預計發送日期時間</mat-label>
                            <input matInput [matDatepicker]="realSmsTimeValue" [(ngModel)]="realSmsTime">
                            <mat-datepicker-toggle matSuffix [for]="realSmsTimeValue"></mat-datepicker-toggle>
                            <mat-datepicker #realSmsTimeValue></mat-datepicker>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field color="accent">
                            <input matInput [(ngModel)]="this.mobile" placeholder="發送手機">
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field color="accent">
                            <mat-select [(ngModel)]="smsSet" name="smsSetCode" placeholder="SMS樣板">
                                <mat-option class="option" *ngFor="let item of smsSetCode" [value]="code.value">
                                    {{code.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </td>
                    <td>
                        <mat-form-field color="accent">
                            <textarea matInput style="width: 100PX;height:20px;" [(ngModel)]="messageContent"
                                name="messageContent" placeholder="SMS內容"></textarea>
                        </mat-form-field>
                    </td>
                    <td>
                        <button type="submit" mat-raised-button color="primary" (click)="addSms()">發送簡訊</button>
                    </td>
                </tr>
                <!-- <div class="12hr-example">
                    <input placeholder="12hr format (default settings)" aria-label="12hr format" [ngxTimepicker]="default" readonly>
                    <ngx-material-timepicker #default></ngx-material-timepicker>
               </div> -->
            </div>
        </mat-card-content>
    </mat-card>
</table>
<br>
<mat-dialog-content>
    <mat-table [dataSource]="rescanDataSource">
        <ng-container matColumnDef="delRescan">
            <mat-header-cell *matHeaderCellDef>
                <u>刪除</u>
            </mat-header-cell>
            <mat-cell *matCellDef="let row">
                <button mat-raised-button color="primary" (click)="delRescan(row.ID)">刪除</button>
            </mat-cell>
        </ng-container>
        <ng-container matColumnDef="rescanDate">
            <mat-header-cell *matHeaderCellDef>待補文件日期</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.RESCAN_DATE|date: 'yyyy-MM-dd' }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rescanType">
            <mat-header-cell *matHeaderCellDef>補件原因</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.RESCAN_TYPE }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rescanItem">
            <mat-header-cell *matHeaderCellDef>補件項目</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.RESCAN_ITEM }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="rescanContent">
            <mat-header-cell *matHeaderCellDef>徵審註記</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.RESCAN_CONTENT }}</mat-cell>
        </ng-container>
        <mat-header-row
            *matHeaderRowDef="['delRescan', 'rescanDate', 'rescanType', 'rescanItem', 'rescanContent']; sticky: true">
        </mat-header-row>
        <mat-row
            *matRowDef="let rescanDataRow; columns: ['delRescan', 'rescanDate', 'rescanType', 'rescanItem', 'rescanContent']">
        </mat-row>
    </mat-table>
</mat-dialog-content>