<br>
<mat-table [dataSource]="webInfoSource" matSortDisableClear>
  <ng-container matColumnDef="applno">
    <mat-header-cell *matHeaderCellDef>案編</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.applno }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="web">
    <mat-header-cell *matHeaderCellDef>代碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ getOptionDesc(row.web) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="webAddr">
    <mat-header-cell *matHeaderCellDef>網址</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.webAddr }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="messageContent">
    <mat-header-cell *matHeaderCellDef>說明</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.messageContent }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="daytime">
    <mat-header-cell *matHeaderCellDef>時間</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.daytime }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="empno">
    <mat-header-cell *matHeaderCellDef>員工編號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.empno }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="image">
    <mat-header-cell *matHeaderCellDef>顯示圖片</mat-header-cell>
    <mat-cell *matCellDef="let row">
      <button mat-icon-button color="primary" (click)="openView(row.webImg)">
        <mat-icon aria-label="">image</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <ng-container matColumnDef="actions">
    <!-- <mat-header-cell *matHeaderCellDef>Actions</mat-header-cell> -->
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="addNew()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </mat-header-cell>
    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button color="accent" (click)="startEdit(i, row.rowid, row.web, row.webAddr, row.messageContent, row.webImg)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>

      <button mat-icon-button color="accent" (click)="deleteItem(i, row.rowid, row.web, row.webAddr, row.messageContent, row.webImg)">
        <mat-icon aria-label="Delete">delete</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['applno', 'web', 'webAddr', 'messageContent', 'daytime', 'empno', 'image', 'actions']"></mat-header-row>
  <mat-row *matRowDef="let webInfoRow; columns: ['applno', 'web', 'webAddr', 'messageContent', 'daytime', 'empno', 'image', 'actions']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
