<form [formGroup]="imageForm" style="padding-left: 20px;">
    <table>
          <tr>
              
              <td>
                <button class = "btn" style="margin-bottom: 5px; margin-left: 5px;" mat-stroked-button>
                    <a href="{{ getHost() }}:8080/LineBankViewone/pages/ImagePage2.jsp?applno={{ getApplno() }}" target="_blank">本案影像</a>
                </button>
              </td>
            <th nowrap="nowrap" align="left">案件編號 </th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="APPLNO" readonly>
              </mat-form-field>
            </td>
          </tr>
    </table>
</form>
  