:host{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  /* :host::ng-deep.ant-table-footer {
    position: absolute;
    bottom:-50px;
  } */
  :host{
    display: flex;
    flex-direction: column;
    flex: 1;
  }
  .ant-table-body {
    max-height: 100vh;
  }
  :root  tbody tr{
    max-height: 100vh;
  }
  .line_bank_bankground_color {
  display: flex;
  flex-direction: column;

  }

  /* .header {

  } */

  .content {
  position: relative;
  flex: 1;
  }

  .abs-box {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  }


  mat-grid-tile {
    background: white;
  }

  .table-header{
    background-color:#ededed;
    color:#848E9C;
    margin-bottom: 1px;
    text-align: center;
    font-size: 14px;
  }
  /* .table-data{
    background-color:white;
    border: 1px solid #e8e8e8;
    color:rgb(49, 49, 49);
    margin-bottom: 0px;
    font-size: 5px;
  } */
  input{
    background-color:#ffffff;
    border-radius: 5px;
    height:30px;
    width:100%;
    border: 1px solid #c9c9c9;
  }

  :host::ng-deep.ant-table.ant-table-small .ant-table-title{
    color:#ffffff;
    font-size:18px;
    border-radius:10px 10px 0 0;
    background-color:white;
    opacity:0.1;
    font-weight: 500;
    text-align: center;
    border: 1px solid #DBDBDB;
  }
  .ant-btn-primary{
    color:#24C875;
    background:white;
    border-color:#24C875;
    border-radius:5px;

  }
  .ant-btn-primary:hover{
    color:#ffffff;
    background:#24C875;
    border-color:#24C875;
    border-radius:5px;
    box-shadow:0 2px 0 rgb(0 0 0 / 5%);
  }
  .ant-btn-primary:active{
    color:#ffffff;
    background:#24C875;
    border-color:#24C875;
    border-radius:5px;

  }




  .flex-container {
    display: flex;
  }
  ::ng-deep.ant-select:not(.ant-select-customize-input) .ant-select-selector{
  width:200px;
  border-radius:10px;
  background-color:#DBDBDB ;
  border:1px solid  #c9c9c9;
  }
  .form{
    padding:0px;
  }


  /* 11/10 update */
  #test{
    color:#24C875;
    font-size:12px;
    background:white;
    border-color:#24C875;
    border-radius:5px;

  }

  #test:hover{
    color:#ffffff;
    background:#24C875;
    border-color:#24C875;
    border-radius:5px;
    box-shadow:0 2px 0 rgb(0 0 0 / 5%);
  }
  #test:active{
    color:#ffffff;
    background:#24C875;
    border-color:#24C875;
    border-radius:5px;

  }
  #input{
    background-color:#ffffff;
    border-radius: 5px;
    height:20px;
    width:95%;
    font-size:10px;
    border: 1px solid #c2c2c2;
  }
  .search_row_header{
    width:95%;
    position: relative;
    top:10px;
    z-index:10;
    /* margin-bottom: 10px; */
    text-align: center;
    margin:0 auto;
    color:#2E4765;
    border-radius: 10px 10px 0px 0px;
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: #BFECD0;
    padding:10px 0;
  }
  .search_row{
    width:100%;
    margin:0 auto;
  }
  /* .tabs_row{
    box-shadow:0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
    background-color: #96CABC;
    border-radius:10px
  } */
  .mat-select{
    width:100%;
    display:inline-block;
    height:30px;
    font-size:14px;
    border-radius:5px;
    border:1px solid #c9c9c9;
    padding:4px;
    background-color:#ffffff;
  }
  :host::ng-deep.mat-select-value{
    color:gray;
  }
  .table-data{
    background-color:white;
    border: 1px solid #e8e8e8;
    color:rgb(87, 87, 87);
    margin-bottom: 0px;
    font-size: 5px;
  }
  :host::ng-deep.ant-table.ant-table-small .ant-table-tbody>tr>td{
    padding:0px;
    font-size: 15px;

  }

  .form-title{
    color:#2E4765;
    font-weight: bold;
    text-align:left;
    width:88%;
    margin:0 auto;
    display:block;
  }
  :host::ng-deep.ant-table{
    border-radius:10px;
  }
  .ant-btn-dangerous{
    color: #f80000;;
    background:white;
    border-color:#f80000;
    border-radius:5px;

  }
  .ant-btn-dangerous:hover{
    color:#ffffff;
    background:#f80000;
    border-color:#f80000;
    border-radius:5px;
    box-shadow:0 2px 0 rgb(0 0 0 / 5%);
  }
  .ant-btn-dangerous:active{
    color:#ffffff;
    background:#f80000;
    border-color:#f80000;
    border-radius:5px;
  }
