<br>
<form [formGroup]="customerInfoForm" style="padding-left: 20px;">
  <table>
    <div class="f01_div">
      <button mat-raised-button color="primary" (click)="edit()">儲存</button>
    </div>
    <br>
    <mat-card class="matCard">
      <mat-card-content>
        <tr>
          <th nowrap="nowrap" align="left">電子信箱</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="EMAIL" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">生日</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="BIRTHDAY" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">教育程度</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="EDUCATION" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">行動電話</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="MOBILE" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">戶籍電話區域碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="P_TEL_CODE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">戶籍電話</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="P_TEL" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">戶籍地址區域碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="P_ADDR_CODE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">戶籍地址</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="P_ADDR" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">通訊地址區域碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="H_ADDR_CODE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">通訊地址</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="H_ADDR" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">現居狀況</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="H_LIVEING_STATUS" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">已居住年數</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="H_LIVEING_YEAR" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">公司統編</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_NO" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">公司名稱</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_NAME" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">目前工作年資</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TENURE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">前一份公司名稱</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="PREVIOUS_CP_NAME" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">前一份工作職稱</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="PREVIOUS_CP_TITLE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">前一份工作年資</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="PREVIOUS_CP_TENURE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">公司電話區域碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TEL_CODE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">公司電話</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TEL" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">公司地址區域碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_ADDR_CODE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">公司地址</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_ADDR" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">公司職稱</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TITLE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">行職業代碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TYPE" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">行業別Level 1</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TYPE_LEVEL1" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">行業別Level 1 & 2</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TYPE_LEVEL1_2" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">職稱代碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CP_TITLE_NO" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">年收入</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="SALARY_YEAR" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">GPS時點1</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="GPS_1" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">GPS時點2</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="GPS_2" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">IP ADDRESS時點1</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="IP_ADDR_1" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">IP ADDRESS時點2</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="IP_ADDR_2" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">手機型號時點1</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="PHONE_MODEL_1" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">手機型號時點2</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="PHONE_MODEL_2" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">裝置ID時點1</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="PHONE_DEVICE_ID_1" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">裝置ID時點2</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="PHONE_DEVICE_ID_2" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">通訊電話區域碼</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="H_TEL_CODE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">通訊電話</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="H_TEL" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">申請時間</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="APPLY_TIME" readonly>
            </mat-form-field>
          </td>
        </tr>
      </mat-card-content>
    </mat-card>
  </table>
</form>
