<div class="container">
    <h2 mat-dialog-title>網頁資訊-編輯</h2>
    <table>
      <tr>
        <td style="width: 30%;">
          <mat-form-field color="accent">
            <mat-select [(ngModel)]="data.webAddrValue" placeholder="第三方外部網站" (ngModelChange)="changeSelect()">
              <mat-option *ngFor="let webAddr of data.webAddrOption" [value]="webAddr.codeNo + '=' + webAddr.codeTag">
                {{webAddr.codeDesc}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <td style="width: 70%;">
          <mat-form-field color="accent" style="width: 80%;">
            <input matInput [(ngModel)]="data.webAddrUrl" placeholder="網址" readonly>
          </mat-form-field>
        </td>
      </tr>
      <tr>
        <td style="width: 30%;">
          <mat-form-field>
            <ngx-mat-file-input [formControl]="fileControl" [accept]="accept" placeholder="請選擇檔案" (change)="onAddImage($event)"></ngx-mat-file-input>
          </mat-form-field>
        </td>
        <td style="width: 70%;">
          <mat-form-field color="accent" style="width: 80%;">
            <input matInput [(ngModel)]="data.webInfoContent" placeholder="內容">
          </mat-form-field>
        </td>
      </tr>
    </table>
  
    <tr>
      <td>
        <ng-container *ngIf="data.search == 'N'; else elseTemplate">
          <button mat-stroked-button style="margin-left: 10px;" (click)="uploadFile()"><mat-icon matSuffix>backup</mat-icon></button>
        </ng-container>
        <ng-template #elseTemplate>
          <button mat-stroked-button style="margin-left: 10px;" (click)="uploadFile()" disabled="true"><mat-icon matSuffix>backup</mat-icon></button>
        </ng-template>
      </td>
      <td>
        <div *ngIf="msg">
          <h4 [innerHtml]='msg' style="color: red; margin-left: 5px;"></h4>
        </div>
      </td>
    </tr>
  
    <br>
  
    <tr>
      <td>
        <div *ngIf="imageSrc" style="float: left; margin: 5px; text-align:center" class="inboxContainer">
          <img [src]="imageSrc" alt='Item image' *ngIf="imageSrc">
        </div>
      </td>
    </tr>
  </div>
  
