<div [ngClass]="getStepName() == 'APPLFraud' ? 'all-disable' : ''">
  <div class="line_bank_bankground_color">
    <br>
  </div>
  <div style="padding-left: 20%;">
    <button *ngIf="getSearch() == 'N' && (getstepName()=='APPLCreditL3'||getstepName()=='APPLCreditL2'  )" nz-button
      [nzSize]="'large'" nzType="primary" (click)="save_B()">儲存</button>
    <button
      *ngIf="(getSearch() != 'N' || getstepName()!='APPLCreditL4') && getstepName()!='APPLCreditL3'&& getstepName()!='APPLCreditL2' "
      nz-button [nzSize]="'large'" nzType="primary" (click)="save_B()" disabled>儲存</button>
  </div>

  <div *ngIf="getstepName()!='APPLCreditL4'" class="line_bank_card_no_padding" style="width:60%;">
    <nz-table nzShowSizeChanger [nzData]="fmData_B.data" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
      nzTitle="徵信DBR計算">
      <thead>
        <tr *ngIf="fmData_B.data.length>0">
          <th style="width:26%" class="table-header" colspan="2">項目</th>
          <th style="width:15%" class="table-header">DSS計算結果</th>
          <th style="width:10%" class="table-header">徵信手動調整</th>
          <th style="width:10%" class="table-header">授信手動調整</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="fmData_B.data.length>0">
          <td>(DBR分子)無擔保負債金額</td>
          <td>(A)無擔保負債(不含本行)_BAM501月報</td>
          <td class="data_right">
            {{fmData_B.data[0].unsdebt_AMT_501EX}}
          </td>
          <td>
            <!-- 另一種寫法 -->
            <!-- <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input class="data_right"
              [value]="fmData_B.data[0].unsdebt_AMT_501EX_B | toNumber | number: '2.'" [(ngModel)]="fmData_B.data[0].unsdebt_AMT_501EX_B" type="text"
              maxlength="20" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input  class="data_right"
            [value]="fmData_B.data[0].unsdebt_AMT_501EX_B | toNumber | number: '2.'" [(ngModel)]="fmData_B.data[0].unsdebt_AMT_501EX_B" type="text"
              maxlength="20" disabled /></div> -->
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_AMT_501EX_B"
              (keyup)="fmData_B.data[0].unsdebt_AMT_501EX_B=data_number1(fmData_B.data[0].unsdebt_AMT_501EX_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_AMT_501EX_B"
              (keyup)="fmData_B.data[0].unsdebt_AMT_501EX_B=data_number1(fmData_B.data[0].unsdebt_AMT_501EX_B)"
              maxlength="15" disabled /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_AMT_501EX_C"
              (keyup)="fmData_B.data[0].unsdebt_AMT_501EX_C=data_number1(fmData_B.data[0].unsdebt_AMT_501EX_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_AMT_501EX_C"
              (keyup)="fmData_B.data[0].unsdebt_AMT_501EX_C=data_number1(fmData_B.data[0].unsdebt_AMT_501EX_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(B)無擔保負債(不含本行)_BAM504扣除鑑價值</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_AMT_504EX}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_AMT_504EX_B"
              (keyup)="fmData_B.data[0].unsdebt_AMT_504EX_B=data_number1(fmData_B.data[0].unsdebt_AMT_504EX_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_AMT_504EX_B"
              (keyup)="fmData_B.data[0].unsdebt_AMT_504EX_B=data_number1(fmData_B.data[0].unsdebt_AMT_504EX_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_AMT_504EX_C"
              (keyup)="fmData_B.data[0].unsdebt_AMT_504EX_C=data_number1(fmData_B.data[0].unsdebt_AMT_504EX_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_AMT_504EX_C"
              (keyup)="fmData_B.data[0].unsdebt_AMT_504EX_C=data_number1(fmData_B.data[0].unsdebt_AMT_504EX_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(C)無擔保負債(不含本行)_BAM505新增核准額度</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_AMTNEW_505EX}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_AMTNEW_505EX_B"
              (keyup)="fmData_B.data[0].unsdebt_AMTNEW_505EX_B=data_number1(fmData_B.data[0].unsdebt_AMTNEW_505EX_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_AMTNEW_505EX_B"
              (keyup)="fmData_B.data[0].unsdebt_AMTNEW_505EX_B=data_number1(fmData_B.data[0].unsdebt_AMTNEW_505EX_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_AMTNEW_505EX_C"
              (keyup)="fmData_B.data[0].unsdebt_AMTNEW_505EX_C=data_number1(fmData_B.data[0].unsdebt_AMTNEW_505EX_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_AMTNEW_505EX_C"
              (keyup)="fmData_B.data[0].unsdebt_AMTNEW_505EX_C=data_number1(fmData_B.data[0].unsdebt_AMTNEW_505EX_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(D)無擔保負債(不含本行)_BAM029新增核准額度</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_AMTNEW_029EX}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_AMTNEW_029EX_B"
              (keyup)="fmData_B.data[0].unsdebt_AMTNEW_029EX_B=data_number1(fmData_B.data[0].unsdebt_AMTNEW_029EX_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_AMTNEW_029EX_B"
              (keyup)="fmData_B.data[0].unsdebt_AMTNEW_029EX_B=data_number1(fmData_B.data[0].unsdebt_AMTNEW_029EX_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_AMTNEW_029EX_C"
              (keyup)="fmData_B.data[0].unsdebt_AMTNEW_029EX_C=data_number1(fmData_B.data[0].unsdebt_AMTNEW_029EX_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_AMTNEW_029EX_C"
              (keyup)="fmData_B.data[0].unsdebt_AMTNEW_029EX_C=data_number1(fmData_B.data[0].unsdebt_AMTNEW_029EX_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(E)本行無擔保負債_循環信貸額度</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_824_RLLIMIT}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_824_RLLIMIT_B"
              (keyup)="fmData_B.data[0].unsdebt_824_RLLIMIT_B=data_number1(fmData_B.data[0].unsdebt_824_RLLIMIT_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_824_RLLIMIT_B"
              (keyup)="fmData_B.data[0].unsdebt_824_RLLIMIT_B=data_number1(fmData_B.data[0].unsdebt_824_RLLIMIT_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_824_RLLIMIT_C"
              (keyup)="fmData_B.data[0].unsdebt_824_RLLIMIT_C=data_number1(fmData_B.data[0].unsdebt_824_RLLIMIT_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_824_RLLIMIT_C"
              (keyup)="fmData_B.data[0].unsdebt_824_RLLIMIT_C=data_number1(fmData_B.data[0].unsdebt_824_RLLIMIT_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(E_1)本行無擔保負債_循環信貸餘額</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_824_RLBAL}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_824_RLBAL_B"
              (keyup)="fmData_B.data[0].unsdebt_824_RLBAL_B=data_number1(fmData_B.data[0].unsdebt_824_RLBAL_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_824_RLBAL_B"
              (keyup)="fmData_B.data[0].unsdebt_824_RLBAL_B=data_number1(fmData_B.data[0].unsdebt_824_RLBAL_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_824_RLBAL_C"
              (keyup)="fmData_B.data[0].unsdebt_824_RLBAL_C=data_number1(fmData_B.data[0].unsdebt_824_RLBAL_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_824_RLBAL_C"
              (keyup)="fmData_B.data[0].unsdebt_824_RLBAL_C=data_number1(fmData_B.data[0].unsdebt_824_RLBAL_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(F)本行無擔保負債_分期信貸放款餘額</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_824_ILBAL}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_824_ILBAL_B"
              (keyup)="fmData_B.data[0].unsdebt_824_ILBAL_B=data_number1(fmData_B.data[0].unsdebt_824_ILBAL_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_824_ILBAL_B"
              (keyup)="fmData_B.data[0].unsdebt_824_ILBAL_B=data_number1(fmData_B.data[0].unsdebt_824_ILBAL_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_824_ILBAL_C"
              (keyup)="fmData_B.data[0].unsdebt_824_ILBAL_C=data_number1(fmData_B.data[0].unsdebt_824_ILBAL_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_824_ILBAL_C"
              (keyup)="fmData_B.data[0].unsdebt_824_ILBAL_C=data_number1(fmData_B.data[0].unsdebt_824_ILBAL_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(G)本行無擔保負債_信用卡循環預借未到期</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_824_CCRBAL}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_824_CCRBAL_B"
              (keyup)="fmData_B.data[0].unsdebt_824_CCRBAL_B=data_number1(fmData_B.data[0].unsdebt_824_CCRBAL_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_824_CCRBAL_B"
              (keyup)="fmData_B.data[0].unsdebt_824_CCRBAL_B=data_number1(fmData_B.data[0].unsdebt_824_CCRBAL_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_824_CCRBAL_C"
              (keyup)="fmData_B.data[0].unsdebt_824_CCRBAL_C=data_number1(fmData_B.data[0].unsdebt_824_CCRBAL_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_824_CCRBAL_C"
              (keyup)="fmData_B.data[0].unsdebt_824_CCRBAL_C=data_number1(fmData_B.data[0].unsdebt_824_CCRBAL_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(H)其他無擔保負債_其他非JCIC</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_NONJCIC}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_NONJCIC_B"
              (keyup)="fmData_B.data[0].unsdebt_NONJCIC_B=data_number2(fmData_B.data[0].unsdebt_NONJCIC_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_NONJCIC_B"
              (keyup)="fmData_B.data[0].unsdebt_NONJCIC_B=data_number2(fmData_B.data[0].unsdebt_NONJCIC_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_NONJCIC_C"
              (keyup)="fmData_B.data[0].unsdebt_NONJCIC_C=data_number2(fmData_B.data[0].unsdebt_NONJCIC_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_NONJCIC_C"
              (keyup)="fmData_B.data[0].unsdebt_NONJCIC_C=data_number2(fmData_B.data[0].unsdebt_NONJCIC_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(I)(減項)無擔保負債(不含本行)_BAM029清償全額</td>
        <td class="data_right">
          {{fmData_B.data[0].unsdebt_PAYAMT_029EX}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_PAYAMT_029EX_B"
              (keyup)="fmData_B.data[0].unsdebt_PAYAMT_029EX_B=data_number1(fmData_B.data[0].unsdebt_PAYAMT_029EX_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].unsdebt_PAYAMT_029EX_B"
              (keyup)="fmData_B.data[0].unsdebt_PAYAMT_029EX_B=data_number1(fmData_B.data[0].unsdebt_PAYAMT_029EX_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].unsdebt_PAYAMT_029EX_C"
              (keyup)="fmData_B.data[0].unsdebt_PAYAMT_029EX_C=data_number1(fmData_B.data[0].unsdebt_PAYAMT_029EX_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].unsdebt_PAYAMT_029EX_C"
              (keyup)="fmData_B.data[0].unsdebt_PAYAMT_029EX_C=data_number1(fmData_B.data[0].unsdebt_PAYAMT_029EX_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td  id="td_height">(J)無擔保負債(不含本筆核准)合計</td>
        <td class="data_right">{{fmData_B.data[0].unsdebt_SUM_0}}</td>
        <td class="data_right">{{fmData_B.data[0].unsdebt_SUM_0CK_B}}</td>
        <td class="data_right">{{fmData_B.data[0].unsdebt_SUM_0CK_C}}</td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">(DBR分母)客戶填寫年收入</td>
        <td>{{fmData_B.data[0].annual_INCOME}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">(DBR分母)徵審確認後年收入</td>
        <td>{{fmData_B.data[0].income}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">本筆建議核准金額/額度</td>
        <td class="data_right" >{{fmData_B.data[0].approve_AMT}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">無擔保倍數(不含本筆&使用客戶填寫收入值)</td>
        <td class="data_right" [ngClass]="{data_color:fmData_B.data[0].dbr_0X>=15}">{{fmData_B.data[0].dbr_0X}}</td>
        <td class="data_right">{{fmData_B.data[0].dbr_0XCK_B}}</td>
        <td class="data_right">{{fmData_B.data[0].dbr_0XCK_C}}</td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">無擔保倍數(不含本筆&使用徵審確認收入值)</td>
        <td class="data_right" [ngClass]="{data_color:fmData_B.data[0].dbr_0>=15}">{{fmData_B.data[0].dbr_0}}</td>
        <td class="data_right">{{fmData_B.data[0].dbr_0CK_B}}</td>
        <td class="data_right">{{fmData_B.data[0].dbr_0CK_C}}</td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">無擔保倍數(含本筆核准&使用徵審確認收入值)</td>
        <td class="data_right" [ngClass]="{data_color:fmData_B.data[0].dbr_1>=15}">{{fmData_B.data[0].dbr_1}}</td>
        <td class="data_right">{{fmData_B.data[0].dbr_1CK_B}}</td>
        <td class="data_right">{{fmData_B.data[0].dbr_1CK_C}}</td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">無擔保倍數(含本筆合約金額&使用徵審確認收入值)</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </tbody>
  </nz-table>
</div>
<div *ngIf="getstepName()!='APPLCreditL4'" class="line_bank_card_no_padding" style="width:60%;">
  <nz-table nzShowSizeChanger [nzData]="fmData_B.data" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small"
    nzTitle="徵信收支比計算">
    <thead>
      <tr *ngIf="fmData_B.data.length>0">
        <th style="width:26%" class="table-header" colspan="2">項目</th>
        <th style="width:15%" class="table-header">DSS計算結果</th>
        <th style="width:10%" class="table-header">徵審手動調整</th>
        <th style="width:10%" class="table-header">授信手動調整</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngIf="fmData_B.data.length>0">
        <td>(收支比分子)月付貸款總金額</td>
        <td>(A)月付金計算_授信往來</td>
        <td class="data_right">
          {{fmData_B.data[0].mthpay_BAM421}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].mthpay_BAM421_B"
              (keyup)="fmData_B.data[0].mthpay_BAM421_B=data_number1(fmData_B.data[0].mthpay_BAM421_B)"
              maxlength="15" />
          </div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].mthpay_BAM421_B"
              (keyup)="fmData_B.data[0].mthpay_BAM421_B=data_number1(fmData_B.data[0].mthpay_BAM421_B)"
              maxlength="15" />
          </div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].mthpay_BAM421_C"
              (keyup)="fmData_B.data[0].mthpay_BAM421_C=data_number1(fmData_B.data[0].mthpay_BAM421_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].mthpay_BAM421_C"
              (keyup)="fmData_B.data[0].mthpay_BAM421_C=data_number1(fmData_B.data[0].mthpay_BAM421_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(B)月付金計算_新增核准授信</td>
        <td class="data_right">
          {{fmData_B.data[0].mthpay_BAM029}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].mthpay_BAM029_B"
              (keyup)="fmData_B.data[0].mthpay_BAM029_B=data_number1(fmData_B.data[0].mthpay_BAM029_B)"
              maxlength="15" />
          </div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].mthpay_BAM029_B"
              (keyup)="fmData_B.data[0].mthpay_BAM029_B=data_number1(fmData_B.data[0].mthpay_BAM029_B)"
              maxlength="15" />
          </div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].mthpay_BAM029_C"
              (keyup)="fmData_B.data[0].mthpay_BAM029_C=data_number1(fmData_B.data[0].mthpay_BAM029_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].mthpay_BAM029_C"
              (keyup)="fmData_B.data[0].mthpay_BAM029_C=data_number1(fmData_B.data[0].mthpay_BAM029_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(C)月付金計算_信用卡循環預借未到期</td>
        <td class="data_right">
          {{fmData_B.data[0].mthpay_KRM048}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].mthpay_KRM048_B"
              (keyup)="fmData_B.data[0].mthpay_KRM048_B=data_number1(fmData_B.data[0].mthpay_KRM048_B)"
              maxlength="15" />
          </div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].mthpay_KRM048_B"
              (keyup)="fmData_B.data[0].mthpay_KRM048_B=data_number1(fmData_B.data[0].mthpay_KRM048_B)"
              maxlength="15" />
          </div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].mthpay_KRM048_C"
              (keyup)="fmData_B.data[0].mthpay_KRM048_C=data_number1(fmData_B.data[0].mthpay_KRM048_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].mthpay_KRM048_C"
              (keyup)="fmData_B.data[0].mthpay_KRM048_C=data_number1(fmData_B.data[0].mthpay_KRM048_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td>(D)月付金計算_其他非JCIC</td>
        <td class="data_right">
          {{fmData_B.data[0].mthpay_NONJCIC}}
        </td>
        <td>
          <div *ngIf="getstepName()=='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px"
              class="data_right" [(ngModel)]="fmData_B.data[0].mthpay_NONJCIC_B"
              (keyup)="fmData_B.data[0].mthpay_NONJCIC_B=data_number2(fmData_B.data[0].mthpay_NONJCIC_B)"
              maxlength="15" /></div>
          <div *ngIf="getstepName()!='APPLCreditL3'" style="padding:0px"> <input style="width:97%;margin:5px" disabled
              class="data_right" [(ngModel)]="fmData_B.data[0].mthpay_NONJCIC_B"
              (keyup)="fmData_B.data[0].mthpay_NONJCIC_B=data_number2(fmData_B.data[0].mthpay_NONJCIC_B)"
              maxlength="15" /></div>
        </td>
        <td>
          <div style="padding:0px" *ngIf="getstepName()=='APPLCreditL2'"> <input class="data_right"
              [(ngModel)]="fmData_B.data[0].mthpay_NONJCIC_C"
              (keyup)="fmData_B.data[0].mthpay_NONJCIC_C=data_number2(fmData_B.data[0].mthpay_NONJCIC_C)"
              maxlength="15" /></div>
          <div style="padding:0px" *ngIf="getstepName()!='APPLCreditL2'"> <input class="data_right" disabled
              [(ngModel)]="fmData_B.data[0].mthpay_NONJCIC_C"
              (keyup)="fmData_B.data[0].mthpay_NONJCIC_C=data_number2(fmData_B.data[0].mthpay_NONJCIC_C)"
              maxlength="15" /></div>
        </td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td></td>
        <td id="td_height">(E)月付金(不含本筆核准)合計</td>
        <td class="data_right">{{fmData_B.data[0].mthpay_SUM_0}}</td>
        <td class="data_right">{{fmData_B.data[0].mthpay_SUM_0CK_B}}</td>
        <td class="data_right">{{fmData_B.data[0].mthpay_SUM_0CK_C}}</td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">(收支比分母)客戶填寫年收入</td>
        <td>{{fmData_B.data[0].annual_INCOME}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">(收支比分母)徵審確認後年收入</td>
        <td>{{fmData_B.data[0].income}}</td>
        <td></td>
        <td></td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">收支比(不含本筆&使用客戶填寫收入值)(%)</td>
        <td class="data_right" [ngClass]="{data_color:fmData_B.data[0].dti_0X>=70}">{{fmData_B.data[0].dti_0X}}</td>
        <td class="data_right">{{fmData_B.data[0].dti_0XCK_B}}</td>
        <td class="data_right">{{fmData_B.data[0].dti_0XCK_C}}</td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">收支比(不含本筆&使用徵審確認收入值)(%)</td>
        <td class="data_right" [ngClass]="{data_color:fmData_B.data[0].dti_0>=70}">{{fmData_B.data[0].dti_0}}</td>
        <td class="data_right">{{fmData_B.data[0].dti_0CK_B}}</td>
        <td class="data_right">{{fmData_B.data[0].dti_0CK_C}}</td>
      </tr>
      <tr *ngIf="fmData_B.data.length>0">
        <td id="td_height" colspan="2">收支比(含本筆核准&使用徵審確認收入值)(%)</td>
        <td class="data_right" [ngClass]="{data_color:fmData_B.data[0].dti_1>=70}">{{fmData_B.data[0].dti_1}}</td>
        <td class="data_right">{{fmData_B.data[0].dti_1CK_B}}</td>
        <td class="data_right">{{fmData_B.data[0].dti_1CK_C}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>

  <div class="line_bank_card_no_padding">
    <nz-table [nzData]="one" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small" nzTitle="月付金試算">
      <thead>
        <tr>
          <th class="table-header"><mat-checkbox color="primary"   (change)="setAll($event.checked)"  [(ngModel)]="isAllCheck" name="isAllCheck" >全選</mat-checkbox>
          </th>
          <th class="table-header" nzWidth="120px">科目</th>
          <th class="table-header">BAM421<br>預設本金</th>
          <th class="table-header">BAM029<br>預設本金</th>
          <th class="table-header">信用卡<br>近一期循環預借未到期金額 </th>
          <th class="table-header">預設利率</th>
          <th class="table-header">預設貸款年數</th>
          <th class="table-header">預設貸款期數</th>
          <th class="table-header">月付金<br>[BAM421]</th>
          <th class="table-header">月付金<br>[BAM029]<br>新增核准額度</th>
          <th class="table-header">月付金<br>[KRM048]<br>信用卡循環預借<br>未到期</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of one;let i =index;">
          <td style="text-align:center">
            <!-- <input class="inpu1" type="checkbox" checked="true"  (change)="test($event)"> -->
            <mat-checkbox  color="primary" [(ngModel)]="checkboxArray[i].completed" (change)="addcheckbox($event.checked,item.ID,item.MONTHLY_PAY_029,item.MONTHLY_PAY_421,item.MONTHLY_PAY_CC)" ></mat-checkbox>
          </td>
          <td>
            <div nz-col nzSpan="6">
              <mat-select [(ngModel)]="item.ACCOUNT_CODE" name="ACCOUNT_CODE" placeholder="請選擇" [disabled]="checkboxArray[i].completed==false? true:false"
                (ngModelChange)="sujectSelect(item.ID)"
                style="width:120px;height:25px;border-radius:5px;background-color:white; border:1px solid #c9c9c9;">
                <mat-option *ngFor="let code of sysCode" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </div>
          </td>
          <!-- <td><input class="inpu2" type="text"[attr.disabled]="null" [(ngModel)]="gold421" (keyup)="limit(gold421,'gold421')"></td> -->
          <td><input class="inpu2" type="text"
              [attr.disabled]="item.ACCOUNT_CODE=='CC'|| item.ACCOUNT_CODE==''||checkboxArray[i].completed==false? '' : null"
              [(ngModel)]="item.CONTRACT_AMT_421" name="gold421"
              (keyup)="limit(item.CONTRACT_AMT_421,item.ID,'gold421')" maxlength="13">
          </td>
          <td><input class="inpu2" type="text"
              [attr.disabled]="item.ACCOUNT_CODE=='CC'|| item.ACCOUNT_CODE==''||checkboxArray[i].completed==false? '' : null"
              [(ngModel)]="item.CONTRACT_AMT_029" name="gold029"
              (keyup)="limit(item.CONTRACT_AMT_029,item.ID,'gold029')"maxlength="13">
          </td>
          <td><input class="inpu2" type="text" [attr.disabled]="item.ACCOUNT_CODE!='CC'||checkboxArray[i].completed==false? '':null "
              [(ngModel)]="item.CONTRACT_AMT_CC" name="gold" (keyup)="limit(item.CONTRACT_AMT_CC,item.ID,'gold')" maxlength="13"></td>
          <td>{{item.CAL_RATE !=undefined? item.CAL_RATE:"0"}}</td>
          <td>{{item.CAL_YEARS !=undefined? item.CAL_YEARS:"0"}}</td>
          <td>{{item.CAL_PERIOD !=undefined? item.CAL_PERIOD:"0"}}</td>
          <td>{{item.MONTHLY_PAY_421 !=undefined? item.MONTHLY_PAY_421:"0"}}</td>
          <td>{{item.MONTHLY_PAY_029 !=undefined? item.MONTHLY_PAY_029:"0"}}</td>
          <td>{{item.MONTHLY_PAY_CC !=undefined? item.MONTHLY_PAY_CC:"0"}}</td>
          <!-- <td><button  (click)="test(item.ACCOUNT_CODE)">測試</button></td> -->
        </tr>
      </tbody>
    </nz-table>
    <div style="padding:10px;text-align:center">
      <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="add()"
        [disabled]="search == 'N' && page == '2'? false:true">新增</button>
      <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="seve() "
        [disabled]="search == 'N' && checkboxAny.length > 0 && page == '2'? false:true">儲存</button>
      <button nz-button [nzSize]="'middle'" nzType="primary" id="del" style="border-radius: 5px;" (click)="del()"
        [disabled]="search == 'N' && checkboxAny.length > 0 && page == '2' ? false:true">刪除</button>
      <!-- <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"(click)="test()">測試</button> -->
    </div>
  </div>
  <br>
  <div class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small" nzTitle="合計金額"
      nzTemplateMode>
      <thead>
        <tr>
          <th class="table-header">BAM421月付金</th>
          <th class="table-header">BAM029月付金</th>
          <th class="table-header">KRM048月付金</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>{{data_number(Monthly421)}}</td>
          <td>{{data_number(Monthly029)}}</td>
          <td>{{data_number(Monthlycc)}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
