<div class="line_bank_bankground_color">

</div>
<div class="line_bank_card_no_padding">
  <nz-table [nzData]="one" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small" nzTitle=" ">
    <thead>
      <tr>
        <th class="table-header"> </th>
        <th class="table-header" nzWidth="120px">科目</th>
        <th class="table-header">BAM421<br>預設本金</th>
        <th class="table-header">BAM029<br>預設本金</th>
        <th class="table-header">信用卡<br>近一期循環預借未到期金額 </th>
        <th class="table-header">預設利率</th>
        <th class="table-header">預設貸款年數</th>
        <th class="table-header">預設貸款期數</th>
        <th class="table-header">月付金<br>[BAM421]</th>
        <th class="table-header">月付金<br>[BAM029]<br>新增核准額度</th>
        <th class="table-header">月付金<br>[KRM048]<br>信用卡循環預借<br>未到期</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of one">
        <td>
          <!-- <input class="inpu1" type="checkbox" checked="true"  (change)="test($event)"> -->
          <input class="inpu1" type="checkbox"   (change)="addcheckbox($event.target.checked,item.ID,item.CONTRACT_AMT_029,item.CONTRACT_AMT_421,item.CONTRACT_AMT_CC)">
        </td>
        <td>
          <div nz-col nzSpan="6">
            <mat-select [(ngModel)]="item.ACCOUNT_CODE" name="ACCOUNT_CODE"  placeholder="請選擇" (ngModelChange)="sujectSelect(item.ID)"
              style="width:120px;height:25px;border-radius:5px;background-color:white; border:1px solid #c9c9c9;">
              <mat-option *ngFor="let code of sysCode" [value]="code.value">
                {{code.viewValue}}
              </mat-option>
            </mat-select>
            </div>
        </td>
        <!-- <td><input class="inpu2" type="text"[attr.disabled]="null" [(ngModel)]="gold421" (keyup)="limit(gold421,'gold421')"></td> -->
        <td><input class="inpu2" type="text"[attr.disabled]="item.ACCOUNT_CODE=='CC'|| item.ACCOUNT_CODE==''? '' : null" [(ngModel)]="item.MONTHLY_PAY_421" name="gold421" (keyup)="limit(item.MONTHLY_PAY_421,item.ID,'gold421')"></td>
        <td><input class="inpu2" type="text"[attr.disabled]="item.ACCOUNT_CODE=='CC'|| item.ACCOUNT_CODE==''? '' : null" [(ngModel)]="item.MONTHLY_PAY_029" name="gold029" (keyup)="limit(item.MONTHLY_PAY_029,item.ID,'gold029')"></td>
        <td><input class="inpu2" type="text"[attr.disabled]="item.ACCOUNT_CODE=='CC'? null:'' " [(ngModel)]="item.MONTHLY_PAY_CC" name="gold" (keyup)="limit(item.MONTHLY_PAY_CC,item.ID,'gold')"></td>
        <td>{{item.CAL_RATE}}</td>
        <td>{{item.CAL_YEARS}}</td>
        <td>{{item.CAL_PERIOD}}</td>
        <td>{{item.CONTRACT_AMT_421}}</td>
        <td>{{item.CONTRACT_AMT_029}}</td>
        <td>{{item.CONTRACT_AMT_CC}}</td>
        <!-- <td><button  (click)="test(item.ACCOUNT_CODE)">測試</button></td> -->
      </tr>
      <!-- <tr *ngIf="i==true">
        <td>
          <input class="inpu1" type="checkbox">
        </td>
        <td>
          <div nz-col nzSpan="6">
            <mat-select  name="sujecttwo"  placeholder="請選擇" (ngModelChange)="sujectSelectTwo()" [(ngModel)]="sujecttwo"
              style="width:120px;height:25px;border-radius:10px;border:none;padding:4px;background-color:#E6E6E6">
              <mat-option *ngFor="let code of sysCode" [value]="code.viewValue">
                {{code.viewValue}}
              </mat-option>
            </mat-select>
            </div>
        </td>
        <td><input class="inpu2" type="text"[attr.disabled]="sujecttwo=='CC信用卡'||sujecttwo==undefined? '' : null" [(ngModel)]="addgold421" name="addgold421" (keyup)="limit(addgold421,'addgold421')"></td>
        <td><input class="inpu2" type="text"[attr.disabled]="sujecttwo=='CC信用卡'||sujecttwo==undefined? '' : null" [(ngModel)]="addgold029" name="addgold029" (keyup)="limit(addgold029,'addgold029')"></td>
        <td><input class="inpu2" type="text"[attr.disabled]="sujecttwo=='CC信用卡'? null:'' " [(ngModel)]="addgold" name="addgold" (keyup)="limit(addgold,'addgold')"></td>
        <td>{{InterestRateTwo}}</td>
        <td>{{YearsTwo}}</td>
        <td>{{NumberofPeriodsTwo}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr> -->
    </tbody>
  </nz-table>
  <div style="padding:10px;text-align:center">
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="add()">新增</button>
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"(click)="seve()">儲存</button>
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"(click)="del()">刪除</button>
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"(click)="test()">測試</button>
  </div>
</div>
<br>
<div class="line_bank_card_no_padding">
  <nz-table nzShowSizeChanger [nzData]="" [nzFrontPagination]="false" [nzSimple]="true" nzSize="small" nzTitle="合計金額" nzTemplateMode >
    <thead>
      <tr>
        <th class="table-header">BAM421月付金</th>
        <th class="table-header">BAM029月付金</th>
        <th class="table-header">KRM048月付金</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{data_number(Monthly421)}}</td>
        <td>{{data_number(Monthly029)}}</td>
        <td>{{data_number(Monthlycc)}}</td>
      </tr>
    </tbody>
  </nz-table>
</div>
