<th class="f01_th">AAS003</th>
<br>
<mat-table [dataSource]="AAS003Source" matSortDisableClear>
  <ng-container matColumnDef="IS_LOST">
    <mat-header-cell *matHeaderCellDef>身分證註銷或一年內掛失紀錄</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IS_LOST }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="IS_WANTED">
    <mat-header-cell *matHeaderCellDef>通報案件紀錄</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IS_WANTED) }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="IS_NOTE">
    <mat-header-cell *matHeaderCellDef>是否有補充註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IS_NOTE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="NOTELIST">
    <mat-header-cell *matHeaderCellDef>補充註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.NOTELIST }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="WANTEDLIST">
    <mat-header-cell *matHeaderCellDef>通報案件紀錄</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.WANTEDLIST }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FOREIGNER_MARK">
    <mat-header-cell *matHeaderCellDef>在台無戶籍人士身分證號對照索引註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FOREIGNER_MARK }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['IS_LOST', 'IS_WANTED', 'IS_NOTE', 'NOTELIST', 'WANTEDLIST', 'FOREIGNER_MARK]"></mat-header-row>
  <mat-row *matRowDef="let AAS003SourceRow; columns: ['IS_LOST', 'IS_WANTED', 'IS_NOTE', 'NOTELIST', 'WANTEDLIST', 'FOREIGNER_MARK']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>