<th class="f01_th">AAS003</th>
<div>
    <table class="form1">
        <tr class="tbTitle">
            <th nowrap="nowrap">消債/其他註記</th>
            <th nowrap="nowrap">通報案件紀錄</th>
            <th nowrap="nowrap">授信異常紀錄</th>
            <th nowrap="nowrap">退票異常紀錄</th>
            <th nowrap="nowrap">強制停卡紀錄</th>
            <th nowrap="nowrap">拒絕往來紀錄</th>
            <th nowrap="nowrap">其他信用不良</th>
            <th nowrap="nowrap">身份證換補發記錄</th>
            <th nowrap="nowrap">新增額度與撥款清償提示</th>
            <th nowrap="nowrap">J10分數</th>
            <th nowrap="nowrap">個人任職董監資料</th>
            <th nowrap="nowrap">共同債務</th>
            <th nowrap="nowrap">從債務</th>
            <th nowrap="nowrap">其他</th>
        </tr>
        <tr class="tbContext">
            <td>Y</td>
            <td>N</td>
            <td>N</td>
            <td>Y</td>
            <td>N</td>
            <td>N</td>
            <td>N</td>
            <td>正確</td>
            <td>N</td>
            <td>N</td>
            <td>N</td>
            <td>N</td>
            <td>N</td>
            <td>N</td>
        </tr>
    </table>
</div>