.ant-btn-primary{
  color:#24C875;
  font-size:16px;
  background:white;
  border-color:#24C875;
  border-radius:5px;

}
.ant-btn-primary:hover{
  color:#ffffff;
  background:#24C875;
  border-color:#24C875;
  border-radius:5px;
  box-shadow:0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-primary:active{
  color:#ffffff;
  background:#24C875;
  border-color:#24C875;
  border-radius:5px;

}
.ant-btn-dangerous{
  color: #f80000;;
  background:white;
  border-color:#f80000;
  border-radius:5px;

}
.ant-btn-dangerous:hover{
  color:#ffffff;
  background:#f80000;
  border-color:#f80000;
  border-radius:5px;
  box-shadow:0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-dangerous:active{
  color:#ffffff;
  background:#f80000;
  border-color:#f80000;
  border-radius:5px;
}
.input-textarea{
  width: 100%;
  height:200px;
  background-color:#ffffff;
  border-radius:10px;
  border:1px solid #E6E6E6
}