<app-block *ngIf="block"></app-block>
<div class="line_bank_card_no_padding" style="min-height:140px;">
  <div class="line_bank_form_header_title">執行DSS退件作業</div>
   <!-- 授信退件 -->
  <div class="container" style="width:100%;margin: 0 auto;text-align: center;" *ngIf="stepName=='APPLCreditL2'">
      <br>
      
      <button nz-button [nzSize]="'middle'" nzType="primary" (click)="confirm()" >確定</button>
      &nbsp;&nbsp;
      <button nz-button [nzSize]="'middle'" nzDanger (click)="cancel()" tabindex="-1">離開</button>
  </div>
  <!-- 主管退件 -->
  <div class="container" style="width:100%;margin: 0 auto;text-align: center;" *ngIf="stepName=='APPLCreditL0'">
      <br>
      
      <button nz-button [nzSize]="'middle'" nzType="primary" (click)="L0sendbackL3()" >退回徵信案件</button>
      &nbsp;&nbsp;
      <button nz-button [nzSize]="'middle'" nzType="primary" (click)="L0sendbackL2()" >退回授信案件</button>
      <button nz-button [nzSize]="'middle'" nzDanger (click)="cancel()" tabindex="-1">離開</button>
  </div>
   <!-- 授信覆核退件 -->
  <div class="container" style="width:100%;margin: 0 auto;text-align: center;" *ngIf="stepName=='APPLCreditL1'">
      <br>
  
      <button nz-button [nzSize]="'middle'" nzType="primary" (click)="L1sendbackL3()" >退回徵信案件</button>
      &nbsp;&nbsp;
      <button nz-button [nzSize]="'middle'" nzType="primary" (click)="L1sendbackL2()" >退回授信案件</button>
  </div>
</div>
