<div class="line_bank_bankground_color">
  <br>
  <form [formGroup]="customerInfoForm" style="padding-left: 20px;">
    <table>
      <div style="padding-left: 10px;">
        <button nz-button [nzSize]="'middle'" nzType="primary" (click)="edit()">儲存</button>
      </div>
      <div class="line_bank_card_no_padding_child">
        <div class="line_bank_form_header_title">客戶資料</div>
        <!-- 行業別 -->
        <div nz-row>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">中文姓名</span>
              <input style="display: block;" formControlName="CUCNAME" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">身分證字號</span>
              <input style="display: block;" formControlName="NATIONAL_ID" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">性別</span>
              <input style="display: block;" formControlName="CU_SEX" readonly>
            </div>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">住家型態</span>
              <input style="display: block;" formControlName="CU_RDTL" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">生日</span>
              <input style="display: block;" formControlName="CU_BIRTHDAY" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">婚姻</span>
              <input style="display: block;" formControlName="CU_MARRIED_STATUS" readonly>
            </div>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">房屋所有權者</span>
              <input style="display: block;" formControlName="HOUSE_OWNER" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">學歷</span>
              <input style="display: block;" formControlName="CU_EDUCATION" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title"></span>
              <!-- <input style="display: block;" formControlName="CU_MARRIED_STATUS" readonly> -->
            </div>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="3">
            <div style="padding:10px">
              <span class="form-title">住宅地址</span>
              <input style="display: block;" formControlName="CU_H_ADDR_CODE" readonly>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div style="padding:10px">
              <span class="form-title">&nbsp;</span>
              <input style="display: block;" formControlName="CU_H_ADDR1" readonly>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div style="padding:10px">
              <span class="form-title">&nbsp;</span>
              <input style="display: block;" formControlName="CU_H_ADDR2" readonly>
            </div>
          </div>
          <div nz-col nzSpan="3">
            <div style="padding:10px">
              <span class="form-title">住宅電話</span>
              <input style="display: block;" formControlName="CU_H_TEL_INO" readonly>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div style="padding:10px">
              <span class="form-title">&nbsp;</span>
              <input style="display: block;" formControlName="CU_H_TEL" readonly>
            </div>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="3">
            <div style="padding:10px">
              <span class="form-title">公司地址</span>
              <input style="display: block;" formControlName="CU_CP_ADDR_CODE" readonly>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div style="padding:10px">
              <span class="form-title">&nbsp;</span>
              <input style="display: block;" formControlName="CU_CP_ADDR1" readonly>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div style="padding:10px">
              <span class="form-title">&nbsp;</span>
              <input style="display: block;" formControlName="CU_CP_ADDR2" readonly>
            </div>
          </div>
          <div nz-col nzSpan="3">
            <div style="padding:10px">
              <span class="form-title">公司電話</span>
              <input style="display: block;" formControlName="CU_CP_TEL_INO" readonly>
            </div>
          </div>
          <div nz-col nzSpan="6">
            <div style="padding:10px">
              <span class="form-title">&nbsp;</span>
              <input style="display: block;" formControlName="CU_CP_TEL" readonly>
            </div>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">公司名稱</span>
              <input style="display: block;" formControlName="CU_CP_NAME" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">公司統編</span>
              <input style="display: block;" formControlName="CU_CP_NO" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">到職日</span>
              <input style="display: block;" formControlName="HIRED_DATE" readonly>
            </div>
          </div>
        </div>

        <div nz-row>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">年資</span>
              <input style="display: block;" formControlName="SENIORITY" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">年收入</span>
              <input style="display: block;" formControlName="ANNUAL_INCOME" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title"></span>
              <!-- <input style="display: block;" formControlName="HIRED_DATE" readonly> -->
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="16">
            <div style="padding:10px">
              <span class="form-title">email</span>
              <input style="display: block;" formControlName="CU_EMAIL" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">行動電話</span>
              <input style="display: block;" formControlName="CU_M_TEL" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title"></span>
              <!-- <input style="display: block;" formControlName="CU_SEX" readonly> -->
            </div>
          </div>
        </div>
        <div nz-row>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">行職業</span>
              <input style="display: block;" formControlName="CU_TYPE" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title">職稱</span>
              <input style="display: block;" formControlName="CU_TITLE" readonly>
            </div>
          </div>
          <div nz-col nzSpan="8">
            <div style="padding:10px">
              <span class="form-title"></span>
              <!-- <input style="display: block;" formControlName="CU_SEX" readonly> -->
            </div>
          </div>
        </div>
      </div>
    </table>
  </form>
</div>