<th class="f01_th">BAS008</th>
<br>
<mat-table [dataSource]="BAS008Source" matSortDisableClear>
  <ng-container matColumnDef="STA_DATE">
    <mat-header-cell *matHeaderCellDef>每日授信餘額變動資訊-交易起日</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.STA_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="END_DATE">
    <mat-header-cell *matHeaderCellDef>每日授信餘額變動資訊-交易迄日</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.END_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FILLER">
    <mat-header-cell *matHeaderCellDef>保留欄位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FILLER }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['STA_DATE', 'END_DATE', 'FILLER']"></mat-header-row>
  <mat-row *matRowDef="let BAS008SourceRow; columns: ['STA_DATE', 'END_DATE', 'FILLER']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
