<app-block *ngIf="block"></app-block>
<div class="line_bank_card_no_padding" style="min-height:140px;">
    <div class="line_bank_form_header_title">執行退件作業</div>
    <form class="mat-dialog-content" #formControl="ngForm">
        <div class="container" style="width:100%;margin: 0 auto;text-align: center;">
            <br>
            <div nz-row nzJustify="space-around">
                <div nz-col nzSpan="20">
                    <textarea class="input-textarea" placeholder="輸入退件原因" [(ngModel)]="content" name="content" cols="30" maxlength="480"
                        rows="10" required></textarea>
                    <!-- <mat-error *ngIf="formControl.invalid">{{getErrorMessage()}}</mat-error> -->
                </div>
            </div>
            <br>
            <div nz-row nzJustify="space-around">
                <div nz-col nzSpan="4"></div>
                <div nz-col nzSpan="4"> <button nz-button [nzSize]="'middle'" nzType="primary"
                        [disabled]="!formControl.valid" (click)="confirm()">確定</button></div>
                <div nz-col nzSpan="4"><button nz-button [nzSize]="'middle'" nzDanger (click)="cancel()"
                        tabindex="-1">離開</button></div>
                <div nz-col nzSpan="4"></div>
            </div>
            <br>
        </div>
    </form>

</div>
