<th class="f01_th">JAS002</th>
<br>
<mat-table [dataSource]="JAS002Source" matSortDisableClear>
  <ng-container matColumnDef="EVER_DELINQUENT">
    <mat-header-cell *matHeaderCellDef>授信異常</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.EVER_DELINQUENT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DELINQUENT_DATE">
    <mat-header-cell *matHeaderCellDef>最近授信異常日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DELINQUENT_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="EVER_BAD_CHECK">
    <mat-header-cell *matHeaderCellDef>退票異常</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.EVER_BAD_CHECK }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BAD_CHECK_DATE">
    <mat-header-cell *matHeaderCellDef>最近退票異常日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BAD_CHECK_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="EVER_REJECT">
    <mat-header-cell *matHeaderCellDef>拒絕往來記錄</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.EVER_REJECT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="REJECT_DATE">
    <mat-header-cell *matHeaderCellDef>拒絕往來日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.REJECT_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="EVER_STOP_CARD">
    <mat-header-cell *matHeaderCellDef>強制停卡異常</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.EVER_STOP_CARD }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="STOP_CARD_DATE">
    <mat-header-cell *matHeaderCellDef>最近強制停卡日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.STOP_CARD_DATE }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['EVER_DELINQUENT', 'DELINQUENT_DATE', 'EVER_BAD_CHECK', 'BAD_CHECK_DATE', 'EVER_REJECT', 'REJECT_DATE','EVER_STOP_CARD','STOP_CARD_DATE']"></mat-header-row>
  <mat-row *matRowDef="let JAS002SourceRow; columns: ['EVER_DELINQUENT', 'DELINQUENT_DATE', 'EVER_BAD_CHECK', 'BAD_CHECK_DATE', 'EVER_REJECT', 'REJECT_DATE','EVER_STOP_CARD','STOP_CARD_DATE']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
