<th class="f01_th">BAM505</th>
<br>
<mat-table [dataSource]="BAM505Source" matSortDisableClear>
  <ng-container matColumnDef="DATA_DATE">
    <mat-header-cell *matHeaderCellDef>日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_CODE">
    <mat-header-cell *matHeaderCellDef>行庫代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>行庫名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_AMT">
    <mat-header-cell *matHeaderCellDef>新增核准額度訂約金額(千元)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DBR22_AMT">
    <mat-header-cell *matHeaderCellDef>應計入DBR22倍規範之金額(千元)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DBR22_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FILLER">
    <mat-header-cell *matHeaderCellDef>保留欄位</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FILLER }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['DATA_DATE', 'BANK_CODE', 'BANK_NAME', 'CONTRACT_AMT', 'DBR22_AMT', 'FILLER']"></mat-header-row>
  <mat-row *matRowDef="let BAM505SourceRow; columns: ['DATA_DATE', 'BANK_CODE', 'BANK_NAME', 'CONTRACT_AMT', 'DBR22_AMT', 'FILLER']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
