<th class="f01_th">BAM043報送資料比對檔</th>
<form [formGroup]="bam043Form" style="padding-left: 20px;">
    <table>
        <mat-card class="matCard">
            <mat-card-content>
                <tr>
                    <th nowrap="nowrap">行動電話最近6個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="mobileVsMTel6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">行動電話最近12個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="mobileVsMTel12" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">戶籍電話VS居住電話最近6個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pTelVsHTel6" readonly>
                      </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th nowrap="nowrap">戶籍電話VS居住電話最近12個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pTelVsHTel12" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">戶籍電話VS任職機構電話最近6個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pTelVsOTel6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">戶籍電話VS任職機構電話最近12個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pTelVsOTel12" readonly>
                      </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th nowrap="nowrap">通訊電話VS居住電話最近6個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cTelVsHTel6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">通訊電話VS居住電話最近12個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cTelVsHTel12" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">通訊電話VS任職機構電話最近6個月內</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cTelVsOTel6" readonly>
                      </mat-form-field>
                    </td>    
                </tr>
                <tr>
                    <th nowrap="nowrap">通訊電話VS任職機構電話最近12個月內：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cTelVsOTel12" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">戶籍地址VS戶籍地址最近6個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pAddrVsRAddr6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">戶籍地址VS戶籍地址最近12個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pAddrVsRAddr12" readonly>
                      </mat-form-field>
                    </td>   
                </tr>
                <tr>
                    <th nowrap="nowrap">戶籍地址VS寄單地址最近6個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pAddrVsMAddr6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">戶籍地址VS寄單地址最近12個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pAddrVsMAddr12" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">戶籍地址VS戶籍地址最近6個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pAddrVsRAddrFuzzy6" readonly>
                      </mat-form-field>
                    </td>  
                </tr>
                <tr>
                    <th nowrap="nowrap">戶籍地址VS戶籍地址最近12個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pAddrVsRAddrFuzzy12" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">戶籍地址VS寄單地址最近6個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="pAddrVsMAddrFuzzy6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">通訊地址VS戶籍地址最近6個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cAddrVsRAddr6" readonly>
                      </mat-form-field>
                    </td>
                </tr>
                <tr> 
                    <th nowrap="nowrap">通訊地址VS寄單地址最近6個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cAddrVsMAddr6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">通訊地址VS戶籍地址最近6個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cAddrVsRAddrFuzzy6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">通訊地址VS寄單地址最近6個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cAddrVsMAddrFuzzy6" readonly>
                      </mat-form-field>
                    </td>
                </tr>
                <tr>   
                    <th nowrap="nowrap">寄卡地址VS戶籍地址最近6個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cardAddrVsRAddr6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">寄卡地址VS寄單地址最近6個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cardAddrVsMAddr6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">寄卡地址VS戶籍地址最近6個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cardAddrVsRAddrFuzzy6" readonly>
                      </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th nowrap="nowrap">寄卡地址VS寄單地址最近6個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cardAddrVsMAddrFuzzy6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">任職機構不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpName" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">公司電話與居住電話不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpTelVsHTel" readonly>
                      </mat-form-field>
                    </td>
                </tr>
                <tr>      
                    <th nowrap="nowrap">公司電話與任職電話不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpTelVsOTel" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">公司地址VS戶籍地址最近6個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpAddrVsRAddr6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">公司地址VS寄單地址最近6個月內100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpAddrVsMAddr6" readonly>
                      </mat-form-field>
                    </td>
                </tr>
                <tr>      
                    <th nowrap="nowrap">公司地址VS戶籍地址最近6個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpAddrVsRAddrFuzzy6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">公司地址VS寄單地址最近6個月內模糊查詢：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpAddrVsMAddrFuzzy6" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">行業別level 1 100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpTypeLevel1" readonly>
                      </mat-form-field>
                    </td>
                </tr>
                <tr>
                    <th nowrap="nowrap">行業別level 1&2 100%不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="cpTypeLevel1and2" readonly>
                      </mat-form-field>
                    </td>
                    <th nowrap="nowrap">教育程度不一致：</th>
                    <td>
                      <mat-form-field color="accent">
                        <input matInput #input formControlName="education" readonly>
                      </mat-form-field>
                    </td>
                </tr>
            </mat-card-content>
        </mat-card>
    </table>
</form>

