<h2 mat-dialog-title>提報黑名單</h2>
<div>
    <button mat-raised-button type="button" color="primary" >儲存</button>
    &nbsp;&nbsp;
    <button mat-raised-button type="button" color="warn" >離開</button>
</div>
<br>
<form [formGroup]="blockListForm">
    <table bordercolor="#000000" cellspacing="0" style="border-collapse:collapse;width: 800px;">
        <tr>
            <th>通報單位</th>
            <td>
                <mat-form-field color="accent">
                    <input matInput #input class="form-control" value="{{ no }}" formControlName="REPORT_UNIT" readonly>
                </mat-form-field>
            </td>

            <th>通報原因1</th>
            <td>
                <mat-form-field color="accent">
                    <mat-select [(ngModel)]="reportReason1Value" formControlName="REPORT_REASON1">
                        <mat-option *ngFor="let code of reportReason1" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <th>通報原因2</th>
            <td>
                <mat-form-field color="accent">
                    <mat-select [(ngModel)]="reportReason2Value" formControlName="REPORT_REASON2">
                        <mat-option *ngFor="let code of reportReason2" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
            <th>通報原因3</th>
            <td>
                <mat-form-field color="accent">
                    <mat-select [(ngModel)]="reportReason3Value" formControlName="REPORT_REASON3">
                        <mat-option *ngFor="let code of reportReason3" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <th>通報補充</th>
            <td>
                <mat-form-field color="accent">
                    <input matInput #input class="form-control" placeholder="通報補充" formControlName="REPORT_CONTENT">
                </mat-form-field>
            </td>
            <th>使用中</th>
            <td>
                <mat-form-field color="accent">
                    <mat-select [(ngModel)]="useFlagValue" formControlName="USE_FLAG">
                        <mat-option *ngFor="let code of useFlag" [value]="code.value">
                            {{code.viewValue}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </td>
        </tr>
        <tr>
            <th>建檔項目欄位標題</th>
            <th>建檔項目欄位值內容</th>
        </tr>
        <!-- <tr>
            <td><input type="checkbox" name="姓名" value=""
                    (click)="checkboxSelect($event.target.checked,'CU_CNAME',this.blockListForm.value.CU_CNAME)">姓名</td>
            <td><input matInput #input class="form-control" formControlName="CU_CNAME"> </td>
        </tr>
        <tr>
            <td><input type="checkbox" name="身分證字號" value="身分證字號"
                    (click)="checkboxSelect($event.target.checked,'NATIONAL_ID',this.blockListForm.value.NATIONAL_ID)">身分證字號
            </td>
            <td><input matInput #input class="form-control" formControlName="NATIONAL_ID"> </td>
        </tr>
        <tr>
            <td><input type="checkbox" name="住家電話" value="住家電話"
                    (click)="checkboxSelect($event.target.checked,'CU_H_TEL',this.blockListForm.value.CU_H_TEL)">住家電話
            </td>
            <td><input matInput #input class="form-control" formControlName="CU_H_TEL"> </td>
        </tr>
        <tr>
            <td><input type="checkbox" name="公司電話" value="公司電話"
                    (click)="checkboxSelect($event.target.checked,'CU_CP_TEL',this.blockListForm.value.CU_CP_TEL)">公司電話
            </td>
            <td><input matInput #input class="form-control" formControlName="CU_CP_TEL"> </td>
        </tr>
        <tr>
            <td><input type="checkbox" name="手機號碼" value="手機號碼"
                    (click)="checkboxSelect($event.target.checked,'CU_M_TEL',this.blockListForm.value.CU_M_TEL)">手機號碼
            </td>
            <td><input matInput #input class="form-control" formControlName="CU_M_TEL"> </td>
        </tr> -->
    </table>
</form>
<cdk-virtual-scroll-viewport itemSize="48" headerHeight="56" style="height: 400px; margin-left: 10px;">
    <mat-table [dataSource]="blockListDataSource">
        <ng-container matColumnDef="REPORT_UNIT">
            <mat-header-cell *matHeaderCellDef>通報單位</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.reportUnit }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="BK_COLUMN">
            <mat-header-cell *matHeaderCellDef>建檔項目欄位標題</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.bkColumn }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="BK_CONTENT">
            <mat-header-cell *matHeaderCellDef>建檔項目欄位值內容</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.bkContent }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="REPORT_REASON1">
            <mat-header-cell *matHeaderCellDef>通報原因1</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.reportReason1 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="REPORT_REASON2">
            <mat-header-cell *matHeaderCellDef>通報原因2</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.reportReason2 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="REPORT_REASON3">
            <mat-header-cell *matHeaderCellDef>通報原因3</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.reportReason3 }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="REPORT_CONTENT">
            <mat-header-cell *matHeaderCellDef>通報補充</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.reportContent }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="USE_FLAG">
            <mat-header-cell *matHeaderCellDef>使用中</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.useFlag }}</mat-cell>
        </ng-container>
        <ng-container matColumnDef="CREATE_DATETIME">
            <mat-header-cell *matHeaderCellDef>資料新增日期時間</mat-header-cell>
            <mat-cell *matCellDef="let row">{{ row.createDatetime | date: 'yyyy-MM-dd hh：mm：ss' }}</mat-cell>
        </ng-container>

        <mat-header-row
            *matHeaderRowDef="['REPORT_UNIT','BK_COLUMN', 'BK_CONTENT','REPORT_REASON1','REPORT_REASON2','REPORT_REASON3','REPORT_CONTENT','USE_FLAG','CREATE_DATETIME']; sticky: true">
        </mat-header-row>
        <mat-row
            *matRowDef="let ruleParmRow; columns: ['REPORT_UNIT','BK_COLUMN', 'BK_CONTENT','REPORT_REASON1','REPORT_REASON2','REPORT_REASON3','REPORT_CONTENT','USE_FLAG','CREATE_DATETIME']">
        </mat-row>
    </mat-table>
</cdk-virtual-scroll-viewport>
