<div class="line_bank_bankground_color">
  <nz-page-header class="site-page-header" style=" width: 100%;z-index: 60;">

    <nz-breadcrumb nz-page-header-breadcrumb>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page1" (click)="changePage(Page.Page1)">
        <a>案件清單</a>
      </nz-breadcrumb-item>
      <nz-breadcrumb-item [class.active]="nowPage === Page.Page2" (click)="changePage(Page.Page2)">
        <nz-badge [nzCount]="num" [nzTitle]="null" [nzOffset]="[10, -1]"><a>徵信通報</a></nz-badge>
      </nz-breadcrumb-item>
    </nz-breadcrumb>
  </nz-page-header>
  <!-- <button class="btn" [class.active]="nowPage === Page.Page1" style="margin-bottom: 5px; margin-left: 5px;"
      mat-stroked-button (click)="changePage(Page.Page1)">案件清單</button>
    <nz-badge [nzCount]="num">
      <button class="btn" [class.active]="nowPage === Page.Page2" style="margin-bottom: 5px; margin-left: 5px"
        mat-stroked-button (click)="changePage(Page.Page2)">徵信通報</button>
    </nz-badge> -->
  <ng-container appDynamic></ng-container>
</div>
