
:host{
  display: flex;
  flex-direction: column;
  flex: 1;
}

:host{
  display: flex;
  flex-direction: column;
  flex: 1;
}
.ant-table-body {
  max-height: 100vh;
}
:root  tbody tr{
  max-height: 100vh;
}
.line_bank_bankground_color {
display: flex;
flex-direction: column;
}

/* .header {

} */

.content {
position: relative;
flex: 1;
}

.abs-box {
position: absolute;
left: 0;
top: 0;
width: 100%;
height: 100%;
overflow: auto;
}


mat-grid-tile {
  background: white;
}

.table-header{
  background-color:#ededed;
  color:#848E9C;
  margin-bottom: 1px;
  font-size: 14px;
}
.table-data{
  background-color:white;
  border: 1px solid #e8e8e8;
  color:black;
  margin-bottom: 1px;
  font-size: 14px;
}
input{
  background-color:#E6E6E6;
  border-radius: 10px;
  height:30px;
  width:100%;
  border: 1px solid #c9c9c9;
}
.form-title{
  color:#2E4765;
  font-weight: 500;
  display:block;
}

::ng-deep.ant-table.ant-table-small .ant-table-title{
  color:#2E4765;
  font-size:18px;
  border-radius:5px 5px 0 0;
  background-color:#BFECD0;
  font-weight: 500;
  text-align: center;
  border: 1px solid #DBDBDB;

}
.ant-btn-primary{
  color:#24C875;
  font-size:16px;
  width:100px;
  height:50px;
  background:white;
  border-color:#24C875;
  border-radius:5px;

}
.ant-btn-primary:hover{
  color:#ffffff;
  background:#24C875;
  border-color:#24C875;
  border-radius:5px;
  box-shadow:0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-primary:active{
  color:#ffffff;
  background:#24C875;
  border-color:#24C875;
  border-radius:5px;

}

#test{
  color:#24C875;
  font-size:12px;
  width:60px;
  height:30px;
  background:white;
  border-color:#24C875;
  border-radius:5px;

}
#test:hover{
  color:#ffffff;
  background:#24C875;
  border-color:#24C875;
  border-radius:5px;
  box-shadow:0 2px 0 rgb(0 0 0 / 5%);
}
#test:active{
  color:#ffffff;
  background:#24C875;
  border-color:#24C875;
  border-radius:5px;

}

.flex-container {
  display: flex;
}
:host::ng-deep.ant-select:not(.ant-select-customize-input) .ant-select-selector{
width:200px;
border-radius:10px;
background-color:#DBDBDB ;
border:1px solid  #c9c9c9;
}
:host::ng-deep.ant-page-header{
  padding: 15px 28px 0px 28px;
}
:host::ng-deep.ant-breadcrumb+.ant-page-header-heading{
  margin-top: 0px;
}
.oncloick{
  color: blueviolet!important;
}

.unclock{
  color: cornflowerblue!important;
}
