<br>
<!-- 頁面背景 -->
<div class="line_bank_bankground_color">
  <!-- 最外層卡片包覆 -->
  <div class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="creditLevelSource" [nzFrontPagination]="false" [nzSimple]="true"
      [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)" nzSize="small" nzTitle="審核歷程">
      <thead>
        <tr>
          <th class="table-header">NO</th>
          <th class="table-header">核決層級</th>
          <th class="table-header">審決人員</th>
          <th class="table-header"  [nzSortFn]="data">核決日期</th>
          <th class="table-header">核決結果</th>
          <!-- <th class="table-header">原因碼</th> -->
          <th class="table-header">徵審註記</th>
          <th class="table-header">轉件員編</th>
          <!-- <th class="table-header" (nzSortOrderChange)="sortChange($event)" [nzSortFn]="true" [nzSortOrder]="'ascend'">開始日期時間</th>
          <th class="table-header">結束日期時間</th> -->
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of creditLevelSource;let i = index;">
          <td class="table-data">{{ i+1}}</td>
          <td class="table-data">{{data.CREDIT_LEVEL}}</td>
          <td class="table-data">{{data.CREDIT_EMP}}</td>
          <td class="table-data">{{data.CREDIT_TIME}}</td>
          <td class="table-data">{{data.CREDIT_RESULT}}</td>
          <!-- <td class="table-data">{{data.CREDIT_RESULT}}</td> -->
          <td class="table-data">{{data.CREDIT_CONTANT}}</td>
          <td class="table-data">{{data.TRANS_EMPNO}}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>