<div class="line_bank_bankground_color">
    <br>
    <div class="line_bank_card_no_padding">
        <div nz-row>
            <div nz-col nzSpan="12">
                <div style="padding:10px"><span class="form-title">身分證字號:</span>
                    <input
                        style="display: block;width: 95%;" [(ngModel)]="nationalId" name="nationalId"></div>
            </div>
            <div nz-col nzSpan="12">
                <div style="padding:10px"><span class="form-title">Customer ID：</span><input
                        style="display: block;width: 95%;" [(ngModel)]="custId" name="custId"></div>
            </div>
        </div>
        <div style="padding-bottom: 20px; margin-top: 20px; z-index:90;text-align: center">
            <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
                (click)="getTargetCustList()">查詢</button>
            <button nz-button [nzSize]="'middle'" nzDanger style="margin:0px 5px" (click)="clear()">清除資料</button>
        </div>
    </div>
    <div class="line_bank_card_no_padding">
        <nz-table nzShowSizeChanger [nzData]="targetCustSource" [nzFrontPagination]="false" [nzSimple]="true"
            [nzLoading]="false" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex" nzSize="small"
            nzSize="small" nzTitle="人工凍結解凍降額">
            <thead>
                <tr>
                    <th class="table-header">層級</th>
                    <th class="table-header">額度號</th>
                    <th class="table-header">上層額度號</th>
                    <th class="table-header">額度類別代碼</th>
                    <th class="table-header">額度起日</th>
                    <th class="table-header">額度訖日</th>
                    <th class="table-header">核准額度</th>
                    <th class="table-header">已動撥金額</th>
                    <th class="table-header">預佔額度</th>
                    <th class="table-header">目前可動用額度</th>
                    <th class="table-header">停用註記</th>
                    <th class="table-header">停用日期</th>
                    <th class="table-header">循環別</th>
                    <th class="table-header">是否可撤銷</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of targetCustSource ">
                    <td class="table-data" style="text-align: center;">{{row.levelNo}}</td>
                    <td class="table-data">{{row.limitNo}}</td>
                    <td class="table-data">{{row.upLevel}}</td>
                    <td class="table-data">{{row.limitTypeCode}}</td>
                    <td class="table-data">{{row.limitStartDate}}</td>
                    <td class="table-data">{{row.limitEndDate}}</td>
                    <td class="table-data">{{toCurrency(row.creditLimit)}}</td>
                    <td class="table-data">{{toCurrency(row.usedLimit)}}</td>
                    <td class="table-data">{{toCurrency(row.reserveLimit)}}</td>
                    <td class="table-data">{{toCurrency(row.activeLimit)}}</td>
                    <td class="table-data" [ngClass]="row.stopFlag==='Y'?'green':'red'" style="text-align: center;">
                        {{row.stopFlag}}</td>
                    <td class="table-data">{{row.stopDate}}</td>
                    <td class="table-data" [ngClass]="row.stopFlag==='Y'?'green':'red'" style="text-align: center;">
                        {{row.cycleType}}</td>
                    <td class="table-data" [ngClass]="row.stopFlag==='Y'?'green':'red'" style="text-align: center;">
                        {{row.cancelFlag}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div class="line_bank_card_no_padding" style="border-radius: 0px 0px 0px 0px;">
        <nz-table [nzData]="creditMainSource" nzShowSizeChanger nzFrontPagination="false" nzSimple="true" nzSize="small"
            nzTitle="貸後管理紀錄">
            <thead>
                <tr>
                    <th class="table-header">案件編號</th>
                    <th class="table-header">案件狀態</th>
                    <th class="table-header">審核結束時間</th>
                    <th class="table-header">核決結果</th>
                    <th class="table-header">覆審人員</th>
                    <th class="table-header">覆審主管</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let row of creditMainSource">
                    <!-- <td class="table-data">
                        <button nz-button [nzSize]="'middle'" nzType="link"
                        [disabled]="true" (click)="toCalloutPage(row.swcApplno)">
                        {{row.swcApplno}}
                      </button>
                    </td> -->
                    <td class="table-data">
                        <button nz-button nzType="link" (click)="toCalloutPage(row.APPLNO)">
                            {{row.APPLNO}}
                        </button>
                    </td>
                    <td class="table-data">{{row.OP_ID}}</td>
                    <td class="table-data">{{row.CREDIT_END_TIME}}</td>
                    <td class="table-data">{{row.CREDIT_RESULT}}</td>
                    <td class="table-data">{{row.L4EMPNO}}</td>
                    <td class="table-data">{{row.L3EMPNO}}</td>
                </tr>
            </tbody>
        </nz-table>
    </div>
    <div class="line_bank_card_no_padding">
        <div class="line_bank_form_header_title">執行內容</div>
        <div nz-row style="padding:10px">
            <div nz-col nzSpan="4">
                <div style="padding:3px"><span class="form-title ">本次執行原因</span>
                    <mat-select [(ngModel)]="reasonValue" name="reasonValue" (ngModelChange)="changereasonDetail()">
                        <mat-option *ngFor="let item of reasonCode" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div nz-col nzSpan="1">
            </div>
            <div nz-col nzSpan="9">
                <div style="padding:3px"><span class="form-title">本次執行原因細項</span>
                    <mat-select [(ngModel)]="reasonDetail" name="reasonDetail">
                        <mat-option *ngFor="let item of reasonDetailCode" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div nz-col nzSpan="10">
            </div>
        </div>
        <div nz-row style="padding:10px">
            <div nz-col nzSpan="4">
                <div style="padding:3px"><span class="form-title">本次執行措施策略</span>
                    <mat-select [(ngModel)]="executeValue" name="executeValue" >
                        <mat-option *ngFor="let item of executeCode" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div nz-col nzSpan="1">
            </div>
            <div nz-col nzSpan="9">
                <div style="padding:3px"><span class="form-title">選擇額度號</span>
                    <mat-select [(ngModel)]="limitNo" name="limitNo">
                        <mat-option *ngFor="let item of limitCode" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
            </div>
            <div nz-col nzSpan="1">
            </div>
            <div nz-col nzSpan="9">
                <div style="padding:3px"><span class="form-title">預佔額度</span>
                    <input matInput #input [(ngModel)]="reserveLimit" name="reserveLimit" [disabled]="executeValue!='HLD'">
                </div>
            </div>
        </div>
        <div class="line_bank_form_header_title" style="border-radius: 0px;"></div>
        <div nz-row style="padding:10px">
            <div nz-col nzSpan="4" style="padding:30px 0px">
                <div>
                    <span class="form-title line_bank_h4">通知客戶</span>
                    <mat-select [(ngModel)]="YNValue" name="YNValue">
                        <mat-option *ngFor="let item of YNCode" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>
                <div style="margin-top:20px">
                    <span class="form-title">通知方式</span>
                    <mat-select [(ngModel)]="contact" name="contact">
                        <mat-option *ngFor="let item of contactCode" [value]="item.value">
                            {{item.viewValue}}
                        </mat-option>
                    </mat-select>
                </div>

            </div>
            <div nz-col nzSpan="1">
            </div>
            <div nz-col nzSpan="19">
                <div style="padding:3px"><span class="form-title">通知內容</span>
                    <textarea [(ngModel)]="contactContent" placeholder="請輸入內容" name="contactContent"
                        class="input-textarea" style="text-align: left;height:150px">
                    </textarea>
                </div>
            </div>


        </div>

        <div class="line_bank_form_header_title" style="border-radius: 0px;"></div>
        <div nz-row style="padding:10px">
            <div nz-col nzSpan="4" style="padding:25px 0px">
                <div>
                    <span class="form-title line_bank_h4">本次執行時間:</span>
                    <input matInput #input [(ngModel)]="creditTime" name="creditTime" disabled>
                </div>
                <div style="margin-top:20px">
                    <span class="form-title">執行員編:</span>
                    <input matInput #input [(ngModel)]="creditEmpno" name="creditEmpno" disabled>
                </div>

            </div>
            <div nz-col nzSpan="1">
            </div>
            <div nz-col nzSpan="19">
                <div style="padding:3px"><span class="form-title">本次執行說明</span>
                    <textarea matInput [(ngModel)]="creditMemo" placeholder="請輸入內容" name="creditMemo"
                        class="input-textarea" style="text-align: left;height:150px">
                    </textarea>
                </div>
            </div>


        </div>
        <div style="text-align: center;">
            <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="save()">送出主管</button>
        </div>
        <br>


        <div *ngIf="page=='16'">
         <div class="line_bank_form_header_title" style="border-radius: 0px;"></div>
            <div nz-row style="padding:10px">
                <div nz-col nzSpan="4" style="padding:10px 0px">
                    <div>
                        <span class="form-title line_bank_h4">主管核決</span>
                        <mat-select [(ngModel)]="bossCreditValue" name="bossCreditValue">
                            <mat-option *ngFor="let item of bossCreditCode" [value]="item.value">
                                {{item.viewValue}}
                            </mat-option>
                        </mat-select>
                    </div>
                    <div style="margin-top:20px">
                        <span class="form-title">主管覆核時間:</span>
                        <input matInput #input [(ngModel)]="bossTime" name="bossTime" disabled>
    
                    </div>
                    <div style="margin-top:20px">
                        <span class="form-title">主管覆核員編:</span>
                        <input matInput #input [(ngModel)]="bossEmpno" name="bossEmpno" disabled>
    
                    </div>
    
                </div>
                <div nz-col nzSpan="1">
                </div>
                <div nz-col nzSpan="19">
                    <div style="padding:3px"><span class="form-title">主管覆核</span>
                        <textarea matInput class="input-textarea" placeholder="請輸入內容" [(ngModel)]="bossContent"
                            name="bossContent" style="text-align: left;height:200px">
                        </textarea>
                    </div>
                </div>
    
    
            </div>
            <div style="text-align: center;">
                <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="save()">送出</button>
            </div>
            <br>
        </div>
    </div>