<!-- 頁面背景 -->
<div class="line_bank_bankground_color">
  <div style="padding-left: 20px; padding-top: 20px;">
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="addNew()">新增</button>
    <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px" (click)="Clear()">清除資料</button>
  </div>
  <!-- 最外層卡片包覆 -->
  <div class="line_bank_card_no_padding">
    <div style="padding:10px"><span class="form-title">原因碼類別</span>
      <nz-select [(ngModel)]="selectedAdrValue" name="adrType" (ngModelChange)="changeSelect()">
        <nz-option nzValue="{{code.value}}" *ngFor="let code of adrType" nzLabel="{{code.viewValue}}"></nz-option>
      </nz-select>
    </div>
    <div style="padding:10px"><span class="form-title">第二層</span>
      <nz-select [(ngModel)]="selectedSecondValue" name="secondType" (ngModelChange)="changeSelectSecond()">
        <nz-option nzValue="{{code.value}}" *ngFor="let code of secondType" nzLabel="{{code.viewValue}}"></nz-option>
      </nz-select>
    </div>
    <ng-container *ngIf=" selectedAdrValue == 'FM' ">
      <div style="padding:10px"><span class="form-title">第三層</span>
        <nz-select [(ngModel)]="selectedThirdValue" name="thirdType" (ngModelChange)="changeSelectThird()">
          <nz-option nzValue="{{code.value}}" *ngFor="let code of thirdType" nzLabel="{{code.viewValue}}"></nz-option>
        </nz-select>
      </div>
    </ng-container>
    <br>
  </div>
  <!-- 最外層卡片包覆 -->
  <div class="line_bank_card_no_padding">
    <!-- 表格 -->
    <nz-table nzShowSizeChanger [nzData]="adrCodeSource" [nzFrontPagination]="false" [nzSimple]="true"
      [nzLoading]="loading" [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)" nzSize="small" nzTitle="原因碼維護">
      <thead>
        <tr>
          <th class="table-header">原因碼類別</th>
          <th class="table-header">上層原因碼</th>
          <th class="table-header">原因碼</th>
          <th class="table-header">原因碼說明</th>
          <th class="table-header">排序</th>
          <th class="table-header">是否停用</th>
          <th class="table-header">編輯</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of adrCodeSource">
          <td class="table-data">{{ data.reasonKind }}</td>
          <td class="table-data">{{ data.upReasonCode }}</td>
          <td class="table-data">{{ data.reasonCode }}</td>
          <td class="table-data">{{ data.reasonDesc }}</td>
          <td class="table-data">{{ data.reasonSort }}</td>
          <td class="table-data">{{ data.reasonFlag }}</td>
          <td class="table-data">
            <button nz-button [nzSize]="'middle'" nzType="primary"
              (click)="startEdit(
              data.reasonKind, data.upReasonCode, data.reasonCode, data.reasonDesc, data.reasonSort, data.reasonFlag)">編輯</button>
          </td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>
