<table style="padding-left: 20px;">
  <br>
  <mat-card class="matCard">
    <mat-card-content>
      <tr>
        <th>原因碼類別：</th>
        <td>
          <mat-form-field color="accent">
            <mat-select [(ngModel)]="selectedAdrValue" name="adrType" (ngModelChange)="changeSelect()">
              <mat-option *ngFor="let code of adrType" [value]="code.value">
                {{code.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <th>第二層：</th>
        <td>
          <mat-form-field color="accent">
            <mat-select [(ngModel)]="selectedSecondValue" name="secondType" (ngModelChange)="changeSelectSecond()">
              <mat-option *ngFor="let code of secondType" [value]="code.value">
                {{code.viewValue}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </td>
        <ng-container *ngIf=" selectedAdrValue == 'FM' ">
          <th>第三層：</th>
          <td>
            <mat-form-field color="accent">
              <mat-select [(ngModel)]="selectedThirdValue" name="thirdType" (ngModelChange)="changeSelectThird()">
                <mat-option *ngFor="let code of thirdType" [value]="code.value">
                  {{code.viewValue}}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </td>
          </ng-container>
          <td style="width: 10px;">
          </td>
      </tr>
    </mat-card-content>
  </mat-card>
</table>

<mat-table [dataSource]="adrCodeSource" matSort (matSortChange)="changeSort($event)">
  <ng-container matColumnDef="reasonKind">
    <mat-header-cell *matHeaderCellDef>原因碼類別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.reasonKind }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="upReasonCode">
    <mat-header-cell *matHeaderCellDef>上層原因碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.upReasonCode }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reasonCode">
    <mat-header-cell *matHeaderCellDef mat-sort-header>原因碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.reasonCode }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reasonDesc">
    <mat-header-cell *matHeaderCellDef mat-sort-header>原因碼說明</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.reasonDesc }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reasonSort">
    <mat-header-cell *matHeaderCellDef mat-sort-header>排序</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.reasonSort }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="reasonFlag">
    <mat-header-cell *matHeaderCellDef mat-sort-header>是否停用</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.reasonFlag }}</mat-cell>
  </ng-container>

  <!-- actions -->
  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef>
      <button mat-icon-button color="primary" (click)="addNew()">
        <mat-icon aria-label="Example icon-button with a heart icon">add</mat-icon>
      </button>
    </mat-header-cell>

    <mat-cell *matCellDef="let row; let i=index;">
      <button mat-icon-button color="accent" (click)="startEdit(i,
          row.reasonKind, row.upReasonCode, row.reasonCode, row.reasonDesc, row.reasonSort, row.reasonFlag)">
        <mat-icon aria-label="Edit">edit</mat-icon>
      </button>
    </mat-cell>
  </ng-container>

  <mat-header-row
    *matHeaderRowDef="['reasonKind', 'upReasonCode', 'reasonCode', 'reasonDesc', 'reasonSort', 'reasonFlag', 'actions']">
  </mat-header-row>
  <mat-row
    *matRowDef="let mappingCodeRow; columns: ['reasonKind', 'upReasonCode', 'reasonCode', 'reasonDesc', 'reasonSort', 'reasonFlag', 'actions']">
  </mat-row>
</mat-table>
<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
