<mat-toolbar class="line_bank_form_header_title_color" style="z-index:50;position:fixed">
  <mat-toolbar-row>
    <img src="assets\images\LineBank.png" width="12%" (click)="goHome()">
    <button mat-button [matMenuTriggerFor]="aboveMenu" *ngFor="let menu of getMenu()"
      style="width:11%;text-align: center;">
      <!-- <mat-icon style="display:inline-block;position:relative;bottom:7px">{{menu.getIcon()}}</mat-icon> -->
      <!-- <img *ngIf="menu.getIcon()=='person_outline'" width="13%" src="assets\images\outline_person_black_48dp.png"> -->
      <!-- <img *ngIf="menu.getIcon()=='search'" width="13%" src="assets\images\outline_search_black_48dp.png">
      <img *ngIf="menu.getIcon()=='report'" width="13%" src="assets\images\outline_equalizer_black_48dp.png">
      <img *ngIf="menu.getIcon()=='autorenew'" width="13%" src="assets\images\outline_autorenew_black_48dp.png">
      <img *ngIf="menu.getIcon()=='equalizer'" width="13%" src="assets\images\outline_equalizer_black_48dp.png"> -->
      <fa-icon *ngIf="menu.getIcon()=='person_outline'" width="13%" [icon]="['fas', 'user']"></fa-icon>
      <fa-icon *ngIf="menu.getIcon()=='search'" width="13%" [icon]="['fas', 'search']"></fa-icon>
      <fa-icon *ngIf="menu.getIcon()=='report'" width="13%" [icon]="['fas', 'chart-bar']"></fa-icon>
      <fa-icon *ngIf="menu.getIcon()=='autorenew'" width="13%" [icon]="['fas', 'sync-alt']"></fa-icon>
      <fa-icon *ngIf="menu.getIcon()=='equalizer'" width="13%" [icon]="['fas', 'user-cog']"></fa-icon>

      {{menu.getTitle()}}
      <mat-menu #aboveMenu="matMenu" yPosition="below" style="font-size:25px">
        <button mat-menu-item *ngFor="let map of menu.getMenuList() | keyvalue: returnZero" [routerLink]="map.value">
          {{map.key}}
        </button>
      </mat-menu>
    </button>
    <span class="example-spacer"></span>

    <!-- <ul nz-menu nzMode="horizontal" style="background-color: transparent;">
      <button mat-button *ngFor="let menu of getMenu()" style="margin: 0px 20px; text-align: center;">
        <img *ngIf="menu.getIcon()=='person_outline'" width="19%" src="assets\images\outline_person_black_48dp.png">
        <img *ngIf="menu.getIcon()=='search'" width="19%" src="assets\images\outline_search_black_48dp.png">
        <img *ngIf="menu.getIcon()=='report'" width="19%" src="assets\images\outline_equalizer_black_48dp.png">
        <img *ngIf="menu.getIcon()=='autorenew'" width="19%" src="assets\images\outline_autorenew_black_48dp.png">
        <img *ngIf="menu.getIcon()=='equalizer'" width="19%" src="assets\images\outline_equalizer_black_48dp.png">
        <li nz-submenu nzTitle="{{menu.getTitle()}}" yPosition="below" style="font-size:25px">
          <ul>
            <li nz-submenu nzTitle="徵審">
              <ul>
                <ng-container *ngFor="let map of menu.getMenuList() | keyvalue: returnZero">
                  <ng-container *ngIf="map.key.indexOf('覆審')">
                    <li nz-menu-item>
                      <button mat-menu-item [routerLink]="map.value">
                        {{map.key}}
                      </button>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </li>
          </ul>
          <ul>
            <li nz-submenu nzTitle="覆審">
              <ul>
                <ng-container *ngFor="let map of menu.getMenuList() | keyvalue: returnZero">
                  <ng-container *ngIf="!map.key.indexOf('覆審')">
                    <li nz-menu-item>
                      <button mat-menu-item [routerLink]="map.value">
                        {{map.key}}
                      </button>
                    </li>
                  </ng-container>
                </ng-container>
              </ul>
            </li>
          </ul>
        </li>
      </button>
      <span class="example-spacer"></span>
    </ul> -->

    <nz-card nzHoverable style="width:10%;height:60%;position:relative" [nzCover]="coverTemplate">
      <nz-card-meta nzDescription="{{empNo}}" style="position:absolute;top:15px;left:30px"></nz-card-meta>
    </nz-card>
    <ng-template #coverTemplate>
      <!-- <nz-avatar nzIcon="user" nzSrc="//zos.alipayobjects.com/rmsportal/ODTLcjxAfvqbxHnVXCYX.png" class="user-avatar">
      </nz-avatar> -->
      <!-- <img src="assets/images/user.png" class="user-avatar"> -->
      <!-- <mat-icon [matMenuTriggerFor]="menu" aria-label="User"
      style="position: absolute; top:16px;right:20px">xxwmore_horiz</mat-icon> -->
      <!-- <img src="assets/images/outline_more_horiz_black_48dp.png" [matMenuTriggerFor]="menu" class="position_top2"> -->
      <fa-icon class="ellipsisIcon_size" [matMenuTriggerFor]="menu" [icon]="['fas', 'ellipsis-h']" ></fa-icon>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="logOut()">
          <!-- <mat-icon>exit_to_app</mat-icon> -->
          <fa-icon class="icon_size" [icon]="['fas', 'share-square']" ></fa-icon>
          <!-- <img width="25%" src="assets/images/outline_exit_to_app_black_48dp.png" class="position_top"> -->
          <span>登出</span>
        </button>
        <!-- <button mat-menu-item (click)="input()">
          <span>進件</span>
        </button> -->
      </mat-menu>
    </ng-template>
  </mat-toolbar-row>
</mat-toolbar>
<router-outlet class="router" style="padding-top: 45px;"></router-outlet>
