<th class="f01_th">KRM043</th>
<br>
<mat-table [dataSource]="KRM043Source" matSortDisableClear>
  <ng-container matColumnDef="IDN_BAN">
    <mat-header-cell *matHeaderCellDef>身分證號/統編</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IDN_BAN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DATA_DATE">
    <mat-header-cell *matHeaderCellDef>資料日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_DATE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ISSUE">
    <mat-header-cell *matHeaderCellDef>報送機構代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ISSUE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ISSUE_NAME">
    <mat-header-cell *matHeaderCellDef>報送機構名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ISSUE_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CNAME">
    <mat-header-cell *matHeaderCellDef>中文姓名/戶名</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CNAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ENAME">
    <mat-header-cell *matHeaderCellDef>英文姓名/戶名</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ENAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BIRTH">
    <mat-header-cell *matHeaderCellDef>出生/設立日期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BIRTH }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="EDU_CODE">
    <mat-header-cell *matHeaderCellDef>教育程度代碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.EDU_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="EDU_NAME">
    <mat-header-cell *matHeaderCellDef>教育程度名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.IDN_BAN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="RADDR">
    <mat-header-cell *matHeaderCellDef>戶籍地址</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.RADDR }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="MADDR">
    <mat-header-cell *matHeaderCellDef>寄單地址</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.MADDR }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['IDN_BAN', 'DATA_DATE', 'ISSUE', 'ISSUE_NAME', 'CNAME', 'ENAME', 'BIRTH',
  'EDU_CODE', 'EDU_NAME', 'RADDR', 'MADDR']"></mat-header-row>
 <mat-row *matRowDef="let KRM043SourceRow; columns: ['IDN_BAN', 'DATA_DATE', 'ISSUE','ISSUE_NAME', 'CNAME', 'ENAME', 'BIRTH',
 'EDU_CODE', 'EDU_NAME', 'RADDR', 'MADDR']"></mat-row>
 </mat-table>

 <mat-table [dataSource]="KRM043Source" matSortDisableClear>
  <ng-container matColumnDef="H_CODE">
    <mat-header-cell *matHeaderCellDef>有無自有住宅/營業場所</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.H_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="H_TEL">
    <mat-header-cell *matHeaderCellDef>居住/營業電話</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.H_TEL }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="O_TEL">
    <mat-header-cell *matHeaderCellDef>任職電話</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.O_TEL }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="M_TEL">
    <mat-header-cell *matHeaderCellDef>行動電話</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.M_TEL }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ONAME">
    <mat-header-cell *matHeaderCellDef>任職機構</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ONAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="TITLE">
    <mat-header-cell *matHeaderCellDef>職稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.TITLE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PROS_CODE">
    <mat-header-cell *matHeaderCellDef>職業類別代碼</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PROS_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PROS_NAME">
    <mat-header-cell *matHeaderCellDef>職業類別名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PROS_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="SALARY">
    <mat-header-cell *matHeaderCellDef>年薪/營業額(千元)</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.SALARY }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="SENIOR">
    <mat-header-cell *matHeaderCellDef>服務年資/營業年數</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.SENIOR }}</mat-cell>
  </ng-container>

<mat-header-row *matHeaderRowDef="['H_CODE','H_TEL', 'O_TEL', 'M_TEL', 'ONAME', 'TITLE',
  'PROS_CODE', 'PROS_NAME', 'SALARY', 'SENIOR']"></mat-header-row>
<mat-row *matRowDef="let KRM043SourceRow; columns: ['H_CODE','H_TEL', 'O_TEL', 'M_TEL',
 'ONAME', 'TITLE','PROS_CODE', 'PROS_NAME', 'SALARY', 'SENIOR']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>



































































<!-- <div>
  <table class="form1">
    <tr class="tbTitle">
      <th nowrap="nowrap">身分證號/統編</th>
      <th nowrap="nowrap">資料日期</th>
      <th nowrap="nowrap">報送機構代號</th>
      <th nowrap="nowrap">報送機構名稱</th>
      <th nowrap="nowrap">中文姓名/戶名</th>
      <th nowrap="nowrap">英文姓名/戶名</th>
      <th nowrap="nowrap">出生/設立日期</th>
      <th nowrap="nowrap">教育程度代碼</th>
      <th nowrap="nowrap">教育程度名稱</th>
      <th nowrap="nowrap">戶籍地址</th>
      <th nowrap="nowrap">寄單地址</th>
    </tr>
    <tr class="tbContext">
      <td>A123456789</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr class="tbTitle">
      <th nowrap="nowrap">有無自有住宅/營業場所</th>
      <th nowrap="nowrap">居住/營業電話</th>
      <th nowrap="nowrap">任職電話</th>
      <th nowrap="nowrap">行動電話</th>
      <th nowrap="nowrap">任職機構</th>
      <th nowrap="nowrap">職稱</th>
      <th nowrap="nowrap">職業類別代碼</th>
      <th nowrap="nowrap">職業類別名稱</th>
      <th nowrap="nowrap">年薪/營業額(千元)</th>
      <th nowrap="nowrap">服務年資/營業年數</th>
    </tr>
    <tr class="tbContext">
      <td>有</td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
  </table>
</div> -->
