<div class="container">
  <th class="f03_th">商品查詢</th>
  <form style="padding-left: 20px;">
    <table>
      <tr>
        <th>
          <button mat-raised-button color="primary" style="margin-right: 5px;" (click)="onSearch()">查詢</button>
        </th>
      </tr>
      <br>
      <mat-card class="matCard">
        <mat-card-content>
          <tr>
            <th nowrap="nowrap">業務別</th>
            <td>
              <mat-form-field color="accent">
                <mat-select [(ngModel)]="BUS_TYPECode_Selected" name="BUS_TYPECode">
                  <mat-option *ngFor="let busType of BusType" [value]="busType.viewValue">
                    {{busType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <th nowrap="nowrap">專案代號</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #inputstate class="form-control">
              </mat-form-field>
            </td>
            <th nowrap="nowrap">專案起始日期</th>
            <td>
              <mat-form-field appearance="fill">
                <input matInput [matDatepicker]="PRJ_START_DATE">
                <mat-datepicker-toggle matSuffix [for]="PRJ_START_DATE"></mat-datepicker-toggle>
                <mat-datepicker #PRJ_START_DATE></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap">產品性質</th>
            <td>
              <mat-form-field color="accent">
                <mat-select>
                  <mat-option *ngFor="let PRDType of PRD_TYPE" [value]="PRDType.value">
                    {{PRDType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <th nowrap="nowrap">是否啟用</th>
            <td>
              <mat-form-field color="accent">
                <mat-select>
                  <mat-option *ngFor="let enbType of Enable" [value]="enbType.value">
                    {{enbType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <th nowrap="nowrap">專案截止日期</th>
            <td>
              <mat-form-field appearance="fill">
                <input matInput [matDatepicker]="PRJ_END_DATE">
                <mat-datepicker-toggle matSuffix [for]="PRJ_END_DATE"></mat-datepicker-toggle>
                <mat-datepicker #PRJ_END_DATE></mat-datepicker>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap">專案群組</th>
            <td>
              <mat-form-field color="accent">
                <mat-select>
                  <mat-option *ngFor="let PRJType of PRJ_ITEM" [value]="PRJType.value">
                    {{PRJType.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </td>
            <th nowrap="nowrap">BT專案代號</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #inputstate class="form-control">
              </mat-form-field>
            </td>
          </tr>
        </mat-card-content>
      </mat-card>
    </table>
  </form>
</div>

<table *ngIf="tableBOOL" mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="Add">
    <th mat-header-cell *matHeaderCellDef> 按鈕 </th>
    <td mat-cell *matCellDef="let element">
      <button mat-button color="primary" (click)="Add(element)">複製</button>
    </td>
  </ng-container>

  <ng-container matColumnDef="No.">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element; index as i"> {{i+1}} </td>
  </ng-container>


  <ng-container matColumnDef="BUS_TYPECode">
    <th mat-header-cell *matHeaderCellDef> 業務別 </th>
    <td mat-cell *matCellDef="let element"> {{element.BUS_TYPECode}} </td>
  </ng-container>

  <ng-container matColumnDef="PRJ_CODE">
    <th mat-header-cell *matHeaderCellDef> 專案代號 </th>
    <td mat-cell *matCellDef="let element"> {{element.PRJ_CODE}} </td>
  </ng-container>

  <ng-container matColumnDef="PRJ_START_DATE">
    <th mat-header-cell *matHeaderCellDef> 專案起始日期 </th>
    <td mat-cell *matCellDef="let element"> {{element.PRJ_START_DATE|date:'yyyy-MM-dd HH:mm:ss'}} </td>
  </ng-container>




  <!-- <tr mat-header-row *matHeaderRowDef="displayedColumns" ></tr> -->
  <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr> -->
  <tr mat-header-row *matHeaderRowDef="['Add','No.', 'BUS_TYPECode', 'PRJ_CODE', 'PRJ_START_DATE']"></tr>
  <tr mat-row *matRowDef="let row; columns: ['Add','No.', 'BUS_TYPECode', 'PRJ_CODE', 'PRJ_START_DATE'];"></tr>
</table>
