<div class="line_bank_card_no_padding" style="min-height:170px">

  <div class="line_bank_form_header_title" [(hidden)]="insert">新增</div>
  <div class="line_bank_form_header_title" [(hidden)]="update">編輯</div>
  <div class="container" style="padding:20px">
    <form class="mat-dialog-content" #formControl="ngForm" [formGroup]="insertForm">
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div>
              <nz-form-label nzFor="website"><span class="form-title-actions">行職業代碼</span></nz-form-label>
              <input nz-input #input class="form-control" name="INDUC_CODE" formControlName="INDUC_CODE" readonly disabled>
            </div>
          </div>
        </div>

        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">行業Level1</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" name="INDUC_LEVEL1" formControlName="INDUC_LEVEL1" required
                [readonly]="insert">
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">行業Level1敘述</span>
            </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" name="INDUC_LEVEL1_DESC" formControlName="INDUC_LEVEL1_DESC"
                required>
            </nz-form-control>
          </div>
        </div>

      </div>

      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">行業Level2</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" name="INDUC_LEVEL2" formControlName="INDUC_LEVEL2" required
                [readonly]="insert">
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">行業Level2敘述</span>
            </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" name="INDUC_LEVEL2_DESC" formControlName="INDUC_LEVEL2_DESC"
                required>
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">職業碼</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" name="JOB_CODE" formControlName="JOB_CODE" required
                [readonly]="insert" (ngModelChange)="changeJobCodeSelect()">
            </nz-form-control>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">職業碼敘述</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" name="JOB_CODE_DESC" formControlName="JOB_CODE_DESC" required>
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">第10百分位薪資</span>
            </nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input nz-input #input class="form-control" name="TEN_PERCENT_SALARY" formControlName="TEN_PERCENT_SALARY"
                required>
            </nz-form-control>
          </div>
        </div>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">中位數薪資</span></nz-form-label>
            <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
              <input matInput #input class="form-control" name="codeTag" formControlName="MID_SALARY" required>
            </nz-form-control>
          </div>
        </div>
      </div>
      <div nz-row>
        <div nz-col nzSpan="8">
          <div class="form" style="padding:20px">
            <div>
              <nz-form-label nzFor="website" nzRequired><span class="form-title-actions">第90百分位薪資</span>
              </nz-form-label>
              <nz-form-control nzHasFeedback nzErrorTip="此欄位必填">
                <input matInput #input class="form-control" name="codeTag" formControlName="NINETY_PERCENT_SALARY"
                  required>
              </nz-form-control>
            </div>
          </div>
        </div>
      </div>
      <div mat-dialog-actions>
        <button nz-button [nzSize]="'middle'" nzType="primary" style="margin:0px 5px"
          (click)="insert == true ? updateData() : confirmAdd() ">儲存</button>
        <button nz-button [nzSize]="'middle'" nzType="primary" (click)="onNoClick()" tabindex="-1"
          style="margin:0px 5px">取消</button>
      </div>
      <br><br>
    </form>
  </div>
</div>
