<ng-container *ngIf="dateCode.length == 0; else elseTemplate">
  <br><br>
  <th style="padding-left: 20px;color: red;">查無行外資料</th>
</ng-container>
<ng-template #elseTemplate>
  <th style="padding-left: 20px;">查詢日期：</th>
  <td>
    <mat-form-field color="accent">
      <mat-select [(ngModel)]="dateValue" name="ynCode" (ngModelChange)="changeDate()">
        <mat-option *ngFor="let date of dateCode" [value]="date.value">
          {{date.viewValue}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </td>
  <br>
</ng-template>
<router-outlet></router-outlet>