<th class="f01_th">債權轉讓資料明細</th>
<br>
<mat-table [dataSource]="BAM608Source" matSortDisableClear>
  <ng-container matColumnDef="DATA_YYY">
    <mat-header-cell *matHeaderCellDef>債權轉讓年度</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_YYY }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="DATA_MM">
    <mat-header-cell *matHeaderCellDef>債權轉讓月份</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.DATA_MM }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_CODE">
    <mat-header-cell *matHeaderCellDef>行庫代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>行庫名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FOLL_IDN_BAN">
    <mat-header-cell *matHeaderCellDef>新債權人ID</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FOLL_IDN_BAN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FOLL_CNAME">
    <mat-header-cell *matHeaderCellDef>新債權人中文戶名</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FOLL_CNAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="FOLL_NO">
    <mat-header-cell *matHeaderCellDef>債權處理案號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.FOLL_NO }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACCOUNT_CODE">
    <mat-header-cell *matHeaderCellDef>科目別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ACCOUNT_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="ACCOUNT_CODE2">
    <mat-header-cell *matHeaderCellDef>科目別註記</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.ACCOUNT_CODE2 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PURPOSE_CODE">
    <mat-header-cell *matHeaderCellDef>用途別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PURPOSE_CODE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="CONTRACT_AMT">
    <mat-header-cell *matHeaderCellDef>綜合額度金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.CONTRACT_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="LOAN_AMT">
    <mat-header-cell *matHeaderCellDef>放款未逾期</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.LOAN_AMT }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="PASS_DUE_AMT">
    <mat-header-cell *matHeaderCellDef>逾期未還金額</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.PASS_DUE_AMT }}</mat-cell>
  </ng-container>
  <mat-header-row *matHeaderRowDef="['DATA_YYY', 'DATA_MM', 'BANK_CODE', 'BANK_NAME', 'FOLL_IDN_BAN', 'FOLL_CNAME', 'FOLL_CNAME', 'FOLL_NO', 'ACCOUNT_CODE', 'ACCOUNT_CODE2', 'PURPOSE_CODE', 'CONTRACT_AMT', 'LOAN_AMT', 'PASS_DUE_AMT']"></mat-header-row>
  <mat-row *matRowDef="let BAM608SourceRow; columns: ['DATA_YYY', 'DATA_MM', 'BANK_CODE', 'BANK_NAME', 'FOLL_IDN_BAN', 'FOLL_CNAME', 'FOLL_CNAME', 'FOLL_NO', 'ACCOUNT_CODE', 'ACCOUNT_CODE2', 'PURPOSE_CODE', 'CONTRACT_AMT', 'LOAN_AMT', 'PASS_DUE_AMT']"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
