::ng-deep.mat-grid-tile .mat-figure {
    width: 100px;
}


/* ::ng-deep.ant-tabs-top>.ant-tabs-nav .ant-tabs-ink-bar {
      display: none;
  } */

 :host:ng-deep.ant-tabs>.ant-tabs-nav {
    padding: 0px 10px 0px 5px;
}

 ::ng-deep.ant-tabs-tab button {
    background-color: #cccccc;
    color: #272d3b;
    border-color: #cccccc;
}

 ::ng-deep.ant-tabs-tab button:hover {
    background-color: #cccccc;
    color: #272d3b;
    border-color: #cccccc;
}

 ::ng-deep.ant-tabs-tab-active button {
    background-color: #909090;
    color: white;
}

 ::ng-deep.ant-btn-primary {
    background-color: #cccccc;
    color: #272d3b;
    border-color: #cccccc;
}

.resultBtn {
    background: #3378ff;
}

.file_btn {
    margin: 0px 10px;
    background-color: #cccccc;
    border-radius: 5px;
}

.arrow_btn {
    margin: 0px 1px;
    background-color: #cccccc;
    border-radius: 5px;
}

span {
    position: relative;
    font-size: 16px;
    cursor: pointer;
}

span::before {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #24c875;
    margin-bottom: -5px;
    transform-origin: center;
    transform: translate(-50%, 0) scaleX(0);
    transition: transform 0.3s ease-in-out;
}

span:hover::before {
    transform: translate(-50%, 0) scaleX(1);
}


/* :host {
    background: #f5f5f5;
    overflow: hidden;
    padding: 24px;
    display: block;
  } */

 ::ng-deep .ant-tabs>.ant-tabs-nav,
.ant-tabs>div>.ant-tabs-nav {
    background: #f5f5f5;
    overflow: hidden;
    padding: 0px;
}

 ::ng-deep.ant-tabs-tab+.ant-tabs-tab {
    margin-left: 10px;
}

#add {
    position: fixed;
    right: 10px;
    bottom: 10px;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background-color: rgb(190, 190, 190);
    color: #333;
}

#firstBtn {
    color: #FF602E;
    background: white;
    border-color: #FF602E;
    border-radius: 5px;
}

#firstBtn:hover {
    color: #ffffff;
    background: #FF602E;
    border-color: #FF602E;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

#firstBtn:active {
    color: #ffffff;
    background: #FF602E;
    border-color: #FF602E;
    border-radius: 5px;
}

#secondBtn {
    color: #FF602E;
    background: white;
    border-color: #FF602E;
    border-radius: 5px;
}

#secondBtn:hover {
    color: #ffffff;
    background: #FF602E;
    border-color: #FF602E;
    border-radius: 5px;
    box-shadow: 0 2px 0 rgb(0 0 0 / 5%);
}

#secondBtn:active {
    color: #ffffff;
    background: #FF602E;
    border-color: #FF602E;
    border-radius: 5px;
}