/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.login-background{
    background-image: url(src\assets\images\LineBank.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: left 50% top 0%;
    background-size: 50%;
  }
  
  .mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}
