/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.login-background{
    background-image: url(src\assets\images\LineBank.png);
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: left 50% top 0%;
    background-size: 50%;
  }

  .mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 10px;
  line-break: unset;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: middle;
}
.mat-row,
.mat-header-row {
  display: table-row;
}
body {
	touch-action: manipulation;
	-webkit-overflow-scrolling: touch;
	/* -ms-overflow-style: none; */
	overflow-x: hidden;
	/* user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
	-ms-user-select: none; */
	font-family: 'SF Pro TC', 'SF Pro Text', 'SF Pro Icons', 'PingFang TC', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
}
html {
	height: 100%;
	background: transparent;
	/* -webkit-overflow-scrolling: touch; */
	/* background-attachment: fixed; */
	/* overflow:   scroll; */
	/* overflow: -moz-hidden-unscrollable; */
	/* background-color: black; */
}
.line_bank_h1{
  font-size: 30px;
}
.line_bank_h2{
  font-size: 25px;
}
.line_bank_h3{
  font-size: 20px;
}
.line_bank_h4{
  font-size: 18px;
}
.line_bank_bankground_color{
  background-color: #FDF1DB;
}
.line_bank_form_header_color{
  background-color: #BFECD0;
}
.line_bank_form_header_title_color{
  background-color: #98CCFE;
}
.line_bank_card {
	position: relative;
  margin:10px auto;
	width: 95%;
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
	padding: 20px ;
}
.line_bank_card_no_padding {
	position: relative;
  margin:10px auto;
	width: 95%;
	background: white;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
	border-radius: 10px;
}
/* button{
background-color:white;
min-width: 50px;
font-size:15px;
color:#24C875;
border-radius: 10px;
border:none;
cursor: pointer;
padding:5px 10px;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
}
button:hover{
background-color:#24C875;
font-size:15px;
min-width: 50px;
color:#ffffff;
border-radius: 10px;
border:none;
cursor: pointer;
padding:5px 10px;
box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.19);
} */
