<!-- 頁面背景 -->
<div class="line_bank_bankground_color">

  <br>
  <div class="line_bank_card_no_padding">
    <div class="line_bank_form_header_title">錯誤件處理</div>

    <div nz-row>
      <div nz-col nzSpan="6">
        <div style="padding:10px"><span class="form-title">選擇流程:</span>
          <mat-select [(ngModel)]="selectedPagValue" placeholder="請選擇" name="pagCode" (ngModelChange)="choosePoint()">
            <mat-option *ngFor="let code of pagCode"
            [value]="code.value">{{code.label}}</mat-option>

          </mat-select>
        </div>
      </div>
      <div nz-col nzSpan="6">
        <div style="padding:10px"><span class="form-title">錯誤關卡：</span>
          <mat-select [(ngModel)]="selectedValue" placeholder="請選擇"  name="sysCode" (ngModelChange)="changeSelect()">
            <mat-option *ngFor="let code of sysCode" [value]="code.value">
              {{code.viewValue}}
            </mat-option>
          </mat-select>
        </div>
      </div>
      <div style="padding-left: 30px; padding-top: 30px;">
        <button nz-button [nzSize]="'middle'" nzType="primary" (click)="newSearch()">重查</button>
        &nbsp;&nbsp;
       <button nz-button [nzSize]="'middle'"nzDanger (click)="Decline()">婉拒</button>
      </div>

    </div>
  </div>

  <br>
  <div class="line_bank_card_no_padding">
    <nz-table nzShowSizeChanger [nzData]="roleFunctionSource.data" [nzFrontPagination]="false" [nzSimple]="true"
       [nzTotal]="total" [nzPageSize]="pageSize" [nzPageIndex]="pageIndex"
      (nzQueryParams)="onQueryParamsChange($event)" nzSize="small" nzTitle="錯誤件處理">
      <thead>
        <tr>
          <th class="table-header">
            <mat-checkbox color="primary" [(ngModel)]="isAllCheck" (change)="setAll($event.checked)">全選</mat-checkbox>
          </th>
          <th class="table-header">案件編號</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of roleFunctionSource.data; let i = index;">
          <td class="table-data">
            <mat-checkbox [(ngModel)]="chkArray[i].completed" color="primary"></mat-checkbox>
          </td>
          <td class="table-data">{{ data.applno }}</td>
        </tr>
      </tbody>
    </nz-table>
  </div>
</div>


