<th class="f01_th">KCM012</th>
<br>
<mat-table [dataSource]="KCM012Source" matSortDisableClear>
  <ng-container matColumnDef="BANK">
    <mat-header-cell *matHeaderCellDef>報送機構代號</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="BANK_NAME">
    <mat-header-cell *matHeaderCellDef>報送機構名稱</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.BANK_NAME }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="TYPE">
    <mat-header-cell *matHeaderCellDef>資料類別</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.TYPE }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="YN">
    <mat-header-cell *matHeaderCellDef>是否已報送為非學生身分</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.YN }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="YYYMM1">
    <mat-header-cell *matHeaderCellDef>學生身分起始報送年月</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.YYYMM1 }}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="YYYMM2">
    <mat-header-cell *matHeaderCellDef>非學生身分起始報送年月</mat-header-cell>
    <mat-cell *matCellDef="let row">{{ row.YYYMM2 }}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="['BANK', 'BANK_NAME','TYPE','YN','YYYMM1','YYYMM2'  ]"></mat-header-row>
  <mat-row *matRowDef="let KCM012SourceRow; columns: ['BANK', 'BANK_NAME','TYPE','YN' ,'YYYMM1','YYYMM2' ]"></mat-row>
</mat-table>

<tr>
  <td>
    <mat-paginator #paginator [length]="totalCount" [pageIndex]="0" [pageSize]="10"
      [pageSizeOptions]="[5, 10, 15, 50, 100]" [showFirstLastButtons]="true">
    </mat-paginator>
  </td>
</tr>
