.ant-btn-dangerous{
  color: #f80000;;
  background:white;
  border-color:#f80000;
  border-radius:5px;

}
.ant-btn-dangerous:hover{
  color:#ffffff;
  background:#f80000;
  border-color:#f80000;
  border-radius:5px;
  box-shadow:0 2px 0 rgb(0 0 0 / 5%);
}
.ant-btn-dangerous:active{
  color:#ffffff;
  background:#f80000;
  border-color:#f80000;
  border-radius:5px;
}
