<form [formGroup]="coreCustInfoForm" style="padding-left: 20px;">
  <table>
    <mat-card class="matCard">
      <mat-card-content>
        <tr>
          <th nowrap="nowrap" align="left">年齡</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="AGE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">星座</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="STAR_SIGN" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">生肖</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CHI_ZODIAC" readonly>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <th nowrap="nowrap" align="left">迄今往來</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="CONTACT_DATE" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">行內黑名單註記資訊</th>
          <td>
            <mat-form-field color="accent">
              <input matInput #input formControlName="BLACK_MARK_INFO" readonly>
            </mat-form-field>
          </td>
          <th nowrap="nowrap" align="left">Blocking code資訊</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="BLOCKING_CODE" readonly>
              </mat-form-field>
            </td>
        </tr>
        <tr>
            <th nowrap="nowrap" align="left">事故案件紀錄</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="ACCIDENT_RECORD" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">姓名</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="NAME" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">生日</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="BIRTHDAY" readonly>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap" align="left">教育程度</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="EDUCATION" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">本行Main Account開戶日期</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="ACC_OPEN_DATE" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">Account type</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="ACC_TYPE" readonly>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap" align="left">Login ID</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="LOGIN_ID" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">eMail</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="EMAIL" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">客戶填寫年收入</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="SALARY_YEAR" readonly>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap" align="left">行職業代碼</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="CP_NO" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">公司名稱</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="CP_NAME" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">公司電話</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="CP_TEL" readonly>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap" align="left">公司地址</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="CP_ADDR" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">職稱</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="CP_TITLE" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">行動電話</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="MOBILE" readonly>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap" align="left">戶籍電話</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="P_TEL" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">通訊電話</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="H_TEL" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">戶籍地址</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="P_ADDR" readonly>
              </mat-form-field>
            </td>
          </tr>
          <tr>
            <th nowrap="nowrap" align="left">通訊地址</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="H_ADDR" readonly>
              </mat-form-field>
            </td>
            <th nowrap="nowrap" align="left">寄卡地址</th>
            <td>
              <mat-form-field color="accent">
                <input matInput #input formControlName="SEND_CARD_ADDR" readonly>
              </mat-form-field>
            </td>
          </tr>
      </mat-card-content>
    </mat-card>
  </table>
</form>
