<br>
<div class="line_bank_card_no_padding" style="min-height:170px">
  <div class="line_bank_form_header_title">24hrs online apply and get money</div>
  <div nz-row>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">Interest</span><input matInput #input class="form-control"
          value="1.2%" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">Amount</span><input matInput #input class="form-control"
          value="$2,000,000" readonly></div>
    </div>
    <div nz-col nzFlex="1">
      <div style="padding:10px"><span class="form-title">Period</span><input matInput #input class="form-control"
          value="1year" readonly></div>
    </div>
  </div>
</div>
